<div class="category-menu-wrapper">
    <div class="wrapper-block">
        <div class="back-button third-controller">
            <img src="%=static=%img/general/icons/arrow-left.svg" alt="icon" class="left-icon third-controller">
            <span class="back-button__text third-controller">Назад</span>
        </div>
    </div>

    <div class="category-column">
            <div class="category-item">
                <p class="category-item__title">Посуда для детей</p>
                <img src="%=static=%img/general/icons/arrow-right.svg" alt="icon" class="category-item mobile ">
                <ul class="category-item__list">
                    <li class="category-list-button">
                        <div class="back-button fourth-controller">
                            <img src="%=static=%img/general/icons/arrow-left.svg" alt="icon" class="left-icon fourth-controller">
                            <span class="back-button__text fourth-controller">Назад</span>
                        </div>
                    </li>

                    <li class="category-list-item"><a href="#" class="category-list-item__link">Бутылочки, поилки</a></li>
                    <li class="category-list-item"><a href="#" class="category-list-item__link">Соски, носики, трубочки для бутылочек</a></li>
                    <li class="category-list-item"><a href="#" class="category-list-item__link">Пустышки	</a></li>
                    <li class="category-list-item"><a href="#" class="category-list-item__link">Посуда для кормления</a></li>
                    <li class="category-list-item"><a href="#" class="category-list-item__link">Аксессуары для кормления	</a></li>

                </ul>
            </div>
            <div class="category-item">
                <p class="category-item__title">Игрушки</p>
                <img src="%=static=%img/general/icons/arrow-right.svg" alt="icon" class="category-item mobile ">
                <ul class="category-item__list">
                    <li class="category-list-button">
                        <div class="back-button fourth-controller">
                            <img src="%=static=%img/general/icons/arrow-left.svg" alt="icon" class="left-icon fourth-controller">
                            <span class="back-button__text fourth-controller">Назад</span>
                        </div>
                    </li>

                    <li class="category-list-item"><a href="#" class="category-list-item__link">Игрушки, центры для малышей</a></li>
                    <li class="category-list-item"><a href="#" class="category-list-item__link">Игры для развития и творчества	</a></li>
                    <li class="category-list-item"><a href="#" class="category-list-item__link">Конструкторы	</a></li>
                    <li class="category-list-item"><a href="#" class="category-list-item__link">Сюжетно-ролевые наборы	</a></li>
                    <li class="category-list-item"><a href="#" class="category-list-item__link">Машинки, модели, оружие</a></li>

                    <li class="category-list-item all-categories">
                        <a href="#" class="category-list-item__link">
                            <span class="all-categories-text">Все категории</span><img src="%=static=%img/general/navigation/arrow.svg" alt="arrow" class="link-arrow">
                        </a>
                    </li>
                </ul>
            </div>
    </div>

    <div class="category-column">
            <div class="category-item">
                <p class="category-item__title">Стульчики для кормления</p>
                <img src="%=static=%img/general/icons/arrow-right.svg" alt="icon" class="category-item mobile ">
                <ul class="category-item__list">
                    <li class="category-list-button">
                        <div class="back-button fourth-controller">
                            <img src="%=static=%img/general/icons/arrow-left.svg" alt="icon" class="left-icon fourth-controller">
                            <span class="back-button__text fourth-controller">Назад</span>
                        </div>
                    </li>

                </ul>
            </div>
            <div class="category-item">
                <p class="category-item__title">Техника для кормления</p>
                <img src="%=static=%img/general/icons/arrow-right.svg" alt="icon" class="category-item mobile ">
                <ul class="category-item__list">
                    <li class="category-list-button">
                        <div class="back-button fourth-controller">
                            <img src="%=static=%img/general/icons/arrow-left.svg" alt="icon" class="left-icon fourth-controller">
                            <span class="back-button__text fourth-controller">Назад</span>
                        </div>
                    </li>

                </ul>
            </div>
    </div>

    <div class="category-column">
            <div class="category-item">
                <p class="category-item__title">Подгузники	</p>
                <img src="%=static=%img/general/icons/arrow-right.svg" alt="icon" class="category-item mobile ">
                <ul class="category-item__list">
                    <li class="category-list-button">
                        <div class="back-button fourth-controller">
                            <img src="%=static=%img/general/icons/arrow-left.svg" alt="icon" class="left-icon fourth-controller">
                            <span class="back-button__text fourth-controller">Назад</span>
                        </div>
                    </li>

                </ul>
            </div>
            <div class="category-item">
                <p class="category-item__title">Электроника</p>
                <img src="%=static=%img/general/icons/arrow-right.svg" alt="icon" class="category-item mobile ">
                <ul class="category-item__list">
                    <li class="category-list-button">
                        <div class="back-button fourth-controller">
                            <img src="%=static=%img/general/icons/arrow-left.svg" alt="icon" class="left-icon fourth-controller">
                            <span class="back-button__text fourth-controller">Назад</span>
                        </div>
                    </li>
                    <li class="category-list-item"><a href="#" class="category-list-item__link">Видеоняни и радионяни</a></li>
                    <li class="category-list-item"><a href="#" class="category-list-item__link">3D-принтеры и ручки </a></li>
                    <li class="category-list-item"><a href="#" class="category-list-item__link">Весы для новорожденных	</a></li>

                </ul>
            </div>
    </div>


    <div class="category-picture tovari-dlia-detei">
        <img src="%=static=%img/general/banners/tovari-dlia-detei.png" alt="image" class="category-picture__img">
    </div>
</div>