<div class="category-menu-wrapper">
        <div class="wrapper-block">
            <div class="back-button third-controller">
                <img src="%=static=%img/general/icons/arrow-left.svg" alt="icon" class="left-icon third-controller">
                <span class="back-button__text third-controller">Назад</span>
            </div>
        </div>

        <div class="category-column">
                <div class="category-item">
                    <p class="category-item__title">Кухонная посуда</p>
                    <img src="%=static=%img/general/icons/arrow-right.svg" alt="icon" class="category-item mobile ">
                    <ul class="category-item__list">
                        <li class="category-list-button">
                            <div class="back-button fourth-controller">
                                <img src="%=static=%img/general/icons/arrow-left.svg" alt="icon" class="left-icon fourth-controller">
                                <span class="back-button__text fourth-controller">Назад</span>
                            </div>
                        </li>
                        <li class="category-list-item"><a href="#" class="category-list-item__link">Наборы кастрюль и сковородок</a></li>
                        <li class="category-list-item"><a href="#" class="category-list-item__link">Сковородки</a></li>
                        <li class="category-list-item"><a href="#" class="category-list-item__link">Кастрюли</a></li>
                        <li class="category-list-item"><a href="#" class="category-list-item__link">Противни и формы для выпечки</a></li>
                        <li class="category-list-item"><a href="#" class="category-list-item__link">Чайники</a></li>

                        <li class="category-list-item all-categories">
                            <a href="#" class="category-list-item__link">
                                <span class="all-categories-text">Все категории</span><img src="%=static=%img/general/navigation/arrow.svg" alt="arrow" class="link-arrow">
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="category-item">
                    <p class="category-item__title">Кухонные аксессуары</p>
                    <img src="%=static=%img/general/icons/arrow-right.svg" alt="icon" class="category-item mobile ">
                    <ul class="category-item__list">
                        <li class="category-list-button">
                            <div class="back-button fourth-controller">
                                <img src="%=static=%img/general/icons/arrow-left.svg" alt="icon" class="left-icon fourth-controller">
                                <span class="back-button__text fourth-controller">Назад</span>
                            </div>
                        </li>

                        <li class="category-list-item"><a href="#" class="category-list-item__link">Лопатки</a></li>
                        <li class="category-list-item"><a href="#" class="category-list-item__link">Разделочные доски</a></li>
                        <li class="category-list-item"><a href="#" class="category-list-item__link">Емкости для хранения</a></li>
                        <li class="category-list-item"><a href="#" class="category-list-item__link">Мельницы, спецовницы</a></li>
                        <li class="category-list-item"><a href="#" class="category-list-item__link">Кухонные аксессуары</a></li>

                        <li class="category-list-item all-categories">
                            <a href="#" class="category-list-item__link">
                                <span class="all-categories-text">Все категории</span><img src="%=static=%img/general/navigation/arrow.svg" alt="arrow" class="link-arrow">
                            </a>
                        </li>
                    </ul>
                </div>
        </div>

        <div class="category-column">
                <div class="category-item">
                    <p class="category-item__title">Ножи</p>
                    <img src="%=static=%img/general/icons/arrow-right.svg" alt="icon" class="category-item mobile ">
                    <ul class="category-item__list">
                        <li class="category-list-button">
                            <div class="back-button fourth-controller">
                                <img src="%=static=%img/general/icons/arrow-left.svg" alt="icon" class="left-icon fourth-controller">
                                <span class="back-button__text fourth-controller">Назад</span>
                            </div>
                        </li>
                        <li class="category-list-item"><a href="#" class="category-list-item__link">Кухонные ножи</a></li>
                        <li class="category-list-item"><a href="#" class="category-list-item__link">Ножи спортивные, охотничьи</a></li>

                    </ul>
                </div>
                <div class="category-item">
                    <p class="category-item__title">Посуда для напитков</p>
                    <img src="%=static=%img/general/icons/arrow-right.svg" alt="icon" class="category-item mobile ">
                    <ul class="category-item__list">
                        <li class="category-list-button">
                            <div class="back-button fourth-controller">
                                <img src="%=static=%img/general/icons/arrow-left.svg" alt="icon" class="left-icon fourth-controller">
                                <span class="back-button__text fourth-controller">Назад</span>
                            </div>
                        </li>
                        <li class="category-list-item"><a href="/ru/shop/stakani-bokali-rumki" class="category-list-item__link">Стаканы, бокалы, рюмки</a></li>
                        <li class="category-list-item"><a href="#" class="category-list-item__link">Наборы для напитков, кувшины, графины</a></li>
                        <li class="category-list-item"><a href="#" class="category-list-item__link">Заварники</a></li>
                        <li class="category-list-item"><a href="#" class="category-list-item__link">Турки и кофеварки</a></li>
                        <li class="category-list-item"><a href="#" class="category-list-item__link">Чашки, кружки, бульонницы</a></li>

                    </ul>
                </div>
        </div>

        <div class="category-column">
                <div class="category-item">
                    <p class="category-item__title">Посуда для сервировки</p>
                    <img src="%=static=%img/general/icons/arrow-right.svg" alt="icon" class="category-item mobile ">
                    <ul class="category-item__list">
                        <li class="category-list-button">
                            <div class="back-button fourth-controller">
                                <img src="%=static=%img/general/icons/arrow-left.svg" alt="icon" class="left-icon fourth-controller">
                                <span class="back-button__text fourth-controller">Назад</span>
                            </div>
                        </li>
                        <li class="category-list-item"><a href="#" class="category-list-item__link">Сервизы</a></li>
                        <li class="category-list-item"><a href="#" class="category-list-item__link">Столовые приборы</a></li>
                        <li class="category-list-item"><a href="#" class="category-list-item__link">Салатники, миски, пиалы</a></li>
                        <li class="category-list-item"><a href="#" class="category-list-item__link">Тарелки</a></li>

                    </ul>
                </div>
                <div class="category-item">
                    <p class="category-item__title">Посуда для хранения</p>
                    <img src="%=static=%img/general/icons/arrow-right.svg" alt="icon" class="category-item mobile ">
                    <ul class="category-item__list">
                        <li class="category-list-button">
                            <div class="back-button fourth-controller">
                                <img src="%=static=%img/general/icons/arrow-left.svg" alt="icon" class="left-icon fourth-controller">
                                <span class="back-button__text fourth-controller">Назад</span>
                            </div>
                        </li>
                        <li class="category-list-item"><a href="#" class="category-list-item__link">Емкости для хранения</a></li>
                        <li class="category-list-item"><a href="#" class="category-list-item__link">Мельницы, спецовницы</a></li>
                        <li class="category-list-item"><a href="#" class="category-list-item__link">Ланч-боксы, контейнеры для еды</a></li>
                        <li class="category-list-item"><a href="#" class="category-list-item__link">Декор для дома</a></li>

                    </ul>
                </div>
        </div>


        <div class="category-picture posuda">
            <img src="%=static=%img/general/banners/posuda.png" alt="image" class="category-picture__img">
        </div>
    </div>