<div class="category-menu-wrapper">
	<div class="category-column">
		<div class="category-item">
			<p class="category-item__title">Крупная бытовая техника</p>
			<ul class="category-item__list">
				<li class="category-list-item"><a href="#" class="category-list-item__link">Холодильники</a></li>
				<li class="category-list-item"><a href="#" class="category-list-item__link">Морозильные камеры</a></li>
				<li class="category-list-item"><a href="#" class="category-list-item__link">Посудомоечные машины</a></li>
				<li class="category-list-item"><a href="#" class="category-list-item__link">Плиты</a></li>
				<li class="category-list-item"><a href="#" class="category-list-item__link">Вытяжки</a></li>
			</ul>
		</div>
		<div class="category-item">
			<p class="category-item__title">Встраиваемая техника</p>
			<ul class="category-item__list">
				<li class="category-list-item"><a href="#" class="category-list-item__link">Встраиваемые варочные поверхности</a></li>
				<li class="category-list-item"><a href="#" class="category-list-item__link">Встраиваемые духовки</a></li>
				<li class="category-list-item"><a href="#" class="category-list-item__link">Вытяжки</a></li>
				<li class="category-list-item"><a href="#" class="category-list-item__link">Встраиваемые посудомоечные машины</a></li>
				<li class="category-list-item all-categories">
					<a href="#" class="category-list-item__link"><span class="all-categories-text">Все категории</span><img src="%=static=%img/general/navigation/arrow.svg" alt="arrow" class="link-arrow">
					</a>
				</li>
			</ul>
		</div>
		<div class="category-item">
			<p class="category-item__title">Приготовление еды</p>
			<ul class="category-item__list">
				<li class="category-list-item"><a href="#" class="category-list-item__link">Мультиварки</a></li>
				<li class="category-list-item"><a href="#" class="category-list-item__link">Микроволновые печи</a></li>
				<li class="category-list-item"><a href="#" class="category-list-item__link">Фритюр</a></li>
				<li class="category-list-item all-categories">
					<a href="#" class="category-list-item__link"><span class="all-categories-text">Все категории</span><img src="%=static=%img/general/navigation/arrow.svg" alt="arrow" class="link-arrow">
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="category-column">
		<div class="category-item">
			<p class="category-item__title">Подготовка продуктов</p>
			<ul class="category-item__list">
				<li class="category-list-item"><a href="#" class="category-list-item__link">Блендеры</a></li>
				<li class="category-list-item"><a href="#" class="category-list-item__link">Мясорубки</a></li>
				<li class="category-list-item"><a href="#" class="category-list-item__link">Кухонные комбайны</a></li>
				<li class="category-list-item"><a href="#" class="category-list-item__link">Ломтерезки</a></li>
				<li class="category-list-item"><a href="#" class="category-list-item__link">Миксеры</a></li>
				<li class="category-list-item"><a href="#" class="category-list-item__link">Кухонные весы</a></li>
				<li class="category-list-item"><a href="#" class="category-list-item__link">Измельчители</a></li>
			</ul>
		</div>
		<div class="category-item">
			<p class="category-item__title">Приготовление напитков</p>
			<ul class="category-item__list">
				<li class="category-list-item"><a href="#" class="category-list-item__link">Электрочайники</a></li>
				<li class="category-list-item"><a href="#" class="category-list-item__link">Соковыжималки</a></li>
				<li class="category-list-item"><a href="#" class="category-list-item__link">Кофемашины и кофеварки</a></li>
				<li class="category-list-item"><a href="#" class="category-list-item__link">Кофемолки</a></li>
				<li class="category-list-item all-categories">
					<a href="#" class="category-list-item__link"><span class="all-categories-text">Все категории</span><img src="%=static=%img/general/navigation/arrow.svg" alt="arrow" class="link-arrow">
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="category-column">
		<div class="category-item">
			<p class="category-item__title">Аксесуары для крупной бытовой техники</p>
			<ul class="category-item__list">
				<li class="category-list-item"><a href="#" class="category-list-item__link">Аксесуары для холодильников</a></li>
				<li class="category-list-item"><a href="#" class="category-list-item__link">Аксесуары для посудомоечных и стиральных</a></li>
				<li class="category-list-item all-categories">
					<a href="#" class="category-list-item__link"><span class="all-categories-text">Все категории</span><img src="%=static=%img/general/navigation/arrow.svg" alt="arrow" class="link-arrow">
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="category-picture">
		<img src="%=static=%img/general/navigation/catalog-img.png" alt="image" class="category-picture__img">
	</div>
</div>