<div class="popup-wrapper basket">
	<div class="basket-popup">
		<div class="basket-popup__header">
			<h3 class="title">Ваша корзина</h3>
			<img src="%=static=%img/general/icons/close-icon.svg" alt="icon" class="basket-close">
		</div>
		<div class="basket-popup__body">
			<ul class="basket-list">
				<li class="basket-list__item">
					<img src="%=static=%img/general/icons/close-icon.svg" alt="icon" class="basket-item-close-img">
					<div class="promotion">
						<span class="promotion__red">Акционное предложение:</span><span class="promotion__kind">Комплект</span>
					</div>
					<div class="product-info">
						<div class="img-wrapper">
							<img src="%=static=%img/general/rolling/notebook.png" alt="" class="item-product-img">
						</div>
						<div class="product-descr">
							<p class="product-name">Ноутбук Dell Latitude E6410 14" i5 4GB RAM 160GB</p>
							<div class="price">
								<div class="price__not-relevant">
									<span class="numb">14 925</span><span class="currency">грн</span>
								</div>
								<div class="price__relevant">
									<span class="numb">123 999</span><span class="currency">грн</span>
								</div>
							</div>
						</div>
						<div class="calculated">
							<div class="calculated__bonuses">
								<img src="%=static=%img/general/icons/grn.svg" alt="rolling-product" class="bonus__icon">
								<span class="bonus__sum">+ 200</span>
								<span class="bonus__currency">грн бонусов</span>
							</div>
							<div class="calculated__amount">
								<div class="wrapper">
									<div class="amount">
										<span class="minus">-</span>
										<span class="number">1</span>
										<span class="plus">+</span>
									</div>
									<div class="price__relevant">
										<span class="numb"></span><span class="currency">грн</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="gift hidden">
						<a href="#" class="gift-link">
							<img src="%=static=%img/general/card/mouse.png" alt="gift" class="gift__image">
							<div class="gift__descr">
								<p class="title">Подарок</p>
								<p class="model">Мышь Logitech M185 Wireless Grey</p>
							</div>
						</a>
					</div>
					<!-- <div class="service">
						<div class="service__slider">
							<div class="slider">
								<div class="slide__item">
									<img src="%=static=%img/general/icons/service.svg" alt="" class="item-img">
									<span class="company">"Мастер сервис"</span>
									<span class="time">3 года</span>
									<span class="price-numb">749</span>
									<span class="currency">грн</span>
								</div>
								<div class="slide__item">
									<img src="%=static=%img/general/icons/service.svg" alt="" class="item-img">
									<span class="company">"Мастер сервис"</span>
									<span class="time">3 года</span>
									<span class="price-numb">749</span>
									<span class="currency">грн</span>
								</div>
								<div class="slide__item">
									<img src="%=static=%img/general/icons/service.svg" alt="" class="item-img">
									<span class="company">"Мастер сервис"</span>
									<span class="time">3 года</span>
									<span class="price-numb">749</span>
									<span class="currency">грн</span>
								</div>
								<div class="slide__item">
									<img src="%=static=%img/general/icons/service.svg" alt="" class="item-img">
									<span class="company">"Мастер сервис"</span>
									<span class="time">3 года</span>
									<span class="price-numb">749</span>
									<span class="currency">грн</span>
								</div>
							</div>
							<button class="add">Добавить</button>
						</div>
						<div class="service__extra">
							<div class="top-panel">
								<img src="%=static=%img/general/icons/service.svg" alt="icon" class="extra-service-icon">
								<p class="extra-service-text">Экстра сервис:</p>
							</div>
							<div class="elected-services">
								<div class="elected-services__item"><img src="%=static=%img/general/icons/close-icon.svg" alt="icon" class="close-service-icon"></div>
								<div class="elected-services__item"><img src="%=static=%img/general/icons/close-icon.svg" alt="icon" class="close-service-icon"></div>
								<div class="elected-services__item"><img src="%=static=%img/general/icons/close-icon.svg" alt="icon" class="close-service-icon"></div>
								<div class="sum">
									<span class="sum__numb">1400</span>
									<span class="sum__currency">грн</span>
								</div>
							</div>
						</div>
					</div> -->
				</li>
				<li class="basket-list__item">
					<img src="%=static=%img/general/icons/close-icon.svg" alt="icon" class="basket-item-close-img">
					<div class="promotion">
						<span class="promotion__red">Акционное предложение:</span><span class="promotion__kind">Комплект</span>
					</div>
					<div class="product-info">
						<div class="img-wrapper">
							<img src="%=static=%img/general/rolling/notebook.png" alt="" class="item-product-img">
						</div>
						<div class="product-descr">
							<p class="product-name">Ноутбук Dell Latitude E6410 14" i5 4GB RAM 160GB</p>
							<div class="price">
								<div class="price__not-relevant">
									<span class="numb">14 925</span><span class="currency">грн</span>
								</div>
								<div class="price__relevant">
									<span class="numb">123 999</span><span class="currency">грн</span>
								</div>
							</div>
						</div>
						<div class="calculated">
							<div class="calculated__bonuses">
								<img src="%=static=%img/general/icons/grn.svg" alt="rolling-product" class="bonus__icon">
								<span class="bonus__sum">+ 200</span>
								<span class="bonus__currency">грн бонусов</span>
							</div>
							<div class="calculated__amount">
								<div class="wrapper">
									<div class="amount">
										<span class="minus">-</span>
										<span class="number">1</span>
										<span class="plus">+</span>
									</div>
									<div class="price__relevant">
										<span class="numb"></span><span class="currency">грн</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="gift">
						<a href="#" class="gift-link">
							<img src="%=static=%img/general/card/mouse.png" alt="gift" class="gift__image">
							<div class="gift__descr">
								<p class="title">Подарок</p>
								<p class="model">Мышь Logitech M185 Wireless Grey</p>
							</div>
						</a>
					</div>
					<!-- <div class="service">
						<div class="service__slider">
							<div class="slider">
								<div class="slide__item">
									<img src="%=static=%img/general/icons/service.svg" alt="" class="item-img">
									<span class="company">"Мастер сервис"</span>
									<span class="time">3 года</span>
									<span class="price-numb">749</span>
									<span class="currency">грн</span>
								</div>
								<div class="slide__item">
									<img src="%=static=%img/general/icons/service.svg" alt="" class="item-img">
									<span class="company">"Мастер сервис"</span>
									<span class="time">3 года</span>
									<span class="price-numb">749</span>
									<span class="currency">грн</span>
								</div>
								<div class="slide__item">
									<img src="%=static=%img/general/icons/service.svg" alt="" class="item-img">
									<span class="company">"Мастер сервис"</span>
									<span class="time">3 года</span>
									<span class="price-numb">749</span>
									<span class="currency">грн</span>
								</div>
								<div class="slide__item">
									<img src="%=static=%img/general/icons/service.svg" alt="" class="item-img">
									<span class="company">"Мастер сервис"</span>
									<span class="time">3 года</span>
									<span class="price-numb">749</span>
									<span class="currency">грн</span>
								</div>
							</div>
							<button class="add">Добавить</button>
						</div>
						<div class="service__extra">
							<div class="top-panel">
								<img src="%=static=%img/general/icons/service.svg" alt="icon" class="extra-service-icon">
								<p class="extra-service-text">Экстра сервис:</p>
							</div>
							<div class="elected-services">
								<div class="elected-services__item"><img src="%=static=%img/general/icons/close-icon.svg" alt="icon" class="close-service-icon"></div>
								<div class="elected-services__item"><img src="%=static=%img/general/icons/close-icon.svg" alt="icon" class="close-service-icon"></div>
								<div class="elected-services__item"><img src="%=static=%img/general/icons/close-icon.svg" alt="icon" class="close-service-icon"></div>
								<div class="sum">
									<span class="sum__numb">1400</span>
									<span class="sum__currency">грн</span>
								</div>
							</div>
						</div>
					</div> -->
				</li>
				<li class="basket-list__item">
					<img src="%=static=%img/general/icons/close-icon.svg" alt="icon" class="basket-item-close-img">
					<div class="promotion">
						<span class="promotion__red">Акционное предложение:</span><span class="promotion__kind">Комплект</span>
					</div>
					<div class="product-info">
						<div class="img-wrapper">
							<img src="%=static=%img/general/rolling/notebook.png" alt="" class="item-product-img">
						</div>
						<div class="product-descr">
							<p class="product-name">Ноутбук Dell Latitude E6410 14" i5 4GB RAM 160GB</p>
							<div class="price">
								<div class="price__not-relevant">
									<span class="numb">14 925</span><span class="currency">грн</span>
								</div>
								<div class="price__relevant">
									<span class="numb">123 999</span><span class="currency">грн</span>
								</div>
							</div>
						</div>
						<div class="calculated">
							<div class="calculated__bonuses">
								<img src="%=static=%img/general/icons/grn.svg" alt="rolling-product" class="bonus__icon">
								<span class="bonus__sum">+ 200</span>
								<span class="bonus__currency">грн бонусов</span>
							</div>
							<div class="calculated__amount">
								<div class="wrapper">
									<div class="amount">
										<span class="minus">-</span>
										<span class="number">1</span>
										<span class="plus">+</span>
									</div>
									<div class="price__relevant">
										<span class="numb"></span><span class="currency">грн</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="gift hidden">
						<a href="#" class="gift-link">
							<img src="%=static=%img/general/card/mouse.png" alt="gift" class="gift__image">
							<div class="gift__descr">
								<p class="title">Подарок</p>
								<p class="model">Мышь Logitech M185 Wireless Grey</p>
							</div>
						</a>
					</div>
					<!-- <div class="service">
						<div class="service__slider">
							<div class="slider">
								<div class="slide__item">
									<img src="%=static=%img/general/icons/service.svg" alt="" class="item-img">
									<span class="company">"Мастер сервис"</span>
									<span class="time">3 года</span>
									<span class="price-numb">749</span>
									<span class="currency">грн</span>
								</div>
								<div class="slide__item">
									<img src="%=static=%img/general/icons/service.svg" alt="" class="item-img">
									<span class="company">"Мастер сервис"</span>
									<span class="time">3 года</span>
									<span class="price-numb">749</span>
									<span class="currency">грн</span>
								</div>
								<div class="slide__item">
									<img src="%=static=%img/general/icons/service.svg" alt="" class="item-img">
									<span class="company">"Мастер сервис"</span>
									<span class="time">3 года</span>
									<span class="price-numb">749</span>
									<span class="currency">грн</span>
								</div>
								<div class="slide__item">
									<img src="%=static=%img/general/icons/service.svg" alt="" class="item-img">
									<span class="company">"Мастер сервис"</span>
									<span class="time">3 года</span>
									<span class="price-numb">749</span>
									<span class="currency">грн</span>
								</div>
							</div>
							<button class="add">Добавить</button>
						</div>
						<div class="service__extra">
							<div class="top-panel">
								<img src="%=static=%img/general/icons/service.svg" alt="icon" class="extra-service-icon">
								<p class="extra-service-text">Экстра сервис:</p>
							</div>
							<div class="elected-services">
								<div class="elected-services__item"><img src="%=static=%img/general/icons/close-icon.svg" alt="icon" class="close-service-icon"></div>
								<div class="elected-services__item"><img src="%=static=%img/general/icons/close-icon.svg" alt="icon" class="close-service-icon"></div>
								<div class="elected-services__item"><img src="%=static=%img/general/icons/close-icon.svg" alt="icon" class="close-service-icon"></div>
								<div class="sum">
									<span class="sum__numb">1400</span>
									<span class="sum__currency">грн</span>
								</div>
							</div>
						</div>
					</div> -->
				</li>
				<li class="basket-list__item">
					<img src="%=static=%img/general/icons/close-icon.svg" alt="icon" class="basket-item-close-img">
					<div class="promotion">
						<span class="promotion__red">Акционное предложение:</span><span class="promotion__kind">Комплект</span>
					</div>
					<div class="product-info">
						<div class="img-wrapper">
							<img src="%=static=%img/general/rolling/notebook.png" alt="" class="item-product-img">
						</div>
						<div class="product-descr">
							<p class="product-name">Ноутбук Dell Latitude E6410 14" i5 4GB RAM 160GB</p>
							<div class="price">
								<div class="price__not-relevant">
									<span class="numb">14 925</span><span class="currency">грн</span>
								</div>
								<div class="price__relevant">
									<span class="numb">123 999</span><span class="currency">грн</span>
								</div>
							</div>
						</div>
						<div class="calculated">
							<div class="calculated__bonuses">
								<img src="%=static=%img/general/icons/grn.svg" alt="rolling-product" class="bonus__icon">
								<span class="bonus__sum">+ 200</span>
								<span class="bonus__currency">грн бонусов</span>
							</div>
							<div class="calculated__amount">
								<div class="wrapper">
									<div class="amount">
										<span class="minus">-</span>
										<span class="number">1</span>
										<span class="plus">+</span>
									</div>
									<div class="price__relevant">
										<span class="numb"></span><span class="currency">грн</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="gift hidden">
						<a href="#" class="gift-link">
							<img src="%=static=%img/general/card/mouse.png" alt="gift" class="gift__image">
							<div class="gift__descr">
								<p class="title">Подарок</p>
								<p class="model">Мышь Logitech M185 Wireless Grey</p>
							</div>
						</a>
					</div>
					<!-- <div class="service">
						<div class="service__slider">
							<div class="slider">
								<div class="slide__item">
									<img src="%=static=%img/general/icons/service.svg" alt="" class="item-img">
									<span class="company">"Мастер сервис"</span>
									<span class="time">3 года</span>
									<span class="price-numb">749</span>
									<span class="currency">грн</span>
								</div>
								<div class="slide__item">
									<img src="%=static=%img/general/icons/service.svg" alt="" class="item-img">
									<span class="company">"Мастер сервис"</span>
									<span class="time">3 года</span>
									<span class="price-numb">749</span>
									<span class="currency">грн</span>
								</div>
								<div class="slide__item">
									<img src="%=static=%img/general/icons/service.svg" alt="" class="item-img">
									<span class="company">"Мастер сервис"</span>
									<span class="time">3 года</span>
									<span class="price-numb">749</span>
									<span class="currency">грн</span>
								</div>
								<div class="slide__item">
									<img src="%=static=%img/general/icons/service.svg" alt="" class="item-img">
									<span class="company">"Мастер сервис"</span>
									<span class="time">3 года</span>
									<span class="price-numb">749</span>
									<span class="currency">грн</span>
								</div>
							</div>
							<button class="add">Добавить</button>
						</div>
						<div class="service__extra">
							<div class="top-panel">
								<img src="%=static=%img/general/icons/service.svg" alt="icon" class="extra-service-icon">
								<p class="extra-service-text">Экстра сервис:</p>
							</div>
							<div class="elected-services">
								<div class="elected-services__item"><img src="%=static=%img/general/icons/close-icon.svg" alt="icon" class="close-service-icon"></div>
								<div class="elected-services__item"><img src="%=static=%img/general/icons/close-icon.svg" alt="icon" class="close-service-icon"></div>
								<div class="elected-services__item"><img src="%=static=%img/general/icons/close-icon.svg" alt="icon" class="close-service-icon"></div>
								<div class="sum">
									<span class="sum__numb">1400</span>
									<span class="sum__currency">грн</span>
								</div>
							</div>
						</div>
					</div> -->
				</li>
				<li class="basket-list__item has-promotion">
					<img src="%=static=%img/general/icons/close-icon.svg" alt="icon" class="basket-item-close-img">
					<div class="promotion">
						<span class="promotion__red">Акционное предложение:</span><span class="promotion__kind">Комплект</span>
					</div>
					<div class="product-info">
						<div class="img-wrapper">
							<img src="%=static=%img/general/rolling/notebook.png" alt="" class="item-product-img">
						</div>
						<div class="product-descr">
							<p class="product-name">Ноутбук Dell Latitude E6410 14" i5 4GB RAM 160GB</p>
							<div class="price">
								<div class="price__not-relevant">
									<span class="numb">14 925</span><span class="currency">грн</span>
								</div>
								<div class="price__relevant">
									<span class="numb">123 999</span><span class="currency">грн</span>
								</div>
							</div>
						</div>
						<div class="calculated">
							<div class="calculated__bonuses">
								<img src="%=static=%img/general/icons/grn.svg" alt="rolling-product" class="bonus__icon">
								<span class="bonus__sum">+ 200</span>
								<span class="bonus__currency">грн бонусов</span>
							</div>
							<div class="calculated__amount">
								<div class="wrapper">
									<div class="amount">
										<span class="minus">-</span>
										<span class="number">1</span>
										<span class="plus">+</span>
									</div>
									<div class="price__relevant">
										<span class="numb"></span><span class="currency">грн</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="gift hidden">
						<a href="#" class="gift-link">
							<img src="%=static=%img/general/card/mouse.png" alt="gift" class="gift__image">
							<div class="gift__descr">
								<p class="title">Подарок</p>
								<p class="model">Мышь Logitech M185 Wireless Grey</p>
							</div>
						</a>
					</div>
					<div class="bonus-product">
						<div class="bonus-product__img-container">
							<img src="%=static=%img/general/banners/mo.png" alt="icon" class="bonus-product-img">
						</div>
						<div class="bonus-product__text">
							<p class="kind">Программное обеспечение</p>
							<p class="brand">MICROSOFT Office 365 Personal</p>
						</div>
					</div>
					<!-- <div class="service">
						<div class="service__slider">
							<div class="slider">
								<div class="slide__item">
									<img src="%=static=%img/general/icons/service.svg" alt="" class="item-img">
									<span class="company">"Мастер сервис"</span>
									<span class="time">3 года</span>
									<span class="price-numb">749</span>
									<span class="currency">грн</span>
								</div>
								<div class="slide__item">
									<img src="%=static=%img/general/icons/service.svg" alt="" class="item-img">
									<span class="company">"Мастер сервис"</span>
									<span class="time">3 года</span>
									<span class="price-numb">749</span>
									<span class="currency">грн</span>
								</div>
								<div class="slide__item">
									<img src="%=static=%img/general/icons/service.svg" alt="" class="item-img">
									<span class="company">"Мастер сервис"</span>
									<span class="time">3 года</span>
									<span class="price-numb">749</span>
									<span class="currency">грн</span>
								</div>
								<div class="slide__item">
									<img src="%=static=%img/general/icons/service.svg" alt="" class="item-img">
									<span class="company">"Мастер сервис"</span>
									<span class="time">3 года</span>
									<span class="price-numb">749</span>
									<span class="currency">грн</span>
								</div>
							</div>
							<button class="add">Добавить</button>
						</div>
						<div class="service__extra">
							<div class="top-panel">
								<img src="%=static=%img/general/icons/service.svg" alt="icon" class="extra-service-icon">
								<p class="extra-service-text">Экстра сервис:</p>
							</div>
							<div class="elected-services">
								<div class="elected-services__item"><img src="%=static=%img/general/icons/close-icon.svg" alt="icon" class="close-service-icon"></div>
								<div class="elected-services__item"><img src="%=static=%img/general/icons/close-icon.svg" alt="icon" class="close-service-icon"></div>
								<div class="elected-services__item"><img src="%=static=%img/general/icons/close-icon.svg" alt="icon" class="close-service-icon"></div>
								<div class="sum">
									<span class="sum__numb">1400</span>
									<span class="sum__currency">грн</span>
								</div>
							</div>
						</div>
					</div> -->
				</li>
				<li class="basket-list__item result-item">
					<ul class="result-list">
						<li class="result-list__item">
							<span class="desct-text">Всего:</span>
							<span class="sum-numb">435</span>
							<span class="currency">грн</span>
						</li>
						<li class="result-list__item">
							<span class="desct-text">Стоимость услуг:</span>
							<span class="sum-numb">435</span>
							<span class="currency">грн</span>
						</li>
						<li class="result-list__item">
							<span class="desct-text">Скидка:</span>
							<span class="sum-numb">435</span>
							<span class="currency">грн</span>
						</li>
						<li class="result-list__item">
							<span class="desct-text">Начислено бонусов:</span>
							<span class="sum-numb">435</span>
							<span class="currency">грн</span>
						</li>
						<li class="result-list__item final-result">
							<span class="desct-text">Итого к оплате:</span>
							<span class="sum-numb">435 000</span>
							<span class="currency">грн</span>
						</li>
					</ul>
					<div class="bottom-block">
						<a href="#" class="back">Вернуться к покупкам</a>
						<button class="make-order">Оформить заказ</button>
					</div>
				</li>
			</ul>
			{{>basket-recomended/basket-recomended}}
		</div>
	</div>
</div>
<script>
	$(document).ready(function() {
		// show-hide basket popup
		$(".mask, .basket-popup .basket-close").click(function() {
			$(".mask").removeClass("full cover");
			$(".popup-wrapper.basket").removeClass("show");
			$("body").removeClass("fixed");
		});
		$(".basket > .basket__icon").click(function() {

			$("body").addClass("fixed");
			$(".popup-wrapper.basket").addClass("show");
			$(".mask").addClass("full cover");
		});

		// choose quantity product
		var listItem = $(".basket-list__item");

		listItem.each(function(i) {
			var number = $(this).find(".number");
			var currentNumber = number.text();
			var price = $(this).find(".product-descr .price__relevant .numb");
			var calculatedPrice = $(this).find(".calculated .numb");
			
			calculatedPrice.text(price.text() );

			listItem.eq(i).click(function(e) {

				if (e.target.classList.contains("minus") ) {

					//press "-"
					if (parseInt(number.text() ) > 1) {
						number.text(parseInt(number.text() ) - 1);

						var currentCalcPrice = parseInt(calculatedPrice.text().match(/\d+/gi).join('') );
						var priceNumber = parseInt(price.text().match(/\d+/gi).join('') );

						calculatedPrice.text(currentCalcPrice - priceNumber );
						let str = calculatedPrice.text();
						str = str[0] + str[1] + str[2] + " " + str[3] + str[4] + str[5];
						calculatedPrice.text(str);
					}
				} else if (e.target.classList.contains("plus") ) {

					//press "+"
					number.text(parseInt(number.text() ) + 1);
					var currentCalcPrice = parseInt(calculatedPrice.text().match(/\d+/gi).join('') );
					var priceNumber = parseInt(price.text().match(/\d+/gi).join('') );

					calculatedPrice.text(currentCalcPrice + priceNumber );
					let str = calculatedPrice.text();
					str = str[0] + str[1] + str[2] + " " + str[3] + str[4] + str[5];
					calculatedPrice.text(str);
				}
			});
		});
	});
</script>