<section class="special-offers">
	<div class="special-offers__title">
		<h3 class="title">Специальные предложения</h3>
	</div>
	<div class="special-offers__content">
		<a href="#" class="offers-item large">
			<img src="%=static=%img/general/banners/ban-home1.jpg" alt="product" class="offers-item__image">
			<div class="offers-item__descr">
				<p class="brand">Redmi 5a</p>
				<p class="price">3 999 грн</p>
			</div>
		</a>
		<div class="offers-item small">
			<a href="#" class="small__link">
				<img src="%=static=%img/general/offers/offer-tv.png" alt="product" class="offers-item__image">
			</a>
			<div class="offers-item__descr">
				<a href="#">
					<p class="info">Телевизор LED 22" Supra STV</p>
				</a>
				<div class="price">
					<div class="price__not-relevant">
						<span class="numb">4 925</span><span class="currency">грн</span>
					</div>
					<div class="price__relevant">
						<span class="numb">1100 999</span><span class="currency">грн</span>
					</div>
				</div>
			</div>
		</div>
		<div class="offers-item small">
			<a href="#" class="small__link">
				<img src="%=static=%img/general/offers/coffe-machine.png" alt="product" class="offers-item__image">
			</a>
			<div class="offers-item__descr">
				<a href="#">
					<p class="info">Телевизор LED 22" Supra STV</p>
				</a>
				<div class="price">
					<div class="price__not-relevant">
						<span class="numb">4 925</span><span class="currency">грн</span>
					</div>
					<div class="price__relevant">
						<span class="numb">1100 999</span><span class="currency">грн</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>