<section class="sidebar promotions-sidebar">
	<div class="sidebar__dropdown">
		<div class="dropdown-head-container">
			<p class="title">Торговая марка</p>
			<img src="%=static=%img/general/icons/info.svg" alt="icon" class="info-icon">
			<img src="%=static=%img/general/icons/arrow-down.png" alt="icon" class="arrow-icon">
		</div>
		<div class="dropdown-main-container">
			<ul class="dropdown-list">
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="radio" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Acer Acer Acer Acer Acer Acer Acer Acer Acer Acer</span>
						<span class="amount">(30)</span>
					</a>
				</li>
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="radio" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Apple</span>
						<span class="amount">(37)</span>
					</a>
				</li>
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="radio" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Dell</span>
						<span class="amount">(50)</span>
					</a>
				</li>
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="radio" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">HP (Hewlett Packard)</span>
						<span class="amount">(130)</span>
					</a>
				</li>
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="radio" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">HP (Hewlett Packard)</span>
						<span class="amount">(130)</span>
					</a>
				</li>
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="radio" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">HP (Hewlett Packard)</span>
						<span class="amount">(130)</span>
					</a>
				</li>
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="radio" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">HP (Hewlett Packard)</span>
						<span class="amount">(130)</span>
					</a>
				</li>
			</ul>
			<div class="more-item">
					<img src="%=static=%img/general/icons/arrow-down.png" alt="icon" class="more__icon">
					<span class="more__text closed">Еще</span>
					<span class="more__text opened">Скрыть</span>
				</div>
		</div>
	</div>
	<div class="sidebar__dropdown">
		<div class="dropdown-head-container">
			<p class="title">Тип</p>
			<img src="%=static=%img/general/icons/info.svg" alt="icon" class="info-icon">
			<img src="%=static=%img/general/icons/arrow-down.png" alt="icon" class="arrow-icon">
		</div>
		<div class="dropdown-main-container">
			<ul class="dropdown-list">
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="radio" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Нетбук</span>
						<span class="amount">(40)</span>
					</a>
				</li>
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="radio" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Ноутбук</span>
						<span class="amount">(230)</span>
					</a>
				</li>
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="radio" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Ультрабук</span>
						<span class="amount">(30)</span>
					</a>
				</li>
			</ul>
			<div class="more-item">
					<img src="%=static=%img/general/icons/arrow-down.png" alt="icon" class="more__icon">
					<span class="more__text closed">Еще</span>
					<span class="more__text opened">Скрыть</span>
				</div>
		</div>
	</div>
	<div class="sidebar__dropdown">
		<div class="dropdown-head-container">
			<p class="title">Класс</p>
			<img src="%=static=%img/general/icons/info.svg" alt="icon" class="info-icon">
			<img src="%=static=%img/general/icons/arrow-down.png" alt="icon" class="arrow-icon">
		</div>
		<div class="dropdown-main-container">
			<ul class="dropdown-list">
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="radio" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Для несложных задач</span>
						<span class="amount">(30)</span>
					</a>
				</li>
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="radio" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Для работы и учебы</span>
						<span class="amount">(20)</span>
					</a>
				</li>
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="radio" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Геймерские ноутбуки</span>
						<span class="amount">(45)</span>
					</a>
				</li>
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="radio" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Мультимедийные 
	центры</span>
						<span class="amount">(150)</span>
					</a>
				</li>
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="radio" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Мультимедийные 
	центры</span>
						<span class="amount">(150)</span>
					</a>
				</li>
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="radio" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Мультимедийные 
	центры</span>
						<span class="amount">(150)</span>
					</a>
				</li>
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="radio" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Мультимедийные 
	центры</span>
						<span class="amount">(150)</span>
					</a>
				</li>
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="radio" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Мультимедийные 
	центры</span>
						<span class="amount">(150)</span>
					</a>
				</li>
			</ul>
			<div class="more-item">
					<img src="%=static=%img/general/icons/arrow-down.png" alt="icon" class="more__icon">
					<span class="more__text closed">Еще</span>
					<span class="more__text opened">Скрыть</span>
				</div>
		</div>
	</div>
	<div class="sidebar__dropdown">
		<div class="dropdown-head-container">
			<p class="title">Конструкция</p>
			<img src="%=static=%img/general/icons/info.svg" alt="icon" class="info-icon">
			<img src="%=static=%img/general/icons/arrow-down.png" alt="icon" class="arrow-icon">
		</div>
		<div class="dropdown-main-container">
			<ul class="dropdown-list">
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="radio" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Acer</span>
						<span class="amount">(30)</span>
					</a>
				</li>
			</ul>
			<div class="more-item">
					<img src="%=static=%img/general/icons/arrow-down.png" alt="icon" class="more__icon">
					<span class="more__text closed">Еще</span>
					<span class="more__text opened">Скрыть</span>
				</div>
		</div>
	</div>
	<div class="sidebar__dropdown">
		<div class="dropdown-head-container">
			<p class="title">Диагональ дисплея</p>
			<img src="%=static=%img/general/icons/info.svg" alt="icon" class="info-icon">
			<img src="%=static=%img/general/icons/arrow-down.png" alt="icon" class="arrow-icon">
		</div>
		<div class="dropdown-main-container">
			<ul class="dropdown-list">
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="radio" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Acer</span>
						<span class="amount">(30)</span>
					</a>
				</li>
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="radio" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Acer</span>
						<span class="amount">(30)</span>
					</a>
				</li>
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="radio" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Acer</span>
						<span class="amount">(30)</span>
					</a>
				</li>
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="radio" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Acer</span>
						<span class="amount">(30)</span>
					</a>
				</li>
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="radio" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Мультимедийные 
	центры</span>
						<span class="amount">(150)</span>
					</a>
				</li>
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="radio" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Мультимедийные 
	центры</span>
						<span class="amount">(150)</span>
					</a>
				</li>
			</ul>
			<div class="more-item">
					<img src="%=static=%img/general/icons/arrow-down.png" alt="icon" class="more__icon">
					<span class="more__text closed">Еще</span>
					<span class="more__text opened">Скрыть</span>
				</div>
		</div>
	</div>
	<div class="sidebar__dropdown">
		<div class="dropdown-head-container">
			<p class="title">Разрешение дисплея</p>
			<img src="%=static=%img/general/icons/info.svg" alt="icon" class="info-icon">
			<img src="%=static=%img/general/icons/arrow-down.png" alt="icon" class="arrow-icon">
		</div>
		<div class="dropdown-main-container">
			<ul class="dropdown-list">
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="radio" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Acer</span>
						<span class="amount">(30)</span>
					</a>
				</li>
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="radio" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Acer</span>
						<span class="amount">(30)</span>
					</a>
				</li>
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="radio" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Acer</span>
						<span class="amount">(30)</span>
					</a>
				</li>
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="radio" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Acer</span>
						<span class="amount">(30)</span>
					</a>
				</li>
			</ul>
			<div class="more-item">
					<img src="%=static=%img/general/icons/arrow-down.png" alt="icon" class="more__icon">
					<span class="more__text closed">Еще</span>
					<span class="more__text opened">Скрыть</span>
				</div>
		</div>
	</div>
	<div class="sidebar__dropdown">
		<div class="dropdown-head-container">
			<p class="title">Тип матрицы</p>
			<img src="%=static=%img/general/icons/info.svg" alt="icon" class="info-icon">
			<img src="%=static=%img/general/icons/arrow-down.png" alt="icon" class="arrow-icon">
		</div>
		<div class="dropdown-main-container">
			<ul class="dropdown-list">
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="radio" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Acer</span>
						<span class="amount">(30)</span>
					</a>
				</li>
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="radio" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Acer</span>
						<span class="amount">(30)</span>
					</a>
				</li>
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="radio" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Acer</span>
						<span class="amount">(30)</span>
					</a>
				</li>
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="radio" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Acer</span>
						<span class="amount">(30)</span>
					</a>
				</li>
			</ul>
			<div class="more-item">
					<img src="%=static=%img/general/icons/arrow-down.png" alt="icon" class="more__icon">
					<span class="more__text closed">Еще</span>
					<span class="more__text opened">Скрыть</span>
				</div>
		</div>
	</div>
	<div class="sidebar__dropdown">
		<div class="dropdown-head-container">
			<p class="title">Покрытие дисплея</p>
			<img src="%=static=%img/general/icons/info.svg" alt="icon" class="info-icon">
			<img src="%=static=%img/general/icons/arrow-down.png" alt="icon" class="arrow-icon">
		</div>
		<div class="dropdown-main-container">
			<ul class="dropdown-list">
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="radio" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Acer</span>
						<span class="amount">(30)</span>
					</a>
				</li>
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="radio" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Acer</span>
						<span class="amount">(30)</span>
					</a>
				</li>
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="radio" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Acer</span>
						<span class="amount">(30)</span>
					</a>
				</li>
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="radio" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Acer</span>
						<span class="amount">(30)</span>
					</a>
				</li>
			</ul>
			<div class="more-item">
					<img src="%=static=%img/general/icons/arrow-down.png" alt="icon" class="more__icon">
					<span class="more__text closed">Еще</span>
					<span class="more__text opened">Скрыть</span>
				</div>
		</div>
	</div>
	<div class="sidebar__dropdown">
		<div class="dropdown-head-container">
			<p class="title">Объем накопителя</p>
			<img src="%=static=%img/general/icons/info.svg" alt="icon" class="info-icon">
			<img src="%=static=%img/general/icons/arrow-down.png" alt="icon" class="arrow-icon">
		</div>
		<div class="dropdown-main-container">
			<ul class="dropdown-list">
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="radio" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Acer</span>
						<span class="amount">(30)</span>
					</a>
				</li>
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="radio" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Acer</span>
						<span class="amount">(30)</span>
					</a>
				</li>
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="radio" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Acer</span>
						<span class="amount">(30)</span>
					</a>
				</li>
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="radio" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Acer</span>
						<span class="amount">(30)</span>
					</a>
				</li>
			</ul>
			<div class="more-item">
					<img src="%=static=%img/general/icons/arrow-down.png" alt="icon" class="more__icon">
					<span class="more__text closed">Еще</span>
					<span class="more__text opened">Скрыть</span>
				</div>
		</div>
	</div>
	<div class="sidebar__dropdown">
		<div class="dropdown-head-container">
			<p class="title">Видеокарта</p>
			<img src="%=static=%img/general/icons/info.svg" alt="icon" class="info-icon">
			<img src="%=static=%img/general/icons/arrow-down.png" alt="icon" class="arrow-icon">
		</div>
		<div class="dropdown-main-container">
			<ul class="dropdown-list">
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="radio" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Acer</span>
						<span class="amount">(30)</span>
					</a>
				</li>
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="radio" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Acer</span>
						<span class="amount">(30)</span>
					</a>
				</li>
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="radio" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Acer</span>
						<span class="amount">(30)</span>
					</a>
				</li>
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="radio" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Acer</span>
						<span class="amount">(30)</span>
					</a>
				</li>
			</ul>
			<div class="more-item">
					<img src="%=static=%img/general/icons/arrow-down.png" alt="icon" class="more__icon">
					<span class="more__text closed">Еще</span>
					<span class="more__text opened">Скрыть</span>
				</div>
		</div>
	</div>
	<div class="sidebar__dropdown">
		<div class="dropdown-head-container">
			<p class="title">Разрешение</p>
			<img src="%=static=%img/general/icons/info.svg" alt="icon" class="info-icon">
			<img src="%=static=%img/general/icons/arrow-down.png" alt="icon" class="arrow-icon">
		</div>
		<div class="dropdown-main-container">
			<ul class="dropdown-list">
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="radio" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Acer</span>
						<span class="amount">(30)</span>
					</a>
				</li>
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="radio" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Acer</span>
						<span class="amount">(30)</span>
					</a>
				</li>
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="radio" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Acer</span>
						<span class="amount">(30)</span>
					</a>
				</li>
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="radio" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Acer</span>
						<span class="amount">(30)</span>
					</a>
				</li>
			</ul>
			<div class="more-item">
					<img src="%=static=%img/general/icons/arrow-down.png" alt="icon" class="more__icon">
					<span class="more__text closed">Еще</span>
					<span class="more__text opened">Скрыть</span>
				</div>
		</div>
	</div>
	<div class="sidebar__dropdown">
		<div class="dropdown-head-container">
			<p class="title">Объем SSD</p>
			<img src="%=static=%img/general/icons/info.svg" alt="icon" class="info-icon">
			<img src="%=static=%img/general/icons/arrow-down.png" alt="icon" class="arrow-icon">
		</div>
		<div class="dropdown-main-container">
			<ul class="dropdown-list">
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="radio" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Acer</span>
						<span class="amount">(30)</span>
					</a>
				</li>
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="radio" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Acer</span>
						<span class="amount">(30)</span>
					</a>
				</li>
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="radio" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Acer</span>
						<span class="amount">(30)</span>
					</a>
				</li>
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="radio" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Acer</span>
						<span class="amount">(30)</span>
					</a>
				</li>
			</ul>
			<div class="more-item">
					<img src="%=static=%img/general/icons/arrow-down.png" alt="icon" class="more__icon">
					<span class="more__text closed">Еще</span>
					<span class="more__text opened">Скрыть</span>
				</div>
		</div>
	</div>
	<div class="sidebar__dropdown">
		<div class="dropdown-head-container">
			<p class="title">Класс</p>
			<img src="%=static=%img/general/icons/info.svg" alt="icon" class="info-icon">
			<img src="%=static=%img/general/icons/arrow-down.png" alt="icon" class="arrow-icon">
		</div>
		<div class="dropdown-main-container">
			<ul class="dropdown-list">
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="radio" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Acer</span>
						<span class="amount">(30)</span>
					</a>
				</li>
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="radio" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Acer</span>
						<span class="amount">(30)</span>
					</a>
				</li>
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="radio" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Acer</span>
						<span class="amount">(30)</span>
					</a>
				</li>
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="radio" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Acer</span>
						<span class="amount">(30)</span>
					</a>
				</li>
			</ul>
			<div class="more-item">
					<img src="%=static=%img/general/icons/arrow-down.png" alt="icon" class="more__icon">
					<span class="more__text closed">Еще</span>
					<span class="more__text opened">Скрыть</span>
				</div>
		</div>
	</div>
	<div class="sidebar__dropdown">
		<div class="dropdown-head-container">
			<p class="title">Серия дискретной карты</p>
			<img src="%=static=%img/general/icons/info.svg" alt="icon" class="info-icon">
			<img src="%=static=%img/general/icons/arrow-down.png" alt="icon" class="arrow-icon">
		</div>
		<div class="dropdown-main-container">
			<ul class="dropdown-list">
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="radio" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Acer</span>
						<span class="amount">(30)</span>
					</a>
				</li>
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="radio" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Acer</span>
						<span class="amount">(30)</span>
					</a>
				</li>
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="radio" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Acer</span>
						<span class="amount">(30)</span>
					</a>
				</li>
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="radio" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Acer</span>
						<span class="amount">(30)</span>
					</a>
				</li>
			</ul>
			<div class="more-item">
					<img src="%=static=%img/general/icons/arrow-down.png" alt="icon" class="more__icon">
					<span class="more__text closed">Еще</span>
					<span class="more__text opened">Скрыть</span>
				</div>
		</div>
	</div>
	<div class="sidebar__dropdown">
		<div class="dropdown-head-container">
			<p class="title">Объем накопителя</p>
			<img src="%=static=%img/general/icons/info.svg" alt="icon" class="info-icon">
			<img src="%=static=%img/general/icons/arrow-down.png" alt="icon" class="arrow-icon">
		</div>
		<div class="dropdown-main-container">
			<ul class="dropdown-list">
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="radio" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Acer</span>
						<span class="amount">(30)</span>
					</a>
				</li>
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="radio" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Acer</span>
						<span class="amount">(30)</span>
					</a>
				</li>
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="radio" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Acer</span>
						<span class="amount">(30)</span>
					</a>
				</li>
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="radio" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Acer</span>
						<span class="amount">(30)</span>
					</a>
				</li>
			</ul>
			<div class="more-item">
					<img src="%=static=%img/general/icons/arrow-down.png" alt="icon" class="more__icon">
					<span class="more__text closed">Еще</span>
					<span class="more__text opened">Скрыть</span>
				</div>
		</div>
	</div>
	<div class="sidebar__dropdown">
		<div class="dropdown-head-container">
			<p class="title">Торговая марка</p>
			<img src="%=static=%img/general/icons/info.svg" alt="icon" class="info-icon">
			<img src="%=static=%img/general/icons/arrow-down.png" alt="icon" class="arrow-icon">
		</div>
		<div class="dropdown-main-container">
			<ul class="dropdown-list">
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="radio" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Acer</span>
						<span class="amount">(30)</span>
					</a>
				</li>
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="radio" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Acer</span>
						<span class="amount">(30)</span>
					</a>
				</li>
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="radio" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Acer</span>
						<span class="amount">(30)</span>
					</a>
				</li>
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="radio" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Acer</span>
						<span class="amount">(30)</span>
					</a>
				</li>
			</ul>
			<div class="more-item">
					<img src="%=static=%img/general/icons/arrow-down.png" alt="icon" class="more__icon">
					<span class="more__text closed">Еще</span>
					<span class="more__text opened">Скрыть</span>
				</div>
		</div>
	</div>
	<div class="bottom-block">
		<div class="button">
			<span class="button-text">Применить</span>
		</div>
	</div>
</section>
{{> js/listing-sidebar}}