<section class="sidebar">
	<div class="sidebar__head">
		<span class="drop">Сбросить</span>
		<div class="filter">
			<span class="filter__text">Фильтр</span>
			<div class="amount">
				<span class="number">123456</span>
				<span class="text">Товаров</span>
			</div>
		</div>
		<img src="%=static=%img/general/icons/close-icon-white.svg" alt="icon" class="close-icon">
	</div>
	<script>
		$(document).ready(function() {
			var dropCheckbox = $(".sidebar__head .drop");
			var checkbox = $(".sidebar .dropdown-list input[type='checkbox']");

			dropCheckbox.click(function() {
				checkbox.prop('checked', false);
				$(".dropdown-list__item").find("span").removeClass("checked");
			});
		});
	</script>
	<div class="sidebar__slider">
		<div class="slider-price">
			<span class="price">Цена,</span>
			<span class="currency">грн</span>
			<img alt="icon" class="info-icon" src="%=static=%img/general/icons/info.svg">
		</div>
		<div class="slider-info">
			<input type="text" class="amount-1">
			<span class="hyphen">-</span>
			<input type="text" class="amount-2">
			<span class="currency">грн</span>
			<button type="submit" class="submit">Ok</button>
		</div>
		<div class="slider-range"></div>
	</div>
	<div class="sidebar__dropdown">
		<div class="dropdown-head-container">
			<p class="title">Торговая марка</p>
			<img src="%=static=%img/general/icons/info.svg" alt="icon" class="info-icon">
			<img src="%=static=%img/general/icons/arrow-down.png" alt="icon" class="arrow-icon">
		</div>
		<div class="dropdown-main-container">
			<ul class="dropdown-list">
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="checkbox" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Acer</span>
						<span class="amount">(30)</span>
					</a>
				</li>
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="checkbox" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Apple</span>
						<span class="amount">(37)</span>
					</a>
				</li>
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="checkbox" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Dell</span>
						<span class="amount">(50)</span>
					</a>
				</li>
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="checkbox" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">HP (Hewlett Packard)</span>
						<span class="amount">(130)</span>
					</a>
				</li>
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="checkbox" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">HP (Hewlett Packard)</span>
						<span class="amount">(130)</span>
					</a>
				</li>
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="checkbox" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">HP (Hewlett Packard)</span>
						<span class="amount">(130)</span>
					</a>
				</li>
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="checkbox" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">HP (Hewlett Packard)</span>
						<span class="amount">(130)</span>
					</a>
				</li>
			</ul>
			<div class="more-item">
					<img src="%=static=%img/general/icons/arrow-down.png" alt="icon" class="more__icon">
					<span class="more__text closed">Еще</span>
					<span class="more__text opened">Скрыть</span>
				</div>
		</div>
	</div>
	<div class="sidebar__dropdown">
		<div class="dropdown-head-container">
			<p class="title">Тип</p>
			<img src="%=static=%img/general/icons/info.svg" alt="icon" class="info-icon">
			<img src="%=static=%img/general/icons/arrow-down.png" alt="icon" class="arrow-icon">
		</div>
		<div class="dropdown-main-container">
			<ul class="dropdown-list">
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="checkbox" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Нетбук</span>
						<span class="amount">(40)</span>
					</a>
				</li>
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="checkbox" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Ноутбук</span>
						<span class="amount">(230)</span>
					</a>
				</li>
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="checkbox" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Ультрабук</span>
						<span class="amount">(30)</span>
					</a>
				</li>
			</ul>
			<div class="more-item">
					<img src="%=static=%img/general/icons/arrow-down.png" alt="icon" class="more__icon">
					<span class="more__text closed">Еще</span>
					<span class="more__text opened">Скрыть</span>
				</div>
		</div>
	</div>
	<div class="sidebar__dropdown">
		<div class="dropdown-head-container">
			<p class="title">Класс</p>
			<img src="%=static=%img/general/icons/info.svg" alt="icon" class="info-icon">
			<img src="%=static=%img/general/icons/arrow-down.png" alt="icon" class="arrow-icon">
		</div>
		<div class="dropdown-main-container">
			<ul class="dropdown-list">
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="checkbox" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Для несложных задач</span>
						<span class="amount">(30)</span>
					</a>
				</li>
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="checkbox" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Для работы и учебы</span>
						<span class="amount">(20)</span>
					</a>
				</li>
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="checkbox" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Геймерские ноутбуки</span>
						<span class="amount">(45)</span>
					</a>
				</li>
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="checkbox" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Мультимедийные 
	центры</span>
						<span class="amount">(150)</span>
					</a>
				</li>
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="checkbox" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Мультимедийные 
	центры</span>
						<span class="amount">(150)</span>
					</a>
				</li>
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="checkbox" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Мультимедийные 
	центры</span>
						<span class="amount">(150)</span>
					</a>
				</li>
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="checkbox" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Мультимедийные 
	центры</span>
						<span class="amount">(150)</span>
					</a>
				</li>
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="checkbox" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Мультимедийные 
	центры</span>
						<span class="amount">(150)</span>
					</a>
				</li>
			</ul>
			<div class="more-item">
					<img src="%=static=%img/general/icons/arrow-down.png" alt="icon" class="more__icon">
					<span class="more__text closed">Еще</span>
					<span class="more__text opened">Скрыть</span>
				</div>
		</div>
	</div>
	<div class="sidebar__dropdown">
		<div class="dropdown-head-container">
			<p class="title">Конструкция</p>
			<img src="%=static=%img/general/icons/info.svg" alt="icon" class="info-icon">
			<img src="%=static=%img/general/icons/arrow-down.png" alt="icon" class="arrow-icon">
		</div>
		<div class="dropdown-main-container">
			<ul class="dropdown-list">
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="checkbox" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Acer</span>
						<span class="amount">(30)</span>
					</a>
				</li>
			</ul>
			<div class="more-item">
					<img src="%=static=%img/general/icons/arrow-down.png" alt="icon" class="more__icon">
					<span class="more__text closed">Еще</span>
					<span class="more__text opened">Скрыть</span>
				</div>
		</div>
	</div>
	<div class="sidebar__dropdown">
		<div class="dropdown-head-container">
			<p class="title">Диагональ дисплея</p>
			<img src="%=static=%img/general/icons/info.svg" alt="icon" class="info-icon">
			<img src="%=static=%img/general/icons/arrow-down.png" alt="icon" class="arrow-icon">
		</div>
		<div class="dropdown-main-container">
			<ul class="dropdown-list">
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="checkbox" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Acer</span>
						<span class="amount">(30)</span>
					</a>
				</li>
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="checkbox" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Acer</span>
						<span class="amount">(30)</span>
					</a>
				</li>
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="checkbox" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Acer</span>
						<span class="amount">(30)</span>
					</a>
				</li>
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="checkbox" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Acer</span>
						<span class="amount">(30)</span>
					</a>
				</li>
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="checkbox" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Мультимедийные 
	центры</span>
						<span class="amount">(150)</span>
					</a>
				</li>
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="checkbox" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Мультимедийные 
	центры</span>
						<span class="amount">(150)</span>
					</a>
				</li>
			</ul>
			<div class="more-item">
					<img src="%=static=%img/general/icons/arrow-down.png" alt="icon" class="more__icon">
					<span class="more__text closed">Еще</span>
					<span class="more__text opened">Скрыть</span>
				</div>
		</div>
	</div>
	<div class="sidebar__dropdown">
		<div class="dropdown-head-container">
			<p class="title">Разрешение дисплея</p>
			<img src="%=static=%img/general/icons/info.svg" alt="icon" class="info-icon">
			<img src="%=static=%img/general/icons/arrow-down.png" alt="icon" class="arrow-icon">
		</div>
		<div class="dropdown-main-container">
			<ul class="dropdown-list">
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="checkbox" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Acer</span>
						<span class="amount">(30)</span>
					</a>
				</li>
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="checkbox" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Acer</span>
						<span class="amount">(30)</span>
					</a>
				</li>
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="checkbox" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Acer</span>
						<span class="amount">(30)</span>
					</a>
				</li>
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="checkbox" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Acer</span>
						<span class="amount">(30)</span>
					</a>
				</li>
			</ul>
			<div class="more-item">
					<img src="%=static=%img/general/icons/arrow-down.png" alt="icon" class="more__icon">
					<span class="more__text closed">Еще</span>
					<span class="more__text opened">Скрыть</span>
				</div>
		</div>
	</div>
	<div class="sidebar__dropdown">
		<div class="dropdown-head-container">
			<p class="title">Тип матрицы</p>
			<img src="%=static=%img/general/icons/info.svg" alt="icon" class="info-icon">
			<img src="%=static=%img/general/icons/arrow-down.png" alt="icon" class="arrow-icon">
		</div>
		<div class="dropdown-main-container">
			<ul class="dropdown-list">
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="checkbox" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Acer</span>
						<span class="amount">(30)</span>
					</a>
				</li>
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="checkbox" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Acer</span>
						<span class="amount">(30)</span>
					</a>
				</li>
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="checkbox" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Acer</span>
						<span class="amount">(30)</span>
					</a>
				</li>
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="checkbox" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Acer</span>
						<span class="amount">(30)</span>
					</a>
				</li>
			</ul>
			<div class="more-item">
					<img src="%=static=%img/general/icons/arrow-down.png" alt="icon" class="more__icon">
					<span class="more__text closed">Еще</span>
					<span class="more__text opened">Скрыть</span>
				</div>
		</div>
	</div>
	<div class="sidebar__dropdown">
		<div class="dropdown-head-container">
			<p class="title">Покрытие дисплея</p>
			<img src="%=static=%img/general/icons/info.svg" alt="icon" class="info-icon">
			<img src="%=static=%img/general/icons/arrow-down.png" alt="icon" class="arrow-icon">
		</div>
		<div class="dropdown-main-container">
			<ul class="dropdown-list">
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="checkbox" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Acer</span>
						<span class="amount">(30)</span>
					</a>
				</li>
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="checkbox" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Acer</span>
						<span class="amount">(30)</span>
					</a>
				</li>
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="checkbox" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Acer</span>
						<span class="amount">(30)</span>
					</a>
				</li>
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="checkbox" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Acer</span>
						<span class="amount">(30)</span>
					</a>
				</li>
			</ul>
			<div class="more-item">
					<img src="%=static=%img/general/icons/arrow-down.png" alt="icon" class="more__icon">
					<span class="more__text closed">Еще</span>
					<span class="more__text opened">Скрыть</span>
				</div>
		</div>
	</div>
	<div class="sidebar__dropdown">
		<div class="dropdown-head-container">
			<p class="title">Объем накопителя</p>
			<img src="%=static=%img/general/icons/info.svg" alt="icon" class="info-icon">
			<img src="%=static=%img/general/icons/arrow-down.png" alt="icon" class="arrow-icon">
		</div>
		<div class="dropdown-main-container">
			<ul class="dropdown-list">
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="checkbox" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Acer</span>
						<span class="amount">(30)</span>
					</a>
				</li>
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="checkbox" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Acer</span>
						<span class="amount">(30)</span>
					</a>
				</li>
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="checkbox" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Acer</span>
						<span class="amount">(30)</span>
					</a>
				</li>
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="checkbox" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Acer</span>
						<span class="amount">(30)</span>
					</a>
				</li>
			</ul>
			<div class="more-item">
					<img src="%=static=%img/general/icons/arrow-down.png" alt="icon" class="more__icon">
					<span class="more__text closed">Еще</span>
					<span class="more__text opened">Скрыть</span>
				</div>
		</div>
	</div>
	<div class="sidebar__dropdown">
		<div class="dropdown-head-container">
			<p class="title">Видеокарта</p>
			<img src="%=static=%img/general/icons/info.svg" alt="icon" class="info-icon">
			<img src="%=static=%img/general/icons/arrow-down.png" alt="icon" class="arrow-icon">
		</div>
		<div class="dropdown-main-container">
			<ul class="dropdown-list">
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="checkbox" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Acer</span>
						<span class="amount">(30)</span>
					</a>
				</li>
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="checkbox" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Acer</span>
						<span class="amount">(30)</span>
					</a>
				</li>
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="checkbox" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Acer</span>
						<span class="amount">(30)</span>
					</a>
				</li>
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="checkbox" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Acer</span>
						<span class="amount">(30)</span>
					</a>
				</li>
			</ul>
			<div class="more-item">
					<img src="%=static=%img/general/icons/arrow-down.png" alt="icon" class="more__icon">
					<span class="more__text closed">Еще</span>
					<span class="more__text opened">Скрыть</span>
				</div>
		</div>
	</div>
	<div class="sidebar__dropdown">
		<div class="dropdown-head-container">
			<p class="title">Разрешение</p>
			<img src="%=static=%img/general/icons/info.svg" alt="icon" class="info-icon">
			<img src="%=static=%img/general/icons/arrow-down.png" alt="icon" class="arrow-icon">
		</div>
		<div class="dropdown-main-container">
			<ul class="dropdown-list">
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="checkbox" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Acer</span>
						<span class="amount">(30)</span>
					</a>
				</li>
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="checkbox" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Acer</span>
						<span class="amount">(30)</span>
					</a>
				</li>
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="checkbox" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Acer</span>
						<span class="amount">(30)</span>
					</a>
				</li>
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="checkbox" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Acer</span>
						<span class="amount">(30)</span>
					</a>
				</li>
			</ul>
			<div class="more-item">
					<img src="%=static=%img/general/icons/arrow-down.png" alt="icon" class="more__icon">
					<span class="more__text closed">Еще</span>
					<span class="more__text opened">Скрыть</span>
				</div>
		</div>
	</div>
	<div class="sidebar__dropdown">
		<div class="dropdown-head-container">
			<p class="title">Объем SSD</p>
			<img src="%=static=%img/general/icons/info.svg" alt="icon" class="info-icon">
			<img src="%=static=%img/general/icons/arrow-down.png" alt="icon" class="arrow-icon">
		</div>
		<div class="dropdown-main-container">
			<ul class="dropdown-list">
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="checkbox" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Acer</span>
						<span class="amount">(30)</span>
					</a>
				</li>
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="checkbox" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Acer</span>
						<span class="amount">(30)</span>
					</a>
				</li>
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="checkbox" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Acer</span>
						<span class="amount">(30)</span>
					</a>
				</li>
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="checkbox" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Acer</span>
						<span class="amount">(30)</span>
					</a>
				</li>
			</ul>
			<div class="more-item">
					<img src="%=static=%img/general/icons/arrow-down.png" alt="icon" class="more__icon">
					<span class="more__text closed">Еще</span>
					<span class="more__text opened">Скрыть</span>
				</div>
		</div>
	</div>
	<div class="sidebar__dropdown">
		<div class="dropdown-head-container">
			<p class="title">Класс</p>
			<img src="%=static=%img/general/icons/info.svg" alt="icon" class="info-icon">
			<img src="%=static=%img/general/icons/arrow-down.png" alt="icon" class="arrow-icon">
		</div>
		<div class="dropdown-main-container">
			<ul class="dropdown-list">
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="checkbox" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Acer</span>
						<span class="amount">(30)</span>
					</a>
				</li>
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="checkbox" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Acer</span>
						<span class="amount">(30)</span>
					</a>
				</li>
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="checkbox" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Acer</span>
						<span class="amount">(30)</span>
					</a>
				</li>
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="checkbox" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Acer</span>
						<span class="amount">(30)</span>
					</a>
				</li>
			</ul>
			<div class="more-item">
					<img src="%=static=%img/general/icons/arrow-down.png" alt="icon" class="more__icon">
					<span class="more__text closed">Еще</span>
					<span class="more__text opened">Скрыть</span>
				</div>
		</div>
	</div>
	<div class="sidebar__dropdown">
		<div class="dropdown-head-container">
			<p class="title">Серия дискретной карты</p>
			<img src="%=static=%img/general/icons/info.svg" alt="icon" class="info-icon">
			<img src="%=static=%img/general/icons/arrow-down.png" alt="icon" class="arrow-icon">
		</div>
		<div class="dropdown-main-container">
			<ul class="dropdown-list">
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="checkbox" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Acer</span>
						<span class="amount">(30)</span>
					</a>
				</li>
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="checkbox" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Acer</span>
						<span class="amount">(30)</span>
					</a>
				</li>
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="checkbox" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Acer</span>
						<span class="amount">(30)</span>
					</a>
				</li>
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="checkbox" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Acer</span>
						<span class="amount">(30)</span>
					</a>
				</li>
			</ul>
			<div class="more-item">
					<img src="%=static=%img/general/icons/arrow-down.png" alt="icon" class="more__icon">
					<span class="more__text closed">Еще</span>
					<span class="more__text opened">Скрыть</span>
				</div>
		</div>
	</div>
	<div class="sidebar__dropdown">
		<div class="dropdown-head-container">
			<p class="title">Объем накопителя</p>
			<img src="%=static=%img/general/icons/info.svg" alt="icon" class="info-icon">
			<img src="%=static=%img/general/icons/arrow-down.png" alt="icon" class="arrow-icon">
		</div>
		<div class="dropdown-main-container">
			<ul class="dropdown-list">
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="checkbox" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Acer</span>
						<span class="amount">(30)</span>
					</a>
				</li>
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="checkbox" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Acer</span>
						<span class="amount">(30)</span>
					</a>
				</li>
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="checkbox" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Acer</span>
						<span class="amount">(30)</span>
					</a>
				</li>
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="checkbox" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Acer</span>
						<span class="amount">(30)</span>
					</a>
				</li>
			</ul>
			<div class="more-item">
					<img src="%=static=%img/general/icons/arrow-down.png" alt="icon" class="more__icon">
					<span class="more__text closed">Еще</span>
					<span class="more__text opened">Скрыть</span>
				</div>
		</div>
	</div>
	<div class="sidebar__dropdown">
		<div class="dropdown-head-container">
			<p class="title">Торговая марка</p>
			<img src="%=static=%img/general/icons/info.svg" alt="icon" class="info-icon">
			<img src="%=static=%img/general/icons/arrow-down.png" alt="icon" class="arrow-icon">
		</div>
		<div class="dropdown-main-container">
			<ul class="dropdown-list">
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="checkbox" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Acer</span>
						<span class="amount">(30)</span>
					</a>
				</li>
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="checkbox" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Acer</span>
						<span class="amount">(30)</span>
					</a>
				</li>
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="checkbox" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Acer</span>
						<span class="amount">(30)</span>
					</a>
				</li>
				<li class="dropdown-list__item">
					<a href="#">
						<div class="checked-block">
							<input type="checkbox" value="None" name="check" />
							<label></label>
						</div>
						<span class="brand">Acer</span>
						<span class="amount">(30)</span>
					</a>
				</li>
			</ul>
			<div class="more-item">
					<img src="%=static=%img/general/icons/arrow-down.png" alt="icon" class="more__icon">
					<span class="more__text closed">Еще</span>
					<span class="more__text opened">Скрыть</span>
				</div>
		</div>
	</div>
	<div class="bottom-block">
		<div class="button">
			<span class="button-text">Применить</span>
		</div>
	</div>
</section>
{{> js/listing-sidebar}}