/*---------Montserrat font----------- */

@font-face {
    font-family: 'Montserrat Bold-italic';
    src: url('../fonts/Montserrat/montserrat-bolditalic-webfont.eot');
    src: url('../fonts/Montserrat/montserrat-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Montserrat/montserrat-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/Montserrat/montserrat-bolditalic-webfont.woff') format('woff'),
         url('../fonts/Montserrat/montserrat-bolditalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Montserrat Bold';
    src: url('../fonts/Montserrat/montserrat-bold-webfont.eot');
    src: url('../fonts/Montserrat/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Montserrat/montserrat-bold-webfont.woff2') format('woff2'),
         url('../fonts/Montserrat/montserrat-bold-webfont.woff') format('woff'),
         url('../fonts/Montserrat/montserrat-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'Montserrat Extrabold';
    src: url('../fonts/Montserrat/montserrat-extrabold-webfont.eot');
    src: url('../fonts/Montserrat/montserrat-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Montserrat/montserrat-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/Montserrat/montserrat-extrabold-webfont.woff') format('woff'),
         url('../fonts/Montserrat/montserrat-extrabold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Montserrat Extrabold-italic';
    src: url('../fonts/Montserrat/montserrat-extrabolditalic-webfont.eot');
    src: url('../fonts/Montserrat/montserrat-extrabolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Montserrat/montserrat-extrabolditalic-webfont.woff2') format('woff2'),
         url('../fonts/Montserrat/montserrat-extrabolditalic-webfont.woff') format('woff'),
         url('../fonts/Montserrat/montserrat-extrabolditalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Montserrat Extralight';
    src: url('../fonts/Montserrat/montserrat-extralight-webfont.eot');
    src: url('../fonts/Montserrat/montserrat-extralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Montserrat/montserrat-extralight-webfont.woff2') format('woff2'),
         url('../fonts/Montserrat/montserrat-extralight-webfont.woff') format('woff'),
         url('../fonts/Montserrat/montserrat-extralight-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Montserrat Extralight-italic';
    src: url('../fonts/Montserrat/montserrat-extralightitalic-webfont.eot');
    src: url('../fonts/Montserrat/montserrat-extralightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Montserrat/montserrat-extralightitalic-webfont.woff2') format('woff2'),
         url('../fonts/Montserrat/montserrat-extralightitalic-webfont.woff') format('woff'),
         url('../fonts/Montserrat/montserrat-extralightitalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Montserrat Regular';
    src: url('../fonts/Montserrat/montserrat-regular-webfont.eot');
    src: url('../fonts/Montserrat/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Montserrat/montserrat-regular-webfont.woff2') format('woff2'),
         url('../fonts/Montserrat/montserrat-regular-webfont.woff') format('woff'),
         url('../fonts/Montserrat/montserrat-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'Montserrat Italic';
    src: url('../fonts/Montserrat/montserrat-italic-webfont.eot');
    src: url('../fonts/Montserrat/montserrat-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Montserrat/montserrat-italic-webfont.woff2') format('woff2'),
         url('../fonts/Montserrat/montserrat-italic-webfont.woff') format('woff'),
         url('../fonts/Montserrat/montserrat-italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Montserrat Light';
    src: url('../fonts/Montserrat/Montserrat/montserrat-light-webfont.eot');
    src: url('../fonts/Montserrat/montserrat-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Montserrat/montserrat-light-webfont.woff2') format('woff2'),
         url('../fonts/Montserrat/montserrat-light-webfont.woff') format('woff'),
         url('../fonts/Montserrat/montserrat-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'Montserrat Light-italic';
    src: url('../fonts/Montserrat/montserrat-lightitalic-webfont.eot');
    src: url('../fonts/Montserrat/montserrat-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Montserrat/montserrat-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/Montserrat/montserrat-lightitalic-webfont.woff') format('woff'),
         url('../fonts/Montserrat/montserrat-lightitalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Montserrat Medium';
    src: url('../fonts/Montserrat/montserrat-medium-webfont.eot');
    src: url('../fonts/Montserrat/montserrat-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Montserrat/montserrat-medium-webfont.woff2') format('woff2'),
         url('../fonts/Montserrat/montserrat-medium-webfont.woff') format('woff'),
         url('../fonts/Montserrat/montserrat-medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'Montserrat Medium-italic';
    src: url('../fonts/Montserrat/montserrat-mediumitalic-webfont.eot');
    src: url('../fonts/Montserrat/montserrat-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Montserrat/montserrat-mediumitalic-webfont.woff2') format('woff2'),
         url('../fonts/Montserrat/montserrat-mediumitalic-webfont.woff') format('woff'),
         url('../fonts/Montserrat/montserrat-mediumitalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Montserrat Semibold';
    src: url('../fonts/Montserrat/montserrat-semibold-webfont.eot');
    src: url('../fonts/Montserrat/montserrat-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Montserrat/montserrat-semibold-webfont.woff2') format('woff2'),
         url('../fonts/Montserrat/montserrat-semibold-webfont.woff') format('woff'),
         url('../fonts/Montserrat/montserrat-semibold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Montserrat Semibold-italic';
    src: url('../fonts/Montserrat/montserrat-semibolditalic-webfont.eot');
    src: url('../fonts/Montserrat/montserrat-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Montserrat/montserrat-semibolditalic-webfont.woff2') format('woff2'),
         url('../fonts/Montserrat/montserrat-semibolditalic-webfont.woff') format('woff'),
         url('../fonts/Montserrat/montserrat-semibolditalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Montserrat Thin';
    src: url('../fonts/Montserrat/montserrat-thin-webfont.eot');
    src: url('../fonts/Montserrat/montserrat-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Montserrat/montserrat-thin-webfont.woff2') format('woff2'),
         url('../fonts/Montserrat/montserrat-thin-webfont.woff') format('woff'),
         url('../fonts/Montserrat/montserrat-thin-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Montserrat Thin-italic';
    src: url('../fonts/Montserrat/montserrat-thinitalic-webfont.eot');
    src: url('../fonts/Montserrat/montserrat-thinitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Montserrat/montserrat-thinitalic-webfont.woff2') format('woff2'),
         url('../fonts/Montserrat/montserrat-thinitalic-webfont.woff') format('woff'),
         url('../fonts/Montserrat/montserrat-thinitalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


/*-----Font awesome font---------- */


@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}




/*-----Roboto font---------- */



@font-face {
    font-family: 'Roboto Black';
    src: url('../fonts/Roboto/roboto-black-webfont.eot');
    src: url('../fonts/Roboto/roboto-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto/roboto-black-webfont.woff2') format('woff2'),
         url('../fonts/Roboto/roboto-black-webfont.woff') format('woff'),
         url('../fonts/Roboto/roboto-black-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Roboto Black-italic';
    src: url('../fonts/Roboto/roboto-blackitalic-webfont.eot');
    src: url('../fonts/Roboto/roboto-blackitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto/roboto-blackitalic-webfont.woff2') format('woff2'),
         url('../fonts/Roboto/roboto-blackitalic-webfont.woff') format('woff'),
         url('../fonts/Roboto/roboto-blackitalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Roboto Bold';
    src: url('../fonts/Roboto/roboto-bold-webfont.eot');
    src: url('../fonts/Roboto/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto/roboto-bold-webfont.woff2') format('woff2'),
         url('../fonts/Roboto/roboto-bold-webfont.woff') format('woff'),
         url('../fonts/Roboto/roboto-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Roboto Bold-italic';
    src: url('../fonts/Roboto/roboto-bolditalic-webfont.eot');
    src: url('../fonts/Roboto/roboto-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto/roboto-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/Roboto/roboto-bolditalic-webfont.woff') format('woff'),
         url('../fonts/Roboto/roboto-bolditalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Roboto Italic';
    src: url('../fonts/Roboto/roboto-italic-webfont.eot');
    src: url('../fonts/Roboto/roboto-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto/roboto-italic-webfont.woff2') format('woff2'),
         url('../fonts/Roboto/roboto-italic-webfont.woff') format('woff'),
         url('../fonts/Roboto/roboto-italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Roboto Light';
    src: url('../fonts/Roboto/roboto-light-webfont.eot');
    src: url('../fonts/Roboto/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto/roboto-light-webfont.woff2') format('woff2'),
         url('../fonts/Roboto/roboto-light-webfont.woff') format('woff'),
         url('../fonts/Roboto/roboto-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Roboto Light_italic';
    src: url('../fonts/Roboto/roboto-lightitalic-webfont.eot');
    src: url('../fonts/Roboto/roboto-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto/roboto-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/Roboto/roboto-lightitalic-webfont.woff') format('woff'),
         url('../fonts/Roboto/roboto-lightitalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Roboto Medium';
    src: url('../fonts/Roboto/roboto-medium-webfont.eot');
    src: url('../fonts/Roboto/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto/roboto-medium-webfont.woff2') format('woff2'),
         url('../fonts/Roboto/roboto-medium-webfont.woff') format('woff'),
         url('../fonts/Roboto/roboto-medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Roboto Medium-italic';
    src: url('../fonts/Roboto/roboto-mediumitalic-webfont.eot');
    src: url('../fonts/Roboto/roboto-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto/roboto-mediumitalic-webfont.woff2') format('woff2'),
         url('../fonts/Roboto/roboto-mediumitalic-webfont.woff') format('woff'),
         url('../fonts/Roboto/roboto-mediumitalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Roboto Regular';
    src: url('../fonts/Roboto/roboto-regular-webfont.eot');
    src: url('../fonts/Roboto/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto/roboto-regular-webfont.woff2') format('woff2'),
         url('../fonts/Roboto/roboto-regular-webfont.woff') format('woff'),
         url('../fonts/Roboto/roboto-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Roboto Thin';
    src: url('../fonts/Roboto/roboto-thin-webfont.eot');
    src: url('../fonts/Roboto/roboto-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto/roboto-thin-webfont.woff2') format('woff2'),
         url('../fonts/Roboto/roboto-thin-webfont.woff') format('woff'),
         url('../fonts/Roboto/roboto-thin-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Roboto Thin-italic';
    src: url('../fonts/Roboto/roboto-thinitalic-webfont.eot');
    src: url('../fonts/Roboto/roboto-thinitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto/roboto-thinitalic-webfont.woff2') format('woff2'),
         url('../fonts/Roboto/roboto-thinitalic-webfont.woff') format('woff'),
         url('../fonts/Roboto/roboto-thinitalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}