<div class="discount-variant">
	<div class="discount-variant__title">
		<h3 class="title">Вместе дешевле</h3>
	</div>
	<div class="discount-variant__carousel">
		<div class="slide-container">
				<a href="#" class="slide-container__product main">
					<img src="%=static=%img/general/card/asus-notebook.png" alt="image" class="product-image">
					<p class="product-description">Ноутбук HP ProBook 430 G4 (W6P97AV_V9)</p>
				</a>
				<p class="plus">+</p>
				<div class="vertical-slider-wrapper">
					<div class="add-prod-vertical-slider">
						<div class="vert-gallery">
							<div class="add-product-wrapper">
								<i class="fa fa-angle-up"></i>
								<a href="#" class="slide-container__product add-product">
									<img src="%=static=%img/general/card/mouse.png" alt="image" class="product-image">
									<p class="product-description">Мышь Logitech M185 Wireless Grey</p>
								</a>
								<span class="num-of-set-item">2 из 3</span>
								<i class="fa fa-angle-down"></i>
							</div>

							<p class="equal">=</p>
							<div class="slide-container__result">
								<div class="price">
									<div class="price__not-relevant">
										<span class="numb">14 925</span><span class="currency">грн</span>
									</div>
									<div class="price__relevant">
										<span class="numb">1100 999</span><span class="currency">грн</span>
									</div>
								</div>
								<div class="bonus">
									<img src="%=static=%img/general/icons/grn.svg" alt="rolling-product" class="bonus__icon">
									<span class="bonus__calculation">x15</span>
									<span class="bonus__sum">+ 200</span>
									<span class="bonus__currency">грн бонусов</span>
									<div class="answer-wrapper">
										<img src="%=static=%img/general/icons/answer.svg" alt="icon" class="answer-icon">
										<div class="answer-popup">
											<p class="answer-text">Вы можете оплатить часть покупки бонусами</p>
										</div>
									</div>
								</div>
								<button class="discount-button" type="submit">Купить комплект</button>
							</div>
						</div>
					</div>
				</div>
		</div>
		<div class="slide-container">
				<a href="#" class="slide-container__product main">
					<img src="%=static=%img/general/card/asus-notebook.png" alt="image" class="product-image">
					<p class="product-description">Ноутбук HP ProBook 430 G4 (W6P97AV_V9)</p>
				</a>
				<p class="plus">+</p>
				<div class="vertical-slider-wrapper">
					<div class="add-prod-vertical-slider">
						<div class="vert-gallery">
							<div class="add-product-wrapper">
								<i class="fa fa-angle-up"></i>
								<a href="#" class="slide-container__product add-product">
									<img src="%=static=%img/general/card/mouse.png" alt="image" class="product-image">
									<p class="product-description">Мышь Logitech M185 Wireless Grey</p>
								</a>
								<span class="num-of-set-item">2 из 3</span>
								<i class="fa fa-angle-down"></i>
							</div>

							<p class="equal">=</p>
							<div class="slide-container__result">
								<div class="price">
									<div class="price__not-relevant">
										<span class="numb">14 925</span><span class="currency">грн</span>
									</div>
									<div class="price__relevant">
										<span class="numb">1100 999</span><span class="currency">грн</span>
									</div>
								</div>
								<div class="bonus">
									<img src="%=static=%img/general/icons/grn.svg" alt="rolling-product" class="bonus__icon">
									<span class="bonus__calculation">x15</span>
									<span class="bonus__sum">+ 200</span>
									<span class="bonus__currency">грн бонусов</span>
									<div class="answer-wrapper">
										<img src="%=static=%img/general/icons/answer.svg" alt="icon" class="answer-icon">
										<div class="answer-popup">
											<p class="answer-text">Вы можете оплатить часть покупки бонусами</p>
										</div>
									</div>
								</div>
								<button class="discount-button" type="submit">Купить комплект</button>
							</div>
						</div>
					</div>
				</div>
		</div>
	</div>
</div>