<div class="discount-variant">
	<div class="discount-variant__carousel owl-carousel owl-theme">
		<div class="slide-container">
			<div class="discount-variant__title">
				<h3 class="title">Акция! При покупке комплекта, скидка 31% на реле напряжения!</h3>
			</div>
			<div class="discount-product-container">
				<a href="/ru/product/holodilniki_zanussi_zrt18100wa" class="slide-container__product main">
					<img src="https://i1.foxtrot.com.ua/product/MediumImages/6243528_0.jpg" alt="image" class="product-image">
					<p class="product-description">Холодильник ZANUSSI ZRT18100WA</p>
				</a>
				<p class="plus">+</p>
				<div class="vertical-slider-wrapper">
					<div class="add-prod-vertical-slider">
						<div class="vert-gallery" data-index="0" style="float:left;">
							<div class="add-product-wrapper">
								<a href="/ru/product/rele_napriazhenia_digitop_vp-16as" class="slide-container__product add-product">
									<img src="https://i1.foxtrot.com.ua/product/MediumImages/6181419_0.jpg" alt="image" class="product-image">
									<p class="product-description">Реле напряжения DigiTOP V-protector 16AS (розеточное)</p>
								</a>
							</div>

							<p class="equal">=</p>
							<div class="slide-container__result">
								<div class="price">
									<div class="price__not-relevant">
										<span class="numb">6677</span><span class="currency">грн</span>
									</div>
									<div class="price__relevant">
										<span class="numb">6527</span><span class="currency">грн</span>
									</div>
								</div>
								<div class="bonus">
									<img src="%=static=%img/general/icons/grn.svg" alt="rolling-product" class="bonus__icon">
									<span class="bonus__calculation">x15</span>
									<span class="bonus__sum">+ 200</span>
									<span class="bonus__currency">грн бонусов</span>
									<div class="answer-wrapper">
										<img src="%=static=%img/general/icons/answer.svg" alt="icon" class="answer-icon">
										<div class="answer-popup">
											<p class="answer-text">Вы можете оплатить часть покупки бонусами</p>
										</div>
									</div>
								</div>
								<button class="discount-button" type="submit">Купить комплект</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="slide-container">
			<div class="discount-variant__title">
				<h3 class="title">Вместе дешевле</h3>
			</div>
			<div class="discount-product-container">
				<a href="/ru/product/holodilniki_zanussi_zrt18100wa" class="slide-container__product main">
					<img src="https://i1.foxtrot.com.ua/product/MediumImages/6243528_0.jpg" alt="image" class="product-image">
					<p class="product-description">Холодильник ZANUSSI ZRT18100WA</p>
				</a>
				<p class="plus">+</p>
				<div class="vertical-slider-wrapper">
					<div class="add-prod-vertical-slider">
						<div class="vert-gallery" data-index="0" style="float:left;">
							<div class="add-product-wrapper">
									<i class="fa fa-angle-up" onclick="showNext(this, -1, 2)"></i>
								<a href="/ru/product/rele_napriazhenia_novatek_rn-101m-kbt" class="slide-container__product add-product">
									<img src="https://i1.foxtrot.com.ua/product/MediumImages/5744470_0.jpg" alt="image" class="product-image">
									<p class="product-description">Реле напряжения NOVATEK РН-101М (КБТ)</p>
								</a>
									<span class="num-of-set-item">1 из 2</span>
									<i class="fa fa-angle-down" onclick="showNext(this, 1, 2)"></i>
							</div>

							<p class="equal">=</p>
							<div class="slide-container__result">
								<div class="price">
									<div class="price__not-relevant">
										<span class="numb">6797</span><span class="currency">грн</span>
									</div>
									<div class="price__relevant">
										<span class="numb">6668</span><span class="currency">грн</span>
									</div>
								</div>
								<div class="bonus">
									<img src="%=static=%img/general/icons/grn.svg" alt="rolling-product" class="bonus__icon">
									<span class="bonus__calculation">x15</span>
									<span class="bonus__sum">+ 200</span>
									<span class="bonus__currency">грн бонусов</span>
									<div class="answer-wrapper">
										<img src="%=static=%img/general/icons/answer.svg" alt="icon" class="answer-icon">
										<div class="answer-popup">
											<p class="answer-text">Вы можете оплатить часть покупки бонусами</p>
										</div>
									</div>
								</div>
								<button class="discount-button" type="submit">Купить комплект</button>
							</div>
						</div>
						<div class="vert-gallery" data-index="1" style="float:left;display:none">
							<div class="add-product-wrapper">
									<i class="fa fa-angle-up" onclick="showNext(this, -1, 2)"></i>
								<a href="/ru/product/rele_napriazhenia_digitop_vp-16as" class="slide-container__product add-product">
									<img src="https://i1.foxtrot.com.ua/product/MediumImages/6181419_0.jpg" alt="image" class="product-image">
									<p class="product-description">Реле напряжения DigiTOP V-protector 16AS (розеточное)</p>
								</a>
									<span class="num-of-set-item">1 из 2</span>
									<i class="fa fa-angle-down" onclick="showNext(this, 1, 2)"></i>
							</div>

							<p class="equal">=</p>
							<div class="slide-container__result">
								<div class="price">
									<div class="price__not-relevant">
										<span class="numb">6677</span><span class="currency">грн</span>
									</div>
									<div class="price__relevant">
										<span class="numb">6505</span><span class="currency">грн</span>
									</div>
								</div>
								<div class="bonus">
									<img src="%=static=%img/general/icons/grn.svg" alt="rolling-product" class="bonus__icon">
									<span class="bonus__calculation">x15</span>
									<span class="bonus__sum">+ 200</span>
									<span class="bonus__currency">грн бонусов</span>
									<div class="answer-wrapper">
										<img src="%=static=%img/general/icons/answer.svg" alt="icon" class="answer-icon">
										<div class="answer-popup">
											<p class="answer-text">Вы можете оплатить часть покупки бонусами</p>
										</div>
									</div>
								</div>
								<button class="discount-button" type="submit">Купить комплект</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	$(document).ready(function(){
		$(".discount-variant .discount-variant__carousel").owlCarousel({
			items: 1,
			loop: false,
			autoplay: false,
			autoplayTimeout: 5000,
			dots: false,
			nav:true,
			autoplayHoverPause: true,
			navText : ["<i class='fa fa-angle-left'></i>","<i class='fa fa-angle-right'></i>"]
		});
	});
</script>