<div class="popup_response_wrap popup_response_wrap--location">
    <div class="popup_respone">
        <div class="basket-popup__header">
            <h3 class="title">Узнайте местонахождение вашего заказа</h3>
            <img src="%=static=%img/general/icons/close-icon.svg" alt="icon" class="basket-close">
        </div>
        <div class="popup_body">
                <div class="popup_field">
                    <div class="field_title">Для этого перейдите по ссылке логической компании.<br>После введите номер товарно-транспортной накладной, высланной Вам в SMS</div>
                    <div class="field_info">
                        <a href="#">
                            <img src="%=static=%img/general/card/np-logo.jpeg" alt="Новая почта">
                        </a>
                    </div>
                </div>
        </div>
    </div>
</div>
<script>
    function locationPopup() {

        $(".header .info-list__item .call__track, .mobile-menu .mm-list-item.find").click(function() {

            $("body").addClass("fixed");
            $(".mask").addClass("full cover");
            $(".popup_response_wrap.popup_response_wrap--location").addClass("show");

            if (window.innerWidth <= 768){
                $(".mask, .popup_response_wrap--location .basket-close").click(function() {
                    $(".popup_response_wrap.popup_response_wrap--location").removeClass("show");
                    $("body").removeClass("fixed");
                    if ($(".mobile-menu").hasClass("active") ) {
                                $(".mask").removeClass("cover");
                        }
                });
                    $('.popup_response_wrap--location').addClass('popup_response_wrap-mobile');
            } else {
                $('.popup_response_wrap--location').removeClass('popup_response_wrap-mobile');
                $(".mask, .popup_response_wrap--location .basket-close").click(function() {
                    $(".mask").removeClass("full cover");
                    $(".popup_response_wrap.popup_response_wrap--location").removeClass("show");
                    $("body").removeClass("fixed");
                });
            }
        });

    }
    $(document).ready(locationPopup);
</script>
