<div class="adress-block">
	<table class="adress-table" cellspacing="0">
		<tr class="table-row">
			<th class="cell-adress">Адрес</th>
			<th class="cell-able">Наличие</th>
			<th class="cell-workingtime">Режим работы</th>
			<th class="cell-button"></th>
		</tr>
		<tr class="table-row">
			<td class="cell-adress">
				<p class="adres-text">г.Киев, Гната Юры ул.б 20</p>
				<a href="#" class="about-store">
					<img src="%=static=%img/general/icons/pin.svg" alt="" class="about-img">
					<p class="about-text">Подробнее о магазине</p>
				</a>
			</td>
			<td class="cell-able">Доставим</td>
			<td class="cell-workingtime">10:00 - 21:00</td>
			<td class="cell-button"><a href="#" class="adress-button"><span class="take-it">Забрать</span><span class="when">13/06/2018</span></a></td>
		</tr>
		<tr class="table-row">
			<td class="cell-adress">
				<p class="adres-text">г.Киев, Гната Юры ул.б 20</p>
				<a href="#" class="about-store">
					<img src="%=static=%img/general/icons/pin.svg" alt="" class="about-img">
					<p class="about-text">Подробнее о магазине</p>
				</a>
			</td>
			<td class="cell-able able">Есть в наличии</td>
			<td class="cell-workingtime">10:00 - 21:00</td>
			<td class="cell-button"><a href="#" class="adress-button today"><span class="take-it">Забрать</span><span class="when">Сегодня</span></a></td>
		</tr>
		<tr class="table-row">
			<td class="cell-adress">
				<p class="adres-text">г.Киев, Гната Юры ул.б 20</p>
				<a href="#" class="about-store">
					<img src="%=static=%img/general/icons/pin.svg" alt="" class="about-img">
					<p class="about-text">Подробнее о магазине</p>
				</a>
			</td>
			<td class="cell-able able">Есть в наличии</td>
			<td class="cell-workingtime">10:00 - 21:00</td>
			<td class="cell-button"><a href="#" class="adress-button today"><span class="take-it">Забрать</span><span class="when">Сегодня</span></a></td>
		</tr>
		<tr class="table-row">
			<td class="cell-adress">
				<p class="adres-text">г.Киев, Гната Юры ул.б 20</p>
				<a href="#" class="about-store">
					<img src="%=static=%img/general/icons/pin.svg" alt="" class="about-img">
					<p class="about-text">Подробнее о магазине</p>
				</a>
			</td>
			<td class="cell-able able">Есть в наличии</td>
			<td class="cell-workingtime">10:00 - 21:00</td>
			<td class="cell-button"><a href="#" class="adress-button today"><span class="take-it">Забрать</span><span class="when">Сегодня</span></a></td>
		</tr>
		<tr class="table-row">
			<td class="cell-adress">
				<p class="adres-text">г.Киев, Гната Юры ул.б 20</p>
				<a href="#" class="about-store">
					<img src="%=static=%img/general/icons/pin.svg" alt="" class="about-img">
					<p class="about-text">Подробнее о магазине</p>
				</a>
			</td>
			<td class="cell-able able">Есть в наличии</td>
			<td class="cell-workingtime">10:00 - 21:00</td>
			<td class="cell-button"><a href="#" class="adress-button today"><span class="take-it">Забрать</span><span class="when">Сегодня</span></a></td>
		</tr>
		<tr class="table-row">
			<td class="cell-adress">
				<p class="adres-text">г.Киев, Гната Юры ул.б 20</p>
				<a href="#" class="about-store">
					<img src="%=static=%img/general/icons/pin.svg" alt="" class="about-img">
					<p class="about-text">Подробнее о магазине</p>
				</a>
			</td>
			<td class="cell-able able">Есть в наличии</td>
			<td class="cell-workingtime">10:00 - 21:00</td>
			<td class="cell-button"><a href="#" class="adress-button today"><span class="take-it">Забрать</span><span class="when">Сегодня</span></a></td>
		</tr>
		<tr class="table-row">
			<td class="cell-adress">
				<p class="adres-text">г.Киев, Гната Юры ул.б 20</p>
				<a href="#" class="about-store">
					<img src="%=static=%img/general/icons/pin.svg" alt="" class="about-img">
					<p class="about-text">Подробнее о магазине</p>
				</a>
			</td>
			<td class="cell-able able">Есть в наличии</td>
			<td class="cell-workingtime">10:00 - 21:00</td>
			<td class="cell-button"><a href="#" class="adress-button today"><span class="take-it">Забрать</span><span class="when">Сегодня</span></a></td>
		</tr>
		<tr class="table-row">
			<td class="cell-adress">
				<p class="adres-text">г.Киев, Гната Юры ул.б 20</p>
				<a href="#" class="about-store">
					<img src="%=static=%img/general/icons/pin.svg" alt="" class="about-img">
					<p class="about-text">Подробнее о магазине</p>
				</a>
			</td>
			<td class="cell-able able">Есть в наличии</td>
			<td class="cell-workingtime">10:00 - 21:00</td>
			<td class="cell-button"><a href="#" class="adress-button today"><span class="take-it">Забрать</span><span class="when">Сегодня</span></a></td>
		</tr>
		<tr class="table-row">
			<td class="cell-adress">
				<p class="adres-text">г.Киев, Гната Юры ул.б 20</p>
				<a href="#" class="about-store">
					<img src="%=static=%img/general/icons/pin.svg" alt="" class="about-img">
					<p class="about-text">Подробнее о магазине</p>
				</a>
			</td>
			<td class="cell-able able">Есть в наличии</td>
			<td class="cell-workingtime">10:00 - 21:00</td>
			<td class="cell-button"><a href="#" class="adress-button today"><span class="take-it">Забрать</span><span class="when">Сегодня</span></a></td>
		</tr>
		<tr class="table-row">
			<td class="cell-adress">
				<p class="adres-text">г.Киев, Гната Юры ул.б 20</p>
				<a href="#" class="about-store">
					<img src="%=static=%img/general/icons/pin.svg" alt="" class="about-img">
					<p class="about-text">Подробнее о магазине</p>
				</a>
			</td>
			<td class="cell-able able">Есть в наличии</td>
			<td class="cell-workingtime">10:00 - 21:00</td>
			<td class="cell-button"><a href="#" class="adress-button today"><span class="take-it">Забрать</span><span class="when">Сегодня</span></a></td>
		</tr>
		<tr class="table-row">
			<td class="cell-adress">
				<p class="adres-text">г.Киев, Гната Юры ул.б 20</p>
				<a href="#" class="about-store">
					<img src="%=static=%img/general/icons/pin.svg" alt="" class="about-img">
					<p class="about-text">Подробнее о магазине</p>
				</a>
			</td>
			<td class="cell-able able">Есть в наличии</td>
			<td class="cell-workingtime">10:00 - 21:00</td>
			<td class="cell-button"><a href="#" class="adress-button today"><span class="take-it">Забрать</span><span class="when">Сегодня</span></a></td>
		</tr>
		<tr class="table-row">
			<td class="cell-adress">
				<p class="adres-text">г.Киев, Гната Юры ул.б 20</p>
				<a href="#" class="about-store">
					<img src="%=static=%img/general/icons/pin.svg" alt="" class="about-img">
					<p class="about-text">Подробнее о магазине</p>
				</a>
			</td>
			<td class="cell-able able">Есть в наличии</td>
			<td class="cell-workingtime">10:00 - 21:00</td>
			<td class="cell-button"><a href="#" class="adress-button today"><span class="take-it">Забрать</span><span class="when">Сегодня</span></a></td>
		</tr>
		<tr class="table-row">
			<td class="cell-adress">
				<p class="adres-text">г.Киев, Гната Юры ул.б 20</p>
				<a href="#" class="about-store">
					<img src="%=static=%img/general/icons/pin.svg" alt="" class="about-img">
					<p class="about-text">Подробнее о магазине</p>
				</a>
			</td>
			<td class="cell-able able">Есть в наличии</td>
			<td class="cell-workingtime">10:00 - 21:00</td>
			<td class="cell-button"><a href="#" class="adress-button today"><span class="take-it">Забрать</span><span class="when">Сегодня</span></a></td>
		</tr>
		<tr class="table-row">
			<td class="cell-adress">
				<p class="adres-text">г.Киев, Гната Юры ул.б 20</p>
				<a href="#" class="about-store">
					<img src="%=static=%img/general/icons/pin.svg" alt="" class="about-img">
					<p class="about-text">Подробнее о магазине</p>
				</a>
			</td>
			<td class="cell-able able">Есть в наличии</td>
			<td class="cell-workingtime">10:00 - 21:00</td>
			<td class="cell-button"><a href="#" class="adress-button today"><span class="take-it">Забрать</span><span class="when">Сегодня</span></a></td>
		</tr>
		<tr class="table-row">
			<td class="cell-adress">
				<p class="adres-text">г.Киев, Гната Юры ул.б 20</p>
				<a href="#" class="about-store">
					<img src="%=static=%img/general/icons/pin.svg" alt="" class="about-img">
					<p class="about-text">Подробнее о магазине</p>
				</a>
			</td>
			<td class="cell-able able">Есть в наличии</td>
			<td class="cell-workingtime">10:00 - 21:00</td>
			<td class="cell-button"><a href="#" class="adress-button today"><span class="take-it">Забрать</span><span class="when">Сегодня</span></a></td>
		</tr>
	</table>
</div>