<div class="popup_response_wrap popup_response_wrap--send">
    <div class="popup_respone">
        <div class="basket-popup__header">
            <h3 class="title">Ответить</h3>
            <img src="%=static=%img/general/icons/close-icon.svg" alt="icon" class="basket-close">
        </div>
        <div class="popup_body">
            <form>
                <div class="popup_field">
                    <div class="field_title">Ваш комментарий*</div>
                    <div class="field_info">
                        <div class="input-wrapper input-wrapper_comment">
                            <input id="comment" type="text" data-required="true" data-val-required="Оставьте отзыв">
                            <label for="comment" class="errorText"></label>
                        </div>
                    </div>
                </div>
                <div class="popup_half_wrap">
                    <div class="popup_field">
                        <div class="field_title">Ваше имя*</div>
                        <div class="field_info">
                            <div class="input-wrapper input-wrapper_half">
                                <input id="firstName" type="text" data-required="true" placeholder="Ваше имя" data-val-required="Укажите имя">
                                <label for="firstName" class="errorText"></label>
                            </div>
                        </div>
                    </div>
                    <div class="popup_field">
                        <div class="field_title">Ваш email</div>
                        <div class="field_info">
                            <div class="input-wrapper input-wrapper_half">
                                <input id="email" type="text" placeholder="Ваш email" data-val-required="Вы ввели некорректный Email">
                                <label for="email" class="errorText"></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="popup_field popup_field_mailResponse">
                    <div class="field_info">
                        <div class="input-wrapper">
                            <input type="checkbox" name="mailResponse" value="">
                        </div>
                    </div>
                    <div class="field_title">Получить ответы на email</div>
                </div>
                <button type="button" class="popup_btn">Ответить</button>
            </form>
        </div>
    </div>
</div>
<script>
     function sendPopup() {

         $(".feedback .answerto").click(function() {

            $("body").addClass("fixed");
            $(".popup_response_wrap.popup_response_wrap--send").addClass("show");
            $(".mask").addClass("full cover");
        });

        $(".mask, .popup_response_wrap--send .basket-close").click(function() {
            $(".mask").removeClass("full cover");
            $(".popup_response_wrap.popup_response_wrap--send").removeClass("show");
            $("body").removeClass("fixed");
        });
     }
      $(document).ready(sendPopup);
</script>
