<div class="adress-block">
	<table class="adress-table" cellspacing="0">
		<tr class="table-row">
			<th class="cell-adress">Адрес</th>
			<th class="cell-workingtime">Режим работы</th>
            <th class="cell-able">Наличие</th>
            <th class="cell-button"></th>
		</tr>
		<tr class="table-row">
			<td class="cell-adress">
				<p class="adres-text">г.Киев, Гната Юры ул.б 20</p>
				<a href="#" class="about-store">
					<img src="%=static=%img/general/icons/pin.svg" alt="" class="about-img">
					<p class="about-text open">Смотреть на карте</p>
					<p class="about-text hidden close">Скрыть карту</p>
				</a>
			</td>
			<td class="cell-workingtime">Пн-Пт 09.00 - 22.00 - 22.00 - 22.00</td>
            <td class="cell-able">Доставим</td>
            <td class="cell-map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2541.5699865156735!2d30.45295331573066!3d50.430482979472615!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cea4d58c86d5%3A0xe08bdf7def651d9e!2sChokolivs'kyi+Blvd%2C+19%2C+Kyiv!5e0!3m2!1sen!2sua!4v1444595259740" frameborder="0" allowfullscreen=""></iframe></td>
            <td class="cell-button"><a href="#" class="adress-button"><span class="take-it">Забрать</span><span class="when">13/06/2018</span></a></td>
		</tr>
		<tr class="table-row">
			<td class="cell-adress">
				<p class="adres-text">г.Киев, Гната Юры ул.б 20</p>
				<a href="#" class="about-store">
					<img src="%=static=%img/general/icons/pin.svg" alt="" class="about-img">
					<p class="about-text open">Смотреть на карте</p>
					<p class="about-text hidden close">Скрыть карту</p>
				</a>
			</td>
			<td class="cell-workingtime"></td>
            <td class="cell-able able">В наличии</td>
            <td class="cell-map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2541.5699865156735!2d30.45295331573066!3d50.430482979472615!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cea4d58c86d5%3A0xe08bdf7def651d9e!2sChokolivs'kyi+Blvd%2C+19%2C+Kyiv!5e0!3m2!1sen!2sua!4v1444595259740" frameborder="0" allowfullscreen=""></iframe></td>
            <td class="cell-button"><a href="#" class="adress-button today"><span class="take-it">Забрать</span><span class="when">Сегодня</span></a></td>
		</tr>
        <tr class="table-row">
            <td class="cell-adress">
				<p class="adres-text">г.Киев, Гната Юры ул.б 20</p>
				<a href="#" class="about-store">
					<img src="%=static=%img/general/icons/pin.svg" alt="" class="about-img">
					<p class="about-text open">Смотреть на карте</p>
					<p class="about-text hidden close">Скрыть карту</p>
				</a>
			</td>
            <td class="cell-workingtime">Пн-Пт 09.00 - 22.00</td>
            <td class="cell-able able">В наличии</td>
            <td class="cell-map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2541.5699865156735!2d30.45295331573066!3d50.430482979472615!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cea4d58c86d5%3A0xe08bdf7def651d9e!2sChokolivs'kyi+Blvd%2C+19%2C+Kyiv!5e0!3m2!1sen!2sua!4v1444595259740" frameborder="0" allowfullscreen=""></iframe></td>
            <td class="cell-button"><a href="#" class="adress-button today"><span class="take-it">Забрать</span><span class="when">Сегодня</span></a></td>
		</tr>
        <tr class="table-row">
            <td class="cell-adress">
				<p class="adres-text">г.Киев, Гната Юры ул.б 20</p>
				<a href="#" class="about-store">
					<img src="%=static=%img/general/icons/pin.svg" alt="" class="about-img">
					<p class="about-text open">Смотреть на карте</p>
					<p class="about-text hidden close">Скрыть карту</p>
				</a>
			</td>
			<td class="cell-workingtime">Пн-Пт 09.00 - 22.00 sdfsdfdsf sdfsdf</td>
            <td class="cell-able able">В наличии</td>
            <td class="cell-map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2541.5699865156735!2d30.45295331573066!3d50.430482979472615!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cea4d58c86d5%3A0xe08bdf7def651d9e!2sChokolivs'kyi+Blvd%2C+19%2C+Kyiv!5e0!3m2!1sen!2sua!4v1444595259740" frameborder="0" allowfullscreen=""></iframe></td>
            <td class="cell-button"><a href="#" class="adress-button today"><span class="take-it">Забрать</span><span class="when">Сегодня</span></a></td>
		</tr>
		<tr class="table-row">
			<td class="cell-adress">
				<p class="adres-text">г.Киев, Гната Юры ул.б 20</p>
				<a href="#" class="about-store">
					<img src="%=static=%img/general/icons/pin.svg" alt="" class="about-img">
					<p class="about-text open">Смотреть на карте</p>
					<p class="about-text hidden close">Скрыть карту</p>
				</a>
			</td>
			<td class="cell-workingtime"></td>
            <td class="cell-able able">В наличии</td>
            <td class="cell-map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2541.5699865156735!2d30.45295331573066!3d50.430482979472615!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cea4d58c86d5%3A0xe08bdf7def651d9e!2sChokolivs'kyi+Blvd%2C+19%2C+Kyiv!5e0!3m2!1sen!2sua!4v1444595259740" frameborder="0" allowfullscreen=""></iframe></td>
            <td class="cell-button"><a href="#" class="adress-button today"><span class="take-it">Забрать</span><span class="when">Сегодня</span></a></td>
		</tr>
		<tr class="table-row">
			<td class="cell-adress">
				<p class="adres-text">г.Киев, Гната Юры ул.б 20</p>
				<a href="#" class="about-store">
					<img src="%=static=%img/general/icons/pin.svg" alt="" class="about-img">
					<p class="about-text open">Смотреть на карте</p>
					<p class="about-text hidden close">Скрыть карту</p>
				</a>
			</td>
			<td class="cell-workingtime">Пн-Пт 09.00 - 22.00</td>
            <td class="cell-able able">В наличии</td>
            <td class="cell-map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2541.5699865156735!2d30.45295331573066!3d50.430482979472615!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cea4d58c86d5%3A0xe08bdf7def651d9e!2sChokolivs'kyi+Blvd%2C+19%2C+Kyiv!5e0!3m2!1sen!2sua!4v1444595259740" frameborder="0" allowfullscreen=""></iframe></td>
            <td class="cell-button"><a href="#" class="adress-button today"><span class="take-it">Забрать</span><span class="when">Сегодня</span></a></td>
		</tr>
		<tr class="table-row">
			<td class="cell-adress">
				<p class="adres-text">г.Киев, Гната Юры ул.б 20</p>
				<a href="#" class="about-store">
					<img src="%=static=%img/general/icons/pin.svg" alt="" class="about-img">
					<p class="about-text open">Смотреть на карте</p>
					<p class="about-text hidden close">Скрыть карту</p>
				</a>
			</td>
			<td class="cell-workingtime">Пн-Пт 09.00 - 22.00</td>
            <td class="cell-able able">В наличии</td>
            <td class="cell-map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2541.5699865156735!2d30.45295331573066!3d50.430482979472615!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cea4d58c86d5%3A0xe08bdf7def651d9e!2sChokolivs'kyi+Blvd%2C+19%2C+Kyiv!5e0!3m2!1sen!2sua!4v1444595259740" frameborder="0" allowfullscreen=""></iframe></td>
            <td class="cell-button"><a href="#" class="adress-button today"><span class="take-it">Забрать</span><span class="when">Сегодня</span></a></td>
		</tr>
		<tr class="table-row">
			<td class="cell-adress">
				<p class="adres-text">г.Киев, Гната Юры ул.б 20</p>
				<a href="#" class="about-store">
					<img src="%=static=%img/general/icons/pin.svg" alt="" class="about-img">
					<p class="about-text open">Смотреть на карте</p>
					<p class="about-text hidden close">Скрыть карту</p>
				</a>
			</td>
			<td class="cell-workingtime">Пн-Пт 09.00 - 22.00</td>
            <td class="cell-able able">В наличии</td>
            <td class="cell-map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2541.5699865156735!2d30.45295331573066!3d50.430482979472615!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cea4d58c86d5%3A0xe08bdf7def651d9e!2sChokolivs'kyi+Blvd%2C+19%2C+Kyiv!5e0!3m2!1sen!2sua!4v1444595259740" frameborder="0" allowfullscreen=""></iframe></td>
            <td class="cell-button"><a href="#" class="adress-button today"><span class="take-it">Забрать</span><span class="when">Сегодня</span></a></td>
		</tr>
		<tr class="table-row">
			<td class="cell-adress">
				<p class="adres-text">г.Киев, Гната Юры ул.б 20</p>
				<a href="#" class="about-store">
					<img src="%=static=%img/general/icons/pin.svg" alt="" class="about-img">
					<p class="about-text open">Смотреть на карте</p>
					<p class="about-text hidden close">Скрыть карту</p>
				</a>
			</td>
			<td class="cell-workingtime">Пн-Пт 09.00 - 22.00</td>
            <td class="cell-able able">В наличии</td>
            <td class="cell-map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2541.5699865156735!2d30.45295331573066!3d50.430482979472615!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cea4d58c86d5%3A0xe08bdf7def651d9e!2sChokolivs'kyi+Blvd%2C+19%2C+Kyiv!5e0!3m2!1sen!2sua!4v1444595259740" frameborder="0" allowfullscreen=""></iframe></td>
            <td class="cell-button"><a href="#" class="adress-button today"><span class="take-it">Забрать</span><span class="when">Сегодня</span></a></td>
		</tr>
		<tr class="table-row">
			<td class="cell-adress">
				<p class="adres-text">г.Киев, Гната Юры ул.б 20</p>
				<a href="#" class="about-store">
					<img src="%=static=%img/general/icons/pin.svg" alt="" class="about-img">
					<p class="about-text open">Смотреть на карте</p>
					<p class="about-text hidden close">Скрыть карту</p>
				</a>
			</td>
			<td class="cell-workingtime">Пн-Пт 09.00 - 22.00</td>
            <td class="cell-able able">В наличии</td>
            <td class="cell-map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2541.5699865156735!2d30.45295331573066!3d50.430482979472615!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cea4d58c86d5%3A0xe08bdf7def651d9e!2sChokolivs'kyi+Blvd%2C+19%2C+Kyiv!5e0!3m2!1sen!2sua!4v1444595259740" frameborder="0" allowfullscreen=""></iframe></td>
            <td class="cell-button"><a href="#" class="adress-button today"><span class="take-it">Забрать</span><span class="when">Сегодня</span></a></td>
		</tr>
		<tr class="table-row">
			<td class="cell-adress">
				<p class="adres-text">г.Киев, Гната Юры ул.б 20</p>
				<a href="#" class="about-store">
					<img src="%=static=%img/general/icons/pin.svg" alt="" class="about-img">
					<p class="about-text open">Смотреть на карте</p>
					<p class="about-text hidden close">Скрыть карту</p>
				</a>
			</td>
			<td class="cell-workingtime">Пн-Пт 09.00 - 22.00</td>
            <td class="cell-able able">В наличии</td>
            <td class="cell-map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2541.5699865156735!2d30.45295331573066!3d50.430482979472615!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cea4d58c86d5%3A0xe08bdf7def651d9e!2sChokolivs'kyi+Blvd%2C+19%2C+Kyiv!5e0!3m2!1sen!2sua!4v1444595259740" frameborder="0" allowfullscreen=""></iframe></td>
            <td class="cell-button"><a href="#" class="adress-button today"><span class="take-it">Забрать</span><span class="when">Сегодня</span></a></td>
		</tr>
		<tr class="table-row">
			<td class="cell-adress">
				<p class="adres-text">г.Киев, Гната Юры ул.б 20</p>
				<a href="#" class="about-store">
					<img src="%=static=%img/general/icons/pin.svg" alt="" class="about-img">
					<p class="about-text open">Смотреть на карте</p>
					<p class="about-text hidden close">Скрыть карту</p>
				</a>
			</td>
			<td class="cell-workingtime">Пн-Пт 09.00 - 22.00</td>
            <td class="cell-able able">В наличии</td>
            <td class="cell-map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2541.5699865156735!2d30.45295331573066!3d50.430482979472615!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cea4d58c86d5%3A0xe08bdf7def651d9e!2sChokolivs'kyi+Blvd%2C+19%2C+Kyiv!5e0!3m2!1sen!2sua!4v1444595259740" frameborder="0" allowfullscreen=""></iframe></td>
            <td class="cell-button"><a href="#" class="adress-button today"><span class="take-it">Забрать</span><span class="when">Сегодня</span></a></td>
		</tr>
		<tr class="table-row">
			<td class="cell-adress">
				<p class="adres-text">г.Киев, Гната Юры ул.б 20</p>
				<a href="#" class="about-store">
					<img src="%=static=%img/general/icons/pin.svg" alt="" class="about-img">
					<p class="about-text open">Смотреть на карте</p>
					<p class="about-text hidden close">Скрыть карту</p>
				</a>
			</td>
			<td class="cell-workingtime">Пн-Пт 09.00 - 22.00</td>
            <td class="cell-able able">В наличии</td>
            <td class="cell-map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2541.5699865156735!2d30.45295331573066!3d50.430482979472615!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cea4d58c86d5%3A0xe08bdf7def651d9e!2sChokolivs'kyi+Blvd%2C+19%2C+Kyiv!5e0!3m2!1sen!2sua!4v1444595259740" frameborder="0" allowfullscreen=""></iframe></td>
            <td class="cell-button"><a href="#" class="adress-button today"><span class="take-it">Забрать</span><span class="when">Сегодня</span></a></td>
		</tr>
		<tr class="table-row">
			<td class="cell-adress">
				<p class="adres-text">г.Киев, Гната Юры ул.б 20</p>
				<a href="#" class="about-store">
					<img src="%=static=%img/general/icons/pin.svg" alt="" class="about-img">
					<p class="about-text open">Смотреть на карте</p>
					<p class="about-text hidden close">Скрыть карту</p>
				</a>
			</td>
			<td class="cell-workingtime">Пн-Пт 09.00 - 22.00</td>
            <td class="cell-able able">В наличии</td>
            <td class="cell-map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2541.5699865156735!2d30.45295331573066!3d50.430482979472615!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cea4d58c86d5%3A0xe08bdf7def651d9e!2sChokolivs'kyi+Blvd%2C+19%2C+Kyiv!5e0!3m2!1sen!2sua!4v1444595259740" frameborder="0" allowfullscreen=""></iframe></td>
            <td class="cell-button"><a href="#" class="adress-button today"><span class="take-it">Забрать</span><span class="when">Сегодня</span></a></td>
		</tr>
		<tr class="table-row">
			<td class="cell-adress">
				<p class="adres-text">г.Киев, Гната Юры ул.б 20</p>
				<a href="#" class="about-store">
					<img src="%=static=%img/general/icons/pin.svg" alt="" class="about-img">
					<p class="about-text open">Смотреть на карте</p>
					<p class="about-text hidden close">Скрыть карту</p>
				</a>
			</td>
			<td class="cell-workingtime">Пн-Пт 09.00 - 22.00</td>
            <td class="cell-able able">В наличии</td>
            <td class="cell-map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2541.5699865156735!2d30.45295331573066!3d50.430482979472615!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cea4d58c86d5%3A0xe08bdf7def651d9e!2sChokolivs'kyi+Blvd%2C+19%2C+Kyiv!5e0!3m2!1sen!2sua!4v1444595259740" frameborder="0" allowfullscreen=""></iframe></td>
            <td class="cell-button"><a href="#" class="adress-button today"><span class="take-it">Забрать</span><span class="when">Сегодня</span></a></td>
		</tr>
	</table>
</div>
