<div class="product-main-information">
	<div class="characteristic" id="characteristic">
		<div class="title-wrapper">
				<h3 class="title">Характеристики</h3>
			<div class="mark">
				<p class="mark__text">
					Ноутбук HP ProBook 430 G4 (W6P97AV_V9)
				</p>
			</div>
		</div>
        <div class="characteristic__core-list">
            <div class="characteristic__core-list-item">
                <div class="answer-wrapper">
                    <img src="%=static=%img/general/card/core.png" alt="core">
                    <div class="answer-popup">
                        <p class="answer-text">2x ядерный процессор</p>
                    </div>
                </div>
            </div>
            <div class="characteristic__core-list-item">
                <div class="answer-wrapper">
                    <img src="%=static=%img/general/card/core.png" alt="core">
                    <div class="answer-popup">
                        <p class="answer-text">2x ядерный процессор</p>
                    </div>
                </div>
            </div>
            <div class="characteristic__core-list-item">
                <div class="answer-wrapper">
                    <img src="%=static=%img/general/card/core.png" alt="core">
                    <div class="answer-popup">
                        <p class="answer-text">2x ядерный процессор</p>
                    </div>
                </div>
            </div>
            <div class="characteristic__core-list-item">
                <div class="answer-wrapper">
                    <img src="%=static=%img/general/card/core.png" alt="core">
                    <div class="answer-popup">
                        <p class="answer-text">2x ядерный процессор</p>
                    </div>
                </div>
            </div>
        </div>
		<div class="characteristic__block">
			<ul class="points-list">
				<li class="point">
					<p class="point__left-text">Дисплей</p>
					<p class="point__right-text">4096</p>
				</li>
				<li class="point">
					<p class="point__left-text">Дисплей</p>
					<p class="point__right-text">4096</p>
				</li>
				<li class="point">
					<p class="point__left-text">Дисплей</p>
					<p class="point__right-text">4096</p>
				</li>
				<li class="point">
					<p class="point__left-text">Дисплей</p>
					<p class="point__right-text">4096</p>
				</li>
				<li class="point">
					<p class="point__left-text">Дисплей</p>
					<p class="point__right-text">4096</p>
				</li>
				<li class="point">
					<p class="point__left-text">Дисплей</p>
					<p class="point__right-text">4096</p>
				</li>
				<li class="point">
					<p class="point__left-text">Дисплей</p>
					<p class="point__right-text">4096</p>
				</li>
				<li class="point">
					<p class="point__left-text">Дисплей</p>
					<p class="point__right-text">4096</p>
				</li>
				<li class="point">
					<p class="point__left-text">Дисплей</p>
					<p class="point__right-text">4096</p>
				</li>
				<li class="point">
					<p class="point__left-text">Дисплей</p>
					<p class="point__right-text">4096</p>
				</li>
				<li class="point">
					<p class="point__left-text">Дисплей</p>
					<p class="point__right-text">4096</p>
				</li>
				<li class="point">
					<p class="point__left-text">Дисплей</p>
					<p class="point__right-text">4096</p>
				</li>
				<li class="point">
					<p class="point__left-text">Дисплей</p>
					<p class="point__right-text">4096</p>
				</li>
				<li class="point">
					<p class="point__left-text">Дисплей</p>
					<p class="point__right-text">4096</p>
				</li>
				<li class="point">
					<p class="point__left-text">Дисплей</p>
					<p class="point__right-text">4096</p>
				</li>
				<li class="point">
					<p class="point__left-text">Дисплей</p>
					<p class="point__right-text">4096</p>
				</li>
				<li class="point">
					<p class="point__left-text">Дисплей</p>
					<p class="point__right-text">4096</p>
				</li>
				<li class="point">
					<p class="point__left-text">Дисплей</p>
					<p class="point__right-text">4096</p>
				</li>
				<li class="point">
					<p class="point__left-text">Дисплей</p>
					<p class="point__right-text">4096</p>
				</li>
				<li class="point">
					<p class="point__left-text">Дисплей</p>
					<p class="point__right-text">4096</p>
				</li>
				<li class="point">
					<p class="point__left-text">Дисплей</p>
					<p class="point__right-text">4096</p>
				</li>
				<li class="point">
					<p class="point__left-text">Дисплей</p>
					<p class="point__right-text">4096</p>
				</li>
				<li class="point">
					<p class="point__left-text">Дисплей</p>
					<p class="point__right-text">4096</p>
				</li>
				<li class="point">
					<p class="point__left-text">Дисплей</p>
					<p class="point__right-text">4096</p>
				</li>
				<li class="point">
					<p class="point__left-text">Дисплей</p>
					<p class="point__right-text">4096</p>
				</li>
				<li class="point">
					<p class="point__left-text">Дисплей</p>
					<p class="point__right-text">4096</p>
				</li>
				<li class="point">
					<p class="point__left-text">Дисплей</p>
					<p class="point__right-text">4096</p>
				</li>
				<li class="point">
					<p class="point__left-text">Дисплей</p>
					<p class="point__right-text">4096</p>
				</li>
				<li class="point">
					<p class="point__left-text">Дисплей</p>
					<p class="point__right-text">4096</p>
				</li>
				<li class="point">
					<p class="point__left-text">Дисплей</p>
					<p class="point__right-text">4096</p>
				</li>
				<li class="point">
					<p class="point__left-text">Дисплей</p>
					<p class="point__right-text">4096</p>
				</li>
				<li class="point">
					<p class="point__left-text">Дисплей</p>
					<p class="point__right-text">4096</p>
				</li>
				<li class="point">
					<p class="point__left-text">Дисплей</p>
					<p class="point__right-text">4096</p>
				</li>
				<li class="point">
					<p class="point__left-text">Дисплей</p>
					<p class="point__right-text">4096</p>
				</li>
				<li class="point">
					<p class="point__left-text">Дисплей</p>
					<p class="point__right-text">4096</p>
				</li>
				<li class="point">
					<p class="point__left-text">Дисплей</p>
					<p class="point__right-text">4096</p>
				</li>
				<li class="point">
					<p class="point__left-text">Дисплей</p>
					<p class="point__right-text">4096</p>
				</li>
				<li class="point">
					<p class="point__left-text">Дисплей</p>
					<p class="point__right-text">4096</p>
				</li>
				<li class="point">
					<p class="point__left-text">Дисплей</p>
					<p class="point__right-text">4096</p>
				</li>
				<li class="point">
					<p class="point__left-text">Дисплей</p>
					<p class="point__right-text">4096</p>
				</li>
			</ul>
			<div class="characteristic-more more-wrapper">
				<p class="more-toggler open">Скрыть</p>
				<p class="more-toggler closed">Все характеристики</p>
				<img src="%=static=%img/general/icons/arrow-down.png" alt="icon" class="more-arrow">
			</div>
		</div>
	</div>
	<script>
		$(document).ready(function() {
			var item = $(".characteristic .point");
			var toggler = $(".characteristic-more .more-toggler, .characteristic-more .more-arrow");
			var rotatingArrow = $(".characteristic-more .more-arrow");

			function hideCharacteristicPoints() {

				item.each(function(i) {

					if (i > itemLimit) {
						item.eq(i).addClass("hide");
					}
				});
				toggler.click(function() {
					rotatingArrow.toggleClass("rotate");
					$(".characteristic .more-toggler.open").toggle();
					$(".characteristic .more-toggler.closed").toggle();
					item.each(function(i) {

						if (i > itemLimit) {
							item.eq(i).toggleClass("hide");
						}
					});
				});
			}

			if (window.innerWidth > 1366) {
				var itemLimit = 20-1;
				hideCharacteristicPoints();
			}
			if (window.innerWidth <= 1366) {
				var itemLimit = 10-1;
				hideCharacteristicPoints();
			}
		});
	</script>
	<div class="about" id="about">
		<h3 class="title">О товаре</h3>
		<div class="about-text-wrapper">
			<p class="about__text">
				<p class="first-row">
					Потрясающая производительность, привлекательный дизайн.
				</p>
				Благодаря процессору нового поколения, поражающей богатой графикой и современным твердотельный накопителем, легкий 13.3-дюймовый ноутбук IdeaPad 710S поражает своей мощностью и портативностью. Среди других ключевых особенностей - автономный заряд, которого хватает на целый день работы устройства, ультрабыстрое подключения WiFi и впечатляющее пространственное звучание. В дополнение, ноутбук удивляет своей ультратонкой рамкой дисплея, которая почти на 50% тоньше за рамки других ноутбуков-конкурентов.
			</p>
			<p class="about__text">
				<p class="first-row">
				ПОРТАТИВНОСТЬ И МОЩНОСТЬ
				</p>
				Весом всего от 1.1 кг, Lenovo IdeaPad 710S является одним из самых тонких и легких ноутбуков в своем классе. Оснащен самым современным процессором Intel® Core™, данное устройство обеспечивает достаточно мощности и производительности для любых задач.
			</p>
			<p class="about__text">
				<p class="first-row">
				ПРЕВОСХОДНЫЕ ВОЗМОЖНОСТИ С WINDOWS 10
				</p>
				Windows 10 Home предлагает все лучшее от ОС Windows, которую вы уже хорошо знаете, и множество замечательных улучшений, которые вы полюбите: быстрая загрузка системы, расширенное меню Пуск, обновленный браузер и личный цифровой помощник Cortana. Теперь, даже работая с несколькими устройствами, вы получаете прекрасную возможность выполнять задачи быстрее и качественнее.
			</p>
			<p class="about__text">
				<p class="first-row">
				ПОРТАТИВНОСТЬ И МОЩНОСТЬ
				</p>
				Весом всего от 1.1 кг, Lenovo IdeaPad 710S является одним из самых тонких и легких ноутбуков в своем классе. Оснащен самым современным процессором Intel® Core™, данное устройство обеспечивает достаточно мощности и производительности для любых задач.
			</p>
			<p class="about__text">
				<p class="first-row">
				ПРЕВОСХОДНЫЕ ВОЗМОЖНОСТИ С WINDOWS 10
				</p>
				Windows 10 Home предлагает все лучшее от ОС Windows, которую вы уже хорошо знаете, и множество замечательных улучшений, которые вы полюбите: быстрая загрузка системы, расширенное меню Пуск, обновленный браузер и личный цифровой помощник Cortana. Теперь, даже работая с несколькими устройствами, вы получаете прекрасную возможность выполнять задачи быстрее и качественнее.
			</p>
		</div>
		<div class="more-wrapper">
			<p class="more-toggler open">Скрыть</p>
			<p class="more-toggler closed">Показать больше</p>
			<img src="%=static=%img/general/icons/arrow-down.png" alt="icon" class="more-arrow">
		</div>
	</div>
	<script>
		$(document).ready(function() {
			var stringHeight = $(".about .first-row").outerHeight();
			var aboutWrapper = $(".about-text-wrapper");
			var aboutToggler = $(".about .more-toggler, .about .more-arrow");
			var pureWrapperHeight = $(".about-text-wrapper").outerHeight();

			$(".about .about__text").css("margin-top", stringHeight);

			aboutWrapper.toggleClass("overflow");
			if (pureWrapperHeight < (stringHeight * 15) ) {
				aboutToggler.hide();
			} else {
				
				aboutToggler.click(function() {
					aboutWrapper.toggleClass("overflow");
					$(".about .more-arrow").toggleClass("rotate");
					$(".about .more-toggler.open").toggle();
					$(".about .more-toggler.closed").toggle();
				});
			}
		});
	</script>
	<div class="product-video" id="product-video">
		<h3 class="title">Видео</h3>
		<div class="video-gallery">
			<div class="main-video">
			</div>
			<ul class="thumbnail-videos">
				<li class="thumbnail">
					<iframe src="https://player.vimeo.com/video/273262257" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
					<div class="thumb-mask"></div>
				</li>
				<li class="thumbnail">
					<iframe src="https://player.vimeo.com/video/274430991" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
					<div class="thumb-mask"></div>
				</li>
				<li class="thumbnail">
					<iframe src="https://player.vimeo.com/video/267618536" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
					<div class="thumb-mask"></div>
				</li>
				<li class="thumbnail">
					<iframe src="https://player.vimeo.com/video/267618536" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
					<div class="thumb-mask"></div>
				</li>
			</ul>
		</div>
	</div>
	<script>
		$(document).ready(function() {
			var mainVideo = $(".product-video .main-video > iframe");
			var mainVideoWrapper = $(".product-video .main-video");
			var thumb = $(".product-video .thumbnail");
			var videoList = $(".product-video .thumbnail-videos");
			var videoBlock = $("#product-video");

			if (thumb.length == 1) {
				videoList.hide();
			}
			if (thumb.length < 1) {
				videoBlock.hide();
				$("a[href='#product-video']").parent().hide();
			}
			mainVideoWrapper.append(thumb.eq(0).find("iframe").clone() );

			thumb.click(function() {
				mainVideoWrapper.empty();
				var currentVideo = $(this).find("iframe");

				mainVideoWrapper.append(currentVideo.clone());
			});
		});
	</script>
	<div class="feedback" id="feedback">
		<div class="wrapper-container">
			<div class="feedback__top-container">
				<div class="wrapper">
					<h3 class="title">Отзывы покупателей</h3>
					<span class="amount">434</span>
				</div>
				<button class="btn fright add-recall">Написать отзыв</button>
			</div>
			<div class="rating">
				<p class="rating__name">Иван</p>
				<div class="rating__stars">
					<img src="%=static=%img/general/icons/StarFill.svg" alt="icon" class="ratting-star">
					<img src="%=static=%img/general/icons/StarFill.svg" alt="icon" class="ratting-star">
					<img src="%=static=%img/general/icons/StarFill.svg" alt="icon" class="ratting-star">
					<img src="%=static=%img/general/icons/Star.svg" alt="icon" class="ratting-star">
					<img src="%=static=%img/general/icons/Star.svg" alt="icon" class="ratting-star">
				</div>
				<p class="date">30.01.18</p>
			</div>
			<div class="opinion">
				<p class="opinion__text">Вообще не понимаю какой смысл брать этот ноутбук? Если по сути в Lenovo 320-15IKB по производительности такой же процессор и видеркарта не 920 а 940мх которая почти в 2 раза лучше, да и цена на 1 000 дешевле.</p>
			</div>
			<div class="advantages">
				<p class="advantages__bold">Достоинства:</p>
				<p class="advantages__opinion">Фронталка делает классные снимки.</p>
			</div>
			<div class="disadvantages">
				<p class="disadvantages__bold">Недостатки:</p>
				<p class="disadvantages__opinion">Задняя камера выглядит не очень.</p>
			</div>
			<div class="recall-panel">
				<span class="answerto">Ответить</span>
				<div class="benefit">
					<p class="ansver">
						Ответ полезен?
					</p>
					<p class="yes">Да<span class="count"></span></p>
					<p class="no">Нет<span class="count">1</span></p>
				</div>
			</div>
		</div>
		<div class="wrapper-container">
			<div class="feedback__top-container">
				<div class="wrapper">
					<h3 class="title">Отзывы покупателей</h3>
					<span class="amount">434</span>
				</div>
				<button class="btn fright add-recall">Написать отзыв</button>
			</div>
			<div class="rating">
				<p class="rating__name">Иван</p>
				<div class="rating__stars">
					<img src="%=static=%img/general/icons/StarFill.svg" alt="icon" class="ratting-star">
					<img src="%=static=%img/general/icons/StarFill.svg" alt="icon" class="ratting-star">
					<img src="%=static=%img/general/icons/StarFill.svg" alt="icon" class="ratting-star">
					<img src="%=static=%img/general/icons/Star.svg" alt="icon" class="ratting-star">
					<img src="%=static=%img/general/icons/Star.svg" alt="icon" class="ratting-star">
				</div>
				<p class="date">30.01.18</p>
			</div>
			<div class="opinion">
				<p class="opinion__text">Вообще не понимаю какой смысл брать этот ноутбук? Если по сути в Lenovo 320-15IKB по производительности такой же процессор и видеркарта не 920 а 940мх которая почти в 2 раза лучше, да и цена на 1 000 дешевле.</p>
			</div>
			<div class="advantages">
				<p class="advantages__bold">Достоинства:</p>
				<p class="advantages__opinion">Фронталка делает классные снимки.</p>
			</div>
			<div class="disadvantages">
				<p class="disadvantages__bold">Недостатки:</p>
				<p class="disadvantages__opinion">Задняя камера выглядит не очень.</p>
			</div>
			<div class="recall-panel">
				<span class="answerto">Ответить</span>
				<div class="benefit">
					<p class="ansver">
						Ответ полезен?
					</p>
					<p class="yes">Да<span class="count"></span></p>
					<p class="no">Нет<span class="count">1</span></p>
				</div>
			</div>
		</div>
		<div class="wrapper-container">
			<div class="feedback__top-container">
				<div class="wrapper">
					<h3 class="title">Отзывы покупателей</h3>
					<span class="amount">434</span>
				</div>
				<button class="btn fright add-recall">Написать отзыв</button>
			</div>
			<div class="rating">
				<p class="rating__name">Иван</p>
				<div class="rating__stars">
					<img src="%=static=%img/general/icons/StarFill.svg" alt="icon" class="ratting-star">
					<img src="%=static=%img/general/icons/StarFill.svg" alt="icon" class="ratting-star">
					<img src="%=static=%img/general/icons/StarFill.svg" alt="icon" class="ratting-star">
					<img src="%=static=%img/general/icons/Star.svg" alt="icon" class="ratting-star">
					<img src="%=static=%img/general/icons/Star.svg" alt="icon" class="ratting-star">
				</div>
				<p class="date">30.01.18</p>
			</div>
			<div class="opinion">
				<p class="opinion__text">Вообще не понимаю какой смысл брать этот ноутбук? Если по сути в Lenovo 320-15IKB по производительности такой же процессор и видеркарта не 920 а 940мх которая почти в 2 раза лучше, да и цена на 1 000 дешевле.</p>
			</div>
			<div class="advantages">
				<p class="advantages__bold">Достоинства:</p>
				<p class="advantages__opinion">Фронталка делает классные снимки.</p>
			</div>
			<div class="disadvantages">
				<p class="disadvantages__bold">Недостатки:</p>
				<p class="disadvantages__opinion">Задняя камера выглядит не очень.</p>
			</div>
			<div class="recall-panel">
				<span class="answerto">Ответить</span>
				<div class="benefit">
					<p class="ansver">
						Ответ полезен?
					</p>
					<p class="yes">Да<span class="count"></span></p>
					<p class="no">Нет<span class="count">1</span></p>
				</div>
			</div>
		</div>
		<div class="more-wrapper">
			<p class="more-toggler open">Скрыть</p>
			<p class="more-toggler closed">Показать больше</p>
			<img src="%=static=%img/general/icons/arrow-down.png" alt="icon" class="more-arrow">
		</div>
	</div>
	<script>
		$(document).ready(function() {
			var feedbackItem = $(".feedback .wrapper-container");
			var feedbackToggler = $(".feedback .more-toggler, .feedback .more-arrow");
			var rotatingArrow = $(".feedback .more-arrow");
			var itemLimit = 0;

			feedbackItem.each(function(i) {

				if (i > itemLimit) {
					feedbackItem.eq(i).addClass("hide");
				}
			});
			feedbackToggler.click(function() {
				rotatingArrow.toggleClass("rotate");
				$(".feedback .more-toggler.open").toggle();
				$(".feedback .more-toggler.closed").toggle();
				feedbackItem.each(function(i) {

					if (i > itemLimit) {
						feedbackItem.eq(i).toggleClass("hide");
					}
				});
			});
		});
	</script>
</div>