<div class="product-store-information">
	<div class="product-store-information__slider-block">
		<div class="top-panel">
			<span class="top-panel__informer discount">скидка 20%</span>
			<span class="top-panel__informer bonus">бонус х15</span>
			<span class="top-panel__informer opchas">
					<i class="icon-opchas"></i> оплата частями
				</span>
			<span class="top-plash promokod">
				<span class="julian-promokod">
					<i class="icon-promokod"></i> жми промокод
				</span>
				
				<div class="popup-promokod">
					<div class="popup-promokod-closed">x</div>
					<span class="popup-promokod-titel">Твой Промо Код:</span>
					<span class="popup-promokod-number">fox-promo</span>
					<span class="popup-promokod-text">Успей использовать!</span>
					<a class="popup-promokod-link">Подробнее</a>
				</div>
				
			</span>
			
			<div class="top-panel__brand">
				<img src="%=static=%img/general/card/asus.png" alt="brand" class="brand-image">
			</div>
		</div>
		<div class="slider-main owl-carousel owl-theme">
			<img src="%=static=%img/general/card/asus-notebook.png" alt="image" class="slider-image">
			<img src="%=static=%img/general/card/copy_lenovo_80xh00e4ra_596dee22bb07d_images_2093102200.png" alt="image" class="slider-image">
			<img src="%=static=%img/general/card/copy_lenovo_80xh00e4ra_596dee22bb07d_images_2093102382.png" alt="image" class="slider-image">
			<img src="%=static=%img/general/card/copy_lenovo_80xh00e4ra_596dee22bb07d_images_2093102473 (1).png" alt="image" class="slider-image">
			<img src="%=static=%img/general/card/copy_lenovo_80xh00e4ra_596dee22bb07d_images_2093102473.png" alt="image" class="slider-image">
			<img src="%=static=%img/general/card/asus-notebook.png" alt="image" class="slider-image">
			<img src="%=static=%img/general/card/copy_lenovo_80xh00e4ra_596dee22bb07d_images_2093102200.png" alt="image" class="slider-image">
			<img src="%=static=%img/general/card/copy_lenovo_80xh00e4ra_596dee22bb07d_images_2093102382.png" alt="image" class="slider-image">
			<img src="%=static=%img/general/card/copy_lenovo_80xh00e4ra_596dee22bb07d_images_2093102473 (1).png" alt="image" class="slider-image">
			<img src="%=static=%img/general/card/copy_lenovo_80xh00e4ra_596dee22bb07d_images_2093102473.png" alt="image" class="slider-image">
		</div>
		<script>
			/* preload */
			var preloadImg = $(".slider-main .slider-image");
			preloadImg.css("opacity", 0);
			$(document).ready(function () {
				preloadImg.css("opacity", 1);
			});
		</script>
		<script>
			
			$(document).ready(function(){

				// owl-carousel config
				$('.product-store-information__slider-block .slider-main').owlCarousel({
					items: 1,
					dots: true,
					nav:true,
					navText : ["<i class='fa fa-angle-left'></i>","<i class='fa fa-angle-right'></i>"]
				});

				var mainImage = $(".product-store-information .slider-image");
				var thumbnail = $(".product-store-information .owl-dot");
				var arr = [];

				thumbnail.append("<img class='dot-img' alt='image'>");
				var thumbnailImg = $(".product-store-information .dot-img");

				$(".product-store-information .owl-item").each(function (i){
					mainImage.eq(i).attr("src");
					arr.push(mainImage.eq(i).attr("src"));
				});

				thumbnailImg.each(function (i) {
					thumbnailImg.eq(i).attr("src", arr[i]);
				});

				// carousel for owl-dots
				var lis = $(".product-store-information__slider-block .slider-main .owl-dot");

				var arr = [];
				lis.each(function() {
					arr.push($(this).outerWidth(true));
				});

				function getMaxOfArray(numArray) {
					return Math.max.apply(null, numArray);
				};

				var width = getMaxOfArray(arr);
				var height = lis.outerHeight(true);
				var count = lis.length;

				if (lis.length > 4) {
					count = 4;
				}

				var nav = $(".product-store-information__slider-block .owl-nav");

				var carousel = $(".product-store-information__slider-block .owl-carousel");
				var list = $(".product-store-information__slider-block .slider-main .owl-dots");
				list.wrap("<div class='wrapper'></div>");
				var wrapper = $(".product-store-information__slider-block .wrapper");

				wrapper.after("<i class='fa fa-angle-right second'></i>");
				wrapper.before("<i class='fa fa-angle-left second'></i>");
				wrapper.width(width * count).height(height);

				var navButtons = $(".product-store-information__slider-block .slider-main .owl-nav button");

				function navPosition() {
					if (window.innerWidth > 768) {
						navButtons.css("top", "calc(50% - " + height + "px");
					} else {
						navButtons.removeAttr("style");
					}
				}
				navPosition();
				$(window).resize(navPosition);

				var listElems = $(".product-store-information__slider-block .slider-main .owl-dot");
				var left = $(".product-store-information__slider-block .fa-angle-left.second");
				var right = $(".product-store-information__slider-block .fa-angle-right.second");

				if (lis.length <= 4) {
					left.hide();
					right.hide();
				}

				var position = 0;

				nav.after("<div class='flex-cont'></div>");
				$(".product-store-information__slider-block .flex-cont").append(left).append(wrapper).append(right);

				if (list.hasClass("disabled") ) {
					$(".product-store-information__slider-block .flex-cont").hide();
				}

				left.click(function() {

					var currentPosition = +list.css("left").match(/\d+/gi).join('');

					if (-currentPosition < -(list.outerWidth() ) || list.css("left") == (0 + "px") ) {
						return false;
					} else {
						list.css("left", (-(currentPosition - width) ) + "px");
					}
				});

				right.click(function() {
					var currentPosition = +list.css("left").match(/\d+/gi).join('');
					var ListRightBorder = list.offset().left + list.width();
					var wrapperRightBorder = wrapper.offset().left + wrapper.width();
					if (ListRightBorder <= wrapperRightBorder || -currentPosition < -(list.outerWidth() ) ) {
						return false;
					} else {
						list.css("left", (-(currentPosition + width) ) + "px");
					}
				});
			});
		</script>
	</div>
	<div class="product-store-information__manage">
		<div class="mark">
			<p class="mark__text">Ноутбук Lenovo IdeaPad 320-15ISK (80XH00EARA) Onyx Black </p>
		</div>
		<div class="columns">
			<div class="col-left">
				<div class="opinion">
					<div class="opinion__rating">
						<img src="%=static=%img/general/icons/StarFill.svg" alt="icon" class="ratting-star">
						<img src="%=static=%img/general/icons/StarFill.svg" alt="icon" class="ratting-star">
						<img src="%=static=%img/general/icons/StarFill.svg" alt="icon" class="ratting-star">
						<img src="%=static=%img/general/icons/Star.svg" alt="icon" class="ratting-star">
						<img src="%=static=%img/general/icons/Star.svg" alt="icon" class="ratting-star">
					</div>
					<div class="opinion__reviews">
						<a href="#feedback" class="has-anchor reviews-link">
							<span class="review-number">178</span>
							<span class="review-text">отзывов</span>
						</a>
						<img src="%=static=%img/general/icons/Group-1.svg" alt="icon" class="favorite">
						<div class="compare active">
							<i class="fa fa-check-circle" aria-hidden="true"></i>
						</div>
					</div>
				</div>
				<div class="price">
					<p class="price__text">Цена:</p>
					<div class="flex-wrapper">
						<div class="price__not-relevant">
							<span class="numb">14 925</span><span class="currency">грн</span>
						</div>
						<div class="price__relevant jul-top">
							<div class="input-radio">
					          <input class="styled-radio js-radio2" id="zapb32" type="radio" name="contact2" value="ID паспорт">
					          <label class="clearfix" for="zapb32"><span class="numb nor">14 295</span><span class="currency nor">грн</span></label>
					        </div>
					        <div class="price__relevant_bottom">
					        	<p>Обычная цена</p>
					        </div>
							
						</div>
						<div class="price__relevant">
							<div class="input-radio">
					          <input class="styled-radio js-radio2" id="zapb33" type="radio" name="contact2" value="ID паспорт">
					          <label class="clearfix" for="zapb33"><span class="numb">12 000</span><span class="currency">грн</span></label>
					        </div>
					        <div class="price__relevant_bottom">
					        	<p>Фокстрот обмен</p>
					        	<div class="answer-wrapper">
									<img src="%=static=%img/general/icons/answer.svg" alt="icon" class="answer-icon">
									<div class="answer-popup">
										<p class="answer-text">Вы можете воспользоваться услугой Обмен от Фокстрот</p>
									</div>
								</div>
					        </div>
							
						</div>
					</div>
				</div>
				<div class="bonus">
					<div class="bonus__left">
						<p class="bonus__text">Ваш бонус:</p>
						<img src="%=static=%img/general/icons/grn.svg" alt="rolling-product" class="bonus__icon">
						<span class="bonus__calculation">x15</span>
						<span class="bonus__sum">+ 3129</span>
						<span class="bonus__currency">грн</span>
						<div class="answer-wrapper">
							<img src="%=static=%img/general/icons/answer.svg" alt="icon" class="answer-icon">
							<div class="answer-popup">
								<p class="answer-text">Вы можете оплатить часть заказа бонусами</p>
							</div>
						</div>
					</div>
					<div class="bonus__right">
						<div class="gift">
							<a href="#" class="gift-link">
								
								<div class="gift-inner">
									<img src="%=static=%img/general/card/mouse.png" alt="gift" class="gift__image">
									<div class="gift__descr">
										<div class="title-wrapper">
											<p class="title">Подарок</p>
										</div>
										<p class="model">Мышь Logitech M185 Wireless Grey</p>
									</div>
								</div>
							</a>
						</div>
					</div>
					
					
				</div>
			</div>
		</div>
		<div class="purchase">
			<a href="#" class="purchase__button">Купить</a>
			<div class="flex-wrapper">
				<a href="#" class="purchase__parts">Оплата частями</a>
				<a href="#" class="purchase__credit">Купить в кредит</a>
			</div>
			<span class="purchase__min-sum">от 100 грн</span>
			<div class="answer-wrapper">
				<img src="%=static=%img/general/icons/answer.svg" alt="icon" class="answer-icon purchase__icon">
				<div class="answer-popup">
					<p class="answer-text">Вы можете купить товар в кредит по выгодным условиям</p>
				</div>
			</div>
		</div>
		<div class="purchase fixed_purchase">
			<a href="#" class="purchase__button">Купить</a>
			<div class="flex-wrapper">
				<a href="#" class="purchase__parts">Оплата частями</a>
				<a href="#" class="purchase__credit">Купить в кредит</a>
			</div>
		</div>
		<script>
			$(document).ready(function() {
				// bottom fixed position of buy button for mobile screens
				function changePosition() {
					var purBlock = $('.product-store-information__manage .purchase');
					var purBlockFixed = $('.product-store-information__manage .fixed_purchase');

					if (window.innerWidth <= 768 && purBlock.get(0).getBoundingClientRect().top <= 0) {

						purBlockFixed.show();
					} else {

						purBlockFixed.hide();
					}
				}
				changePosition();
				$(window).on("resize scroll", changePosition);
			});
		</script>
		<div class="callback">
			<p class="callback__title">Мы перезвоним вам для оформления заказа</p>
			<form>
				<div class="input-wrapper">
					<input type="text" data-required="true" class="callback-number" placeholder="Ваш номер телефона" maxlength="18">
				</div>
				<button type="button" class="callback-button">Перезвоните мне</button>
			</form>
		</div>
		<div class="gift mobile">
			<img src="%=static=%img/general/card/mouse.png" alt="gift" class="gift__image">
			<div class="gift__descr">
				<p class="title">Подарок</p>
				<p class="model">Мышь Logitech M185 Wireless Grey</p>
			</div>
		</div>
		<div class="delivery-block">
			<div class="delivery-block__top">
				<div class="from-store">
					<a href="#" class="from-store__link">Забрать в магазине</a>
				</div>
				<div class="map">
					<img src="%=static=%img/general/icons/pin.svg" alt="icon" class="map__icon">
					<a href="#" class="map__link">
						Карта магазинов
					</a>
				</div>
				<div class="today">
					<img src="%=static=%img/general/icons/check-green.svg" alt="icon" class="today__icon">
					<a href="#" class="today__link">Сегодня</a>
				</div>
			</div>
			<div class="delivery-block__bottom">
				<div class="free-delivery">
					<p class="free-delivery__text">Бесплатная Доставка</p>
					<p class="date-text">Ближайшая дата</p>
				</div>
				<div class="flex-wrapper">
					<div class="to-adress">
						<p class="to-adress__text">Курьером по адрессу</p>
						<div class="answer-wrapper">
							<img src="%=static=%img/general/icons/answer.svg" alt="icon" class="to-adress__icon answer-icon">
							<div class="answer-popup">
								<p class="answer-text">Возможность доставки по адрессу</p>
							</div>
						</div>
						<div class="mob-date">
							<p class="dat-text">20.12.2018</p>
						</div>
					</div>
					<div class="new-post">
						<img src="%=static=%img/general/icons/new-post.svg" alt="icon" class="new-post__icon">
						<p class="new-post__text">Отделения новой почты</p>
						<div class="answer-wrapper">
							<img src="%=static=%img/general/icons/answer.svg" alt="icon" class="answer-icon">
							<div class="answer-popup behind">
								<p class="answer-text">Вы можете заказать доставку в
	ближайшее к вам отделение</p>
							</div>
						</div>
						<div class="mob-date">
							<p class="dat-text">20.12.2018</p>
						</div>
					</div>
					<div class="date">
						<div class="date__content">
							<p class="dat-text">20.12.2018</p>
							<div class="answer-wrapper">
								<img src="%=static=%img/general/icons/answer.svg" alt="icon" class="answer-icon date-icon">
								<div class="answer-popup behind">
									<p class="answer-text">Вы можете выбрать удобную для Вас дату доставки</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="payment">
			<p class="payment__text">Оплата:</p>
			<div class="mob-payment">
				<span class="mob-payment__text">Наличными</span>
				<span class="mob-payment__text">Безналичными</span>
				<span class="mob-payment__text">Visa</span>
				<span class="mob-payment__text">MasterCard</span>
			</div>
			<a href="#" class="payment__cards">
				<img src="%=static=%img/general/icons/wallet.svg" alt="icon" class="card-image">
			</a>
			<a href="#" class="payment__cards">
				<img src="%=static=%img/general/icons/museum.svg" alt="icon" class="card-image">
			</a>
			<a href="#" class="payment__cards">
				<img src="%=static=%img/general/icons/visa.svg" alt="icon" class="card-image">
			</a>
			<a href="#" class="payment__cards">
				<img src="%=static=%img/general/icons/mastercard.svg" alt="icon" class="card-image">
			</a>
			<div class="answer-wrapper">
				<img src="%=static=%img/general/icons/answer.svg" alt="icon" class="answer-icon card-image">
				<div class="answer-popup">
					<p class="answer-text">Вы можете оплатить покупку удобным для Вас способом</p>
				</div>
			</div>
		</div>
		<div class="return">
			<div class="return__item">
				<img src="%=static=%img/general/icons/security.svg" alt="icon" class="item-image">
				<div class="item-content">
					<p class="header-text">Гарантия 12 месяцев</p>
					<p class="descr-text">Официальная гарантия производителя.</p>
				</div>
			</div>
			<div class="return__item">
				<img src="%=static=%img/general/icons/two-circling-arrows.svg" alt="icon" class="item-image">
				<div class="item-content">
					<p class="header-text">Быстрый обмен и возврат</p>
					<p class="descr-text">Неактивированного товара надлежащего качества в течение 14 дней.</p>
				</div>
			</div>
		</div>
	</div>
</div>