<!-- rolling-section block -->




<section class="rolling-section">
	<div class="rolling-section__title">
		<h3 class="title">
			Рекомендованные
		</h3>
	</div>

	<div class="owl-carousel1  owl-theme">
	    <div class="item ">
	    	<a href="#" class="rolling-carousel-item-it">
				Чехлы для смартфонов
			</a>
	    </div>
	    <div class="item">
	    	<a href="#" class="rolling-carousel-item-it">
				Устройства виртуальной и дополненной реальности 
			</a>
	    </div>
	    <div class="item">
	    	<a href="#" class="rolling-carousel-item-it">
				Чехлы для смартфонов
			</a>
	    </div>
	    <div class="item">
	    	<a href="#" class="rolling-carousel-item-it">
				Чехлы для смартфонов
			</a>
	    </div>
	    <div class="item ce-active">
	    	<a href="#" class="rolling-carousel-item-it">
				Устройства виртуальной и дополненной реальности 
			</a>
	    </div>
	    <div class="item">
	    	<a href="#" class="rolling-carousel-item-it">
				Чехлы для смартфонов
			</a>
	    </div>
	    <div class="item">
	    	<a href="#" class="rolling-carousel-item-it">
				Чехлы для смартфонов
			</a>
	    </div>
	    <div class="item">
	    	<a href="#" class="rolling-carousel-item-it">
				Устройства виртуальной и дополненной реальности 
			</a>
	    </div>
	    <div class="item">
	    	<a href="#" class="rolling-carousel-item-it">
				Чехлы для смартфонов
			</a>
	    </div>
	    <div class="item">
	    	<a href="#" class="rolling-carousel-item-it">
				Чехлы для смартфонов
			</a>
	    </div>
	    <div class="item">
	    	<a href="#" class="rolling-carousel-item-it">
				Устройства виртуальной и дополненной реальности 
			</a>
	    </div>
	    <div class="item">
	    	<a href="#" class="rolling-carousel-item-it">
				Чехлы для смартфонов
			</a>
	    </div>
	</div>


	<div class="rolling-section__carousel simple owl-carousel owl-theme">
		<div class="rolling-carousel-item simple owl-lazy" data-src="%=static=%img/general/transparent.png">
			<div class="rolling-carousel-item__top-panel">
				<span class="top-panel-informer exclusive">эксклюзив</span>
				<span class="top-panel-informer new">эксклюзив</span>
				<div class="top-panel-colors">
					<span class="color red"></span>
					<span class="color grey"></span>
					<span class="color pink"></span>
					<span class="color blue"></span>
					<span class="color grey"></span>
					<span class="color pink"></span>
					<span class="color blue"></span>
				</div>
			</div>
			<a href="#" class="rolling-carousel-item__img-container">
				<img src="%=static=%img/general/rolling/0.png" alt="rolling-image"  class="item-image">
			</a>
			<div class="rolling-carousel-item__info">
				<a href="#" class="rolling-link">
					<p class="info">Ноутбук Del Latitude E6410 14" i5 4GB RAM 160GB</p>
				</a>
				<div class="price">
					<div class="price__not-relevant">
						<span class="numb">14 925</span><span class="currency">грн</span>
					</div>
					<div class="price__relevant">
						<span class="numb">1100 999</span><span class="currency">грн</span>
					</div>
				</div>
				<div class="bonus">
					<img src="%=static=%img/general/icons/grn.svg" alt="rolling-product" class="bonus__icon">
					<span class="bonus__calculation">x15</span>
					<span class="bonus__sum">+ 200</span>
					<span class="bonus__currency">грн бонусов</span>
				</div>
			</div>
			<div class="rolling-carousel-item__bottom-panel">
				<div class="compare-icon1">
					<i class="fa fa-check-circle1" aria-hidden="true"></i>
				</div>
				<div class="compare-icon">
					<i class="fa fa-check-circle" aria-hidden="true"></i>
				</div>
				<a href="#" class="buy-button">Купить</a>
			</div>
		</div>
		<div class="rolling-carousel-item simple owl-lazy" data-src="%=static=%img/general/transparent.png">
			<div class="rolling-carousel-item__top-panel">
				<span class="top-panel-informer gift">подарок</span>
				<span class="top-panel-informer hit">хит продаж</span>
				<div class="top-panel-colors">
					<span class="color red"></span>
					<span class="color grey"></span>
					<span class="color pink"></span>
					<span class="color blue"></span>
					<span class="color grey"></span>
					<span class="color pink"></span>
					<span class="color blue"></span>
				</div>
			</div>
			<a href="#" class="rolling-carousel-item__img-container">
				<img src="%=static=%img/general/rolling/phone.png" alt="rolling-image"  class="item-image">
			</a>
			<div class="rolling-carousel-item__info">
				<a href="#" class="rolling-link">
					<p class="info">Ноутбук Del Latitude E6410 14" i5 4GB RAM 160GB</p>
				</a>
				<div class="price">
					<div class="price__not-relevant">
						<span class="numb">14 925</span><span class="currency">грн</span>
					</div>
					<div class="price__relevant">
						<span class="numb">1100 999</span><span class="currency">грн</span>
					</div>
				</div>
				<div class="bonus">
					<img src="%=static=%img/general/icons/grn.svg" alt="rolling-product" class="bonus__icon">
					<span class="bonus__calculation">x15</span>
					<span class="bonus__sum">+ 200</span>
					<span class="bonus__currency">грн бонусов</span>
				</div>
			</div>
			<div class="rolling-carousel-item__bottom-panel">
				<div class="compare-icon1">
					<i class="fa fa-check-circle1" aria-hidden="true"></i>
				</div>
				<div class="compare-icon">
					<i class="fa fa-check-circle" aria-hidden="true"></i>
				</div>
				<a href="#" class="buy-button">Купить</a>
			</div>
		</div>
		<div class="rolling-carousel-item simple owl-lazy" data-src="%=static=%img/general/transparent.png">
			<div class="rolling-carousel-item__top-panel">
				<span class="top-panel-informer discount">скидка 20%</span>
				<span class="top-panel-informer bonus">бонус х15</span>
				<div class="top-panel-colors">
					<span class="color red"></span>
					<span class="color grey"></span>
					<span class="color pink"></span>
					<span class="color blue"></span>
					<span class="color grey"></span>
					<span class="color pink"></span>
					<span class="color blue"></span>
				</div>
			</div>
			<a href="#" class="rolling-carousel-item__img-container">
				<img src="%=static=%img/general/rolling/notebook.png" alt="rolling-image"  class="item-image">
			</a>
			<div class="rolling-carousel-item__info">
				<a href="#" class="rolling-link">
					<p class="info">Ноутбук Del Latitude E6410 14" i5 4GB RAM 160GB</p>
				</a>
				<div class="price">
					<div class="price__not-relevant">
						<span class="numb">14 925</span><span class="currency">грн</span>
					</div>
					<div class="price__relevant">
						<span class="numb">1100 999</span><span class="currency">грн</span>
					</div>
				</div>
				<div class="bonus">
					<img src="%=static=%img/general/icons/grn.svg" alt="rolling-product" class="bonus__icon">
					<span class="bonus__calculation">x15</span>
					<span class="bonus__sum">+ 200</span>
					<span class="bonus__currency">грн бонусов</span>
				</div>
			</div>
			<div class="rolling-carousel-item__bottom-panel">
				<div class="compare-icon1">
					<i class="fa fa-check-circle1" aria-hidden="true"></i>
				</div>
				<div class="compare-icon">
					<i class="fa fa-check-circle" aria-hidden="true"></i>
				</div>
				<a href="#" class="buy-button">Купить</a>
			</div>
		</div>
		<div class="rolling-carousel-item simple owl-lazy" data-src="%=static=%img/general/transparent.png">
			<div class="rolling-carousel-item__top-panel">
				<span class="top-panel-informer discount">скидка 20%</span>
				<span class="top-panel-informer hit">хит продаж</span>
				<div class="top-panel-colors">
					<span class="color red"></span>
					<span class="color grey"></span>
					<span class="color pink"></span>
					<span class="color blue"></span>
					<span class="color grey"></span>
					<span class="color pink"></span>
					<span class="color blue"></span>
				</div>
			</div>
			<a href="#" class="rolling-carousel-item__img-container">
				<img src="%=static=%img/general/rolling/offer-tv.png" alt="rolling-image"  class="item-image">
			</a>
			<div class="rolling-carousel-item__info">
				<a href="#" class="rolling-link">
					<p class="info">Ноутбук Del Latitude E6410 14" i5 4GB RAM 160GB</p>
				</a>
				<div class="price">
					<div class="price__not-relevant">
						<span class="numb">14 925</span><span class="currency">грн</span>
					</div>
					<div class="price__relevant">
						<span class="numb">1100 999</span><span class="currency">грн</span>
					</div>
				</div>
				<div class="bonus">
					<img src="%=static=%img/general/icons/grn.svg" alt="rolling-product" class="bonus__icon">
					<span class="bonus__calculation">x15</span>
					<span class="bonus__sum">+ 200</span>
					<span class="bonus__currency">грн бонусов</span>
				</div>
			</div>
			<div class="rolling-carousel-item__bottom-panel">
				<div class="compare-icon1">
					<i class="fa fa-check-circle1" aria-hidden="true"></i>
				</div>
				<div class="compare-icon">
					<i class="fa fa-check-circle" aria-hidden="true"></i>
				</div>
				<a href="#" class="buy-button">Купить</a>
			</div>
		</div>
		<div class="rolling-carousel-item simple owl-lazy" data-src="%=static=%img/general/transparent.png">
			<div class="rolling-carousel-item__top-panel">
				<span class="top-panel-informer discount">скидка 20%</span>
				<span class="top-panel-informer hit">хит продаж</span>
				<div class="top-panel-colors">
					<span class="color red"></span>
					<span class="color grey"></span>
					<span class="color pink"></span>
					<span class="color blue"></span>
					<span class="color grey"></span>
					<span class="color pink"></span>
					<span class="color blue"></span>
				</div>
			</div>
			<a href="#" class="rolling-carousel-item__img-container">
				<img src="%=static=%img/general/rolling/offer-tv.png" alt="rolling-image"  class="item-image">
			</a>
			<div class="rolling-carousel-item__info">
				<a href="#" class="rolling-link">
					<p class="info">Ноутбук Del Latitude E6410 14" i5 4GB RAM 160GB</p>
				</a>
				<div class="price">
					<div class="price__not-relevant">
						<span class="numb">14 925</span><span class="currency">грн</span>
					</div>
					<div class="price__relevant">
						<span class="numb">1100 999</span><span class="currency">грн</span>
					</div>
				</div>
				<div class="bonus">
					<img src="%=static=%img/general/icons/grn.svg" alt="rolling-product" class="bonus__icon">
					<span class="bonus__calculation">x15</span>
					<span class="bonus__sum">+ 200</span>
					<span class="bonus__currency">грн бонусов</span>
				</div>
			</div>
			<div class="rolling-carousel-item__bottom-panel">
				<div class="compare-icon1">
					<i class="fa fa-check-circle1" aria-hidden="true"></i>
				</div>
				<div class="compare-icon">
					<i class="fa fa-check-circle" aria-hidden="true"></i>
				</div>
				<a href="#" class="buy-button">Купить</a>
			</div>
		</div>
		<div class="rolling-carousel-item simple owl-lazy" data-src="%=static=%img/general/transparent.png">
			<div class="rolling-carousel-item__top-panel">
				<span class="top-panel-informer discount">скидка 20%</span>
				<span class="top-panel-informer hit">хит продаж</span>
				<div class="top-panel-colors">
					<span class="color red"></span>
					<span class="color grey"></span>
					<span class="color pink"></span>
					<span class="color blue"></span>
					<span class="color grey"></span>
					<span class="color pink"></span>
					<span class="color blue"></span>
				</div>
			</div>
			<a href="#" class="rolling-carousel-item__img-container">
				<img src="%=static=%img/general/rolling/offer-tv.png" alt="rolling-image"  class="item-image">
			</a>
			<div class="rolling-carousel-item__info">
				<a href="#" class="rolling-link">
					<p class="info">Ноутбук Del Latitude E6410 14" i5 4GB RAM 160GB</p>
				</a>
				<div class="price">
					<div class="price__not-relevant">
						<span class="numb">14 925</span><span class="currency">грн</span>
					</div>
					<div class="price__relevant">
						<span class="numb">1100 999</span><span class="currency">грн</span>
					</div>
				</div>
				<div class="bonus">
					<img src="%=static=%img/general/icons/grn.svg" alt="rolling-product" class="bonus__icon">
					<span class="bonus__calculation">x15</span>
					<span class="bonus__sum">+ 200</span>
					<span class="bonus__currency">грн бонусов</span>
				</div>
			</div>
			<div class="rolling-carousel-item__bottom-panel">
				<div class="compare-icon1">
					<i class="fa fa-check-circle1" aria-hidden="true"></i>
				</div>
				<div class="compare-icon">
					<i class="fa fa-check-circle" aria-hidden="true"></i>
				</div>
				<a href="#" class="buy-button">Купить</a>
			</div>
		</div>
	</div>
</section>
{{>js/rolling}}
<!-- end rolling-section block -->