<div class="popup-wrapper store">
    <div class="stores-popup">
        <img src="%=static=%img/general/icons/close-icon.svg" alt="" class="close-icon">
        <div class="chiose-panel">
            <p class="adress-delivery">Доставка по адресу</p>
            <p class="store-visit active">Забрать в магазине</p>
        </div>
        <div class="cyties-wrapper">
            <div class="city">
                <p class="city__text">Ваш город:</p>
                <p class="city__variant"></p>
                <img src="%=static=%img/general/icons/arrow-down.png" alt="icon" class="city__arrow">
                <div class="city__dropdown">
                    <div id="city-block">
                        <input type="text" class="city-input" placeholder="Введите название города">
                        <button class="city-button" type="submit">
                            <img src="%=static=%img/general/icons/search-rgey.svg" alt="icon" class="search-icon">
                        </button>
                    </div>
                    <ul class="choise-list">
                        <li class="choise-list__item"><span class="city-target">Киев</span></li>
                        <li class="choise-list__item"><span class="city-target active">Днепр</span></li>
                        <li class="choise-list__item"><span class="city-target">Запорожье</span></li>
                        <li class="choise-list__item"><span class="city-target">Львов</span></li>
                        <li class="choise-list__item"><span class="city-target">Полтава</span></li>
                        <li class="choise-list__item"><span class="city-target">Тернополь</span></li>
                        <li class="choise-list__item"><span class="city-target">Харьков</span></li>
                        <li class="choise-list__item"><span class="city-target">Кривой Pог</span></li>
                        <li class="choise-list__item"><span class="city-target">Ивано-Франковск</span></li>
                    </ul>
                </div>
            </div>
        <script>
            $(document).ready(function () {
                $(".city .city__variant, .city .city__arrow").click(function() {
                    $(".city .city__arrow").toggleClass("rotate");
                    $(".city__dropdown").slideToggle();
                });
                var cityButton = $(".city-button");
                var city = $(".city-target");
                var yourCity = $(".city .city__variant");
                var cityInput = $(".city-input");

                cityInput.keyup(function() {

                    city.each(function(i) {
                        if ($(this).text().toLowerCase().indexOf(cityInput.val().toLowerCase() ) > -1 ) {

                            $(this).removeClass("hidden");
                        }
                        else {

                            $(this).addClass("hidden");
                        }
                    });
                });

                function electedCity() {

                    yourCity.text($(".city-target.active").text() );
                }
                electedCity();

                function dropDownCity() {
                    var arr = [];
                    var electedCityVal = cityInput.val();
                    var cityText = city.text();

                    city.each(function(i) {
                        arr.push($(this).text() );
                    });
                    var isCity = arr.some(function(item) {
                        return electedCityVal.toLowerCase() == item.toLowerCase();
                    });

                    city.each(function(i) {

                        if (isCity && cityInput.val().toLowerCase() == city.eq(i).text().toLowerCase() ) {

                            city.removeClass("active");
                            city.eq(i).addClass("active");
                            $(".city__dropdown").slideUp();
                            electedCity();
                        }

                    });

                    if (!isCity) {
                        alert("\"" + electedCityVal + "\"" + " " + "нет в списке городов");
                    }
                }

                cityButton.click(function() {
                    dropDownCity();
                    $(".city .city__arrow").toggleClass("rotate");
                    cityInput.val("");
                });
                cityInput.keypress(function(e) {
                    if(e.which == 13) {
                        dropDownCity();
                        $(".city .city__arrow").toggleClass("rotate");
                        cityInput.val("");
                    }
                });
                city.click(function() {
                    var clickedCity = $(this).text();
                    $(".city .city__arrow").toggleClass("rotate");
                    yourCity.text(clickedCity);
                    city.removeClass("active");
                    $(this).addClass("active");
                    $(".city__dropdown").slideUp();
                    electedCity();
                    city.removeClass("hidden");
                    cityInput.val("");
                });
            });
        </script>
            <div class="cities-million">
            <ul>
                <li><a href="#">Днепр</a></li>
                <li><a href="#">Запорожье</a></li>
                <li><a href="#" class="active">Киев</a></li>
                <li><a href="#">Львов</a></li>
                <li><a href="#">Одесса</a></li>
                <li><a href="#">Харьков</a></li>
            </ul>
        </div>
        </div>
        <div class="popup-delivery-slider">
            {{>card/popup-adress-block}}
            {{>card/popup-delivery-to-adress}}
            <div class="store-mobile-bottom-price">
                <div class="cell-able able">В наличии</div>
                <div class="price__relevant">
                    <span class="numb">1100 999</span><span class="currency">грн</span>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {

        // show-hide store popup
        $(".mask, .stores-popup .close-icon").click(function() {
            $(".mask").removeClass("full cover");
            $(".popup-wrapper.store").removeClass("show");
            $("body").removeClass("fixed");
        });
        $(".delivery-block .from-store__link, .product-widget .take__link").click(function(e) {
            e.preventDefault();
            $("body").addClass("fixed");
            $(".popup-wrapper.store").addClass("show");
            $(".mask").addClass("full cover");
        });

        // slider
        var adressTogler = $(".popup-wrapper .adress-delivery");
        var storeTogler = $(".popup-wrapper .store-visit");
        var slideContainer = $(".popup-wrapper .popup-delivery-slider");

        adressTogler.click(function() {
            slideContainer.addClass("slide");
            $(this).addClass("active");
            storeTogler.removeClass("active");
            sliderHeight();
        });

        storeTogler.click(function() {
            slideContainer.removeClass("slide");
            $(this).addClass("active");
            adressTogler.removeClass("active");
            sliderHeight();
        });
        //height of the .popup-delivery-slider
        function sliderHeight() {

            var adressHeight = $(".popup-wrapper .adress-block").outerHeight(true);
            var deliveryHeight = $(".popup-wrapper .popup-delivery-to-adress").outerHeight(true);
            if (slideContainer.hasClass("slide") ) {
                slideContainer.css("height", deliveryHeight + "px");
            } else {
                slideContainer.css("height", adressHeight + "px");
            }
        }
        sliderHeight();

        $(window).resize(sliderHeight);

        //changes for google map
        var mapToggler = $('.stores-popup .adress-table .about-store');

        mapToggler.each(function(i) {
            mapToggler.eq(i).click(function() {
                $('.cell-map').eq(i).toggleClass('visible-map');
                $(this).parents(".table-row").toggleClass('table-row-height');
            });
        });

    });
</script>
