<div class="stores-popup">
	<img src="%=static=%img/general/icons/close-icon.svg" alt="" class="close-icon">
	<div class="chiose-panel">
		<p class="adress-delivery">Доставка по адресу</p>
		<p class="store-visit">Забрать в магазине</p>
	</div>
	<div class="adress-block">
		<table class="adress-table" cellspacing="0">
			<tr class="table-row">
				<th class="cell-adress">Адрес</th>
				<th class="cell-able">Наличие</th>
				<th class="cell-take">Забрать</th>
				<th class="cell-workingtime">Режим работы</th>
				<th class="cell-button"></th>
			</tr>
			<tr class="table-row">
				<td class="cell-adress">
					<p class="adres-text">г.Киев, Гната Юры ул.б 20</p>
					<div class="about-store">
						<img src="%=static=%img/general/icons/pin.svg" alt="" class="about-img">
						<p class="about-text">Подробнее о магазине</p>
					</div>
				</td>
				<td class="cell-able">Есть в наличии</td>
				<td class="cell-take">Сегодня</td>
				<td class="cell-workingtime">10:00 - 21:00</td>
				<td class="cell-button"><button class="adress-button">Выбрать</button></td>
			</tr>
			<tr class="table-row">
				<td class="cell-adress">
					<p class="adres-text">г.Киев, Гната Юры ул.б 20</p>
					<div class="about-store">
						<img src="%=static=%img/general/icons/pin.svg" alt="" class="about-img">
						<p class="about-text">Подробнее о магазине</p>
					</div>
				</td>
				<td class="cell-able">Есть в наличии</td>
				<td class="cell-take">Сегодня</td>
				<td class="cell-workingtime">10:00 - 21:00</td>
				<td class="cell-button"><button class="adress-button">Выбрать</button></td>
			</tr>
			<tr class="table-row">
				<td class="cell-adress">
					<p class="adres-text">г.Киев, Гната Юры ул.б 20</p>
					<div class="about-store">
						<img src="%=static=%img/general/icons/pin.svg" alt="" class="about-img">
						<p class="about-text">Подробнее о магазине</p>
					</div>
				</td>
				<td class="cell-able">Есть в наличии</td>
				<td class="cell-take">Сегодня</td>
				<td class="cell-workingtime">10:00 - 21:00</td>
				<td class="cell-button"><button class="adress-button">Выбрать</button></td>
			</tr>
			<tr class="table-row">
				<td class="cell-adress">
					<p class="adres-text">г.Киев, Гната Юры ул.б 20</p>
					<div class="about-store">
						<img src="%=static=%img/general/icons/pin.svg" alt="" class="about-img">
						<p class="about-text">Подробнее о магазине</p>
					</div>
				</td>
				<td class="cell-able">Есть в наличии</td>
				<td class="cell-take">Сегодня</td>
				<td class="cell-workingtime">10:00 - 21:00</td>
				<td class="cell-button"><button class="adress-button">Выбрать</button></td>
			</tr>
			<tr class="table-row">
				<td class="cell-adress">
					<p class="adres-text">г.Киев, Гната Юры ул.б 20</p>
					<div class="about-store">
						<img src="%=static=%img/general/icons/pin.svg" alt="" class="about-img">
						<p class="about-text">Подробнее о магазине</p>
					</div>
				</td>
				<td class="cell-able">Есть в наличии</td>
				<td class="cell-take">Сегодня</td>
				<td class="cell-workingtime">10:00 - 21:00</td>
				<td class="cell-button"><button class="adress-button">Выбрать</button></td>
			</tr>
			<tr class="table-row">
				<td class="cell-adress">
					<p class="adres-text">г.Киев, Гната Юры ул.б 20</p>
					<div class="about-store">
						<img src="%=static=%img/general/icons/pin.svg" alt="" class="about-img">
						<p class="about-text">Подробнее о магазине</p>
					</div>
				</td>
				<td class="cell-able">Есть в наличии</td>
				<td class="cell-take">Сегодня</td>
				<td class="cell-workingtime">10:00 - 21:00</td>
				<td class="cell-button"><button class="adress-button">Выбрать</button></td>
			</tr>
			<tr class="table-row">
				<td class="cell-adress">
					<p class="adres-text">г.Киев, Гната Юры ул.б 20</p>
					<div class="about-store">
						<img src="%=static=%img/general/icons/pin.svg" alt="" class="about-img">
						<p class="about-text">Подробнее о магазине</p>
					</div>
				</td>
				<td class="cell-able">Есть в наличии</td>
				<td class="cell-take">Сегодня</td>
				<td class="cell-workingtime">10:00 - 21:00</td>
				<td class="cell-button"><button class="adress-button">Выбрать</button></td>
			</tr>
			<tr class="table-row">
				<td class="cell-adress">
					<p class="adres-text">г.Киев, Гната Юры ул.б 20</p>
					<div class="about-store">
						<img src="%=static=%img/general/icons/pin.svg" alt="" class="about-img">
						<p class="about-text">Подробнее о магазине</p>
					</div>
				</td>
				<td class="cell-able">Есть в наличии</td>
				<td class="cell-take">Сегодня</td>
				<td class="cell-workingtime">10:00 - 21:00</td>
				<td class="cell-button"><button class="adress-button">Выбрать</button></td>
			</tr>
			<tr class="table-row">
				<td class="cell-adress">
					<p class="adres-text">г.Киев, Гната Юры ул.б 20</p>
					<div class="about-store">
						<img src="%=static=%img/general/icons/pin.svg" alt="" class="about-img">
						<p class="about-text">Подробнее о магазине</p>
					</div>
				</td>
				<td class="cell-able">Есть в наличии</td>
				<td class="cell-take">Сегодня</td>
				<td class="cell-workingtime">10:00 - 21:00</td>
				<td class="cell-button"><button class="adress-button">Выбрать</button></td>
			</tr>
			<tr class="table-row">
				<td class="cell-adress">
					<p class="adres-text">г.Киев, Гната Юры ул.б 20</p>
					<div class="about-store">
						<img src="%=static=%img/general/icons/pin.svg" alt="" class="about-img">
						<p class="about-text">Подробнее о магазине</p>
					</div>
				</td>
				<td class="cell-able">Есть в наличии</td>
				<td class="cell-take">Сегодня</td>
				<td class="cell-workingtime">10:00 - 21:00</td>
				<td class="cell-button"><button class="adress-button">Выбрать</button></td>
			</tr>
			<tr class="table-row">
				<td class="cell-adress">
					<p class="adres-text">г.Киев, Гната Юры ул.б 20</p>
					<div class="about-store">
						<img src="%=static=%img/general/icons/pin.svg" alt="" class="about-img">
						<p class="about-text">Подробнее о магазине</p>
					</div>
				</td>
				<td class="cell-able">Есть в наличии</td>
				<td class="cell-take">Сегодня</td>
				<td class="cell-workingtime">10:00 - 21:00</td>
				<td class="cell-button"><button class="adress-button">Выбрать</button></td>
			</tr>
			<tr class="table-row">
				<td class="cell-adress">
					<p class="adres-text">г.Киев, Гната Юры ул.б 20</p>
					<div class="about-store">
						<img src="%=static=%img/general/icons/pin.svg" alt="" class="about-img">
						<p class="about-text">Подробнее о магазине</p>
					</div>
				</td>
				<td class="cell-able">Есть в наличии</td>
				<td class="cell-take">Сегодня</td>
				<td class="cell-workingtime">10:00 - 21:00</td>
				<td class="cell-button"><button class="adress-button">Выбрать</button></td>
			</tr>
			<tr class="table-row">
				<td class="cell-adress">
					<p class="adres-text">г.Киев, Гната Юры ул.б 20</p>
					<div class="about-store">
						<img src="%=static=%img/general/icons/pin.svg" alt="" class="about-img">
						<p class="about-text">Подробнее о магазине</p>
					</div>
				</td>
				<td class="cell-able">Есть в наличии</td>
				<td class="cell-take">Сегодня</td>
				<td class="cell-workingtime">10:00 - 21:00</td>
				<td class="cell-button"><button class="adress-button">Выбрать</button></td>
			</tr>
			<tr class="table-row">
				<td class="cell-adress">
					<p class="adres-text">г.Киев, Гната Юры ул.б 20</p>
					<div class="about-store">
						<img src="%=static=%img/general/icons/pin.svg" alt="" class="about-img">
						<p class="about-text">Подробнее о магазине</p>
					</div>
				</td>
				<td class="cell-able">Есть в наличии</td>
				<td class="cell-take">Сегодня</td>
				<td class="cell-workingtime">10:00 - 21:00</td>
				<td class="cell-button"><button class="adress-button">Выбрать</button></td>
			</tr>
			<tr class="table-row">
				<td class="cell-adress">
					<p class="adres-text">г.Киев, Гната Юры ул.б 20</p>
					<div class="about-store">
						<img src="%=static=%img/general/icons/pin.svg" alt="" class="about-img">
						<p class="about-text">Подробнее о магазине</p>
					</div>
				</td>
				<td class="cell-able">Есть в наличии</td>
				<td class="cell-take">Сегодня</td>
				<td class="cell-workingtime">10:00 - 21:00</td>
				<td class="cell-button"><button class="adress-button">Выбрать</button></td>
			</tr>
		</table>
	</div>
</div>