<div class="popup-wrapper store">
	<div class="stores-popup">
		<img src="%=static=%img/general/icons/close-icon.svg" alt="" class="close-icon">
		<div class="chiose-panel">
			<p class="adress-delivery">Доставка по адресу</p>
			<p class="store-visit active">Забрать в магазине</p>
		</div>
		<div class="popup-delivery-slider">
			{{>card/popup-adress-block}}
			{{>card/popup-delivery-to-adress}}
		</div>

	</div>
    <div class="store-mobile-bottom-price">  <!-- add class hidden to store-mobile-bottom-price if you need to hide this block -->
        <div class="cell-able able">В наличии</div>
        <div class="price__relevant">
            <span class="numb">1100 999</span><span class="currency">грн</span>
        </div>
    </div>
</div>
<script>
	$(document).ready(function() {
		// show-hide store popup
		$(".mask, .stores-popup .close-icon").click(function() {
			$(".mask").removeClass("full cover");
			$(".popup-wrapper.store").removeClass("show");
			$("body").removeClass("fixed");
		});
		$(".delivery-block .from-store__link, .product-widget .take__link").click(function(e) {
			e.preventDefault();
			$("body").addClass("fixed");
			$(".popup-wrapper.store").addClass("show");
			$(".mask").addClass("full cover");
		});

		// slider
		var adressTogler = $(".popup-wrapper .adress-delivery");
		var storeTogler = $(".popup-wrapper .store-visit");
		var slideContainer = $(".popup-wrapper .popup-delivery-slider");
		var adressHeight = $(".popup-wrapper .adress-block").outerHeight(true);

		adressTogler.click(function() {
			slideContainer.addClass("slide");
			$(this).addClass("active");
			storeTogler.removeClass("active");
		});

		storeTogler.click(function() {
			slideContainer.removeClass("slide");
			$(this).addClass("active");
			adressTogler.removeClass("active");
		});
		//height of the .popup-delivery-slider
		slideContainer.css("height", adressHeight + "px");

        // for mobile
        var bottomPrice = $('.store-mobile-bottom-price');
        if (window.innerWidth <= 768){
            if(bottomPrice.hasClass('hidden')){
                $('.stores-popup').css('margin-bottom', '50');
            } else {
                $('.stores-popup').css('margin-bottom', '0');
            }
            adressTogler.click(function() {
                bottomPrice.addClass('hidden');
            });
            storeTogler.click(function() {
                bottomPrice.removeClass('hidden').addClass('store-mobile-bottom-price-js');
            });
            if($('.popup-delivery-slider').hasClass('slide')){
                bottomPrice.addClass('hidden');
            }
        } else {
            $('.table-row::before').css('display', 'block');
        }

        $(document).on('click', function(){
            if(storeTogler.hasClass('active') && $('.popup-wrapper.store').hasClass('show') ){
                bottomPrice.removeClass('hidden').addClass('store-mobile-bottom-price-js').css('display', 'flex');
            } else {
                bottomPrice.addClass('hidden');
            }
            if (window.innerWidth > 768){
                bottomPrice.addClass('hidden');
            }
        });

        //changes for google map
        $('.popup-wrapper.store .stores-popup .adress-table .table-row .cell-adress a').on('click', function(){
            $(this).parent().siblings('.cell-map').toggleClass('visible-map');
            $(this).parent().parent().toggleClass('table-row-height');
        });

        // desktop popups toggle with styles
            $('.chiose-panel').on('click', function(){
                $(this).css('position', 'absolute');

                if(adressTogler.hasClass('active')){
                    $('.popup-wrapper.store.show .popup-delivery-to-adress').css({
                        'left': '0',
                        'padding': '50px 20px',
                        'display' : 'block'
                    });
                } else if(storeTogler.hasClass('active')){
                    $('.popup-wrapper.store.show .popup-delivery-to-adress').css({
                        'left': '-100%',
                        'display': 'none'
                    });
                }
            });

    });
</script>
