<footer class="footer-wrapper">
    <div class="content">
        <div class="footer-menu">
            <div class="footer-item-mobile-title dropdown-toggler">
                <p class="footer-toggler">Компания</p>
                <img src="%=static=%img/general/icons/white-arrow.svg" alt="icon" class="arrow footer-toggler">
            </div>
            <div class="wrapper">
                <ul class="footer-menu__item slide-dropdown">
                    <li>
                        <a href="#">Компания</a>
                    </li>
                    <li>
                        <a href="/ru/article/673">Информация о сети</a>
                    </li>
                    <li>
                        <a href="/ru/article/715">Карьера</a>
                    </li>
                    <li>
                        <a href="/ru/article/661">Миссия. Ценности</a>
                    </li>
                    <li>
                        <a href="/ru/article/682">Социальная ответственность</a>
                    </li>
                    <li>
                        <a href="/ru/corpblog">Пресс-офис</a>
                    </li>
                    <li>
                        <a href="/ru/achievements">Достижения</a>
                    </li>
                    <li>
                        <a href="http://foxtrotgroup.com.ua/tender.html" target="_blank" rel="nofollow">Тендеры</a>
                    </li>
                    <li>
                        <a href="/ru/article/669">Торговая недвижимость</a>
                    </li>
                    <li>
                        <a href="/ru/article/668">Корпоративные продажи</a>
                    </li>
                    <li>
                        <a href="/ru/article/1303">Корпоративные контакты</a>
                    </li>
                    <li>
                        <a href="http://www.foxtrot.com.ua/ecoclass">ЭКОкласс</a>
                    </li>
                    <li>
                        <a href="http://foxtrotgroup.com.ua/" target="_blank" rel="nofollow">Группа компаний Фокстрот</a>
                    </li>
                    <li>
                        <a href="/ru/article/1159">Защита справедливой цены</a>
                    </li>
                </ul>
            </div>
            <div class="footer-item-mobile-title dropdown-toggler">
                <p class="footer-toggler">Гид покупателя</p>
                <img src="%=static=%img/general/icons/white-arrow.svg" alt="icon" class="arrow footer-toggler">
            </div>
            <div class="wrapper">
                <ul class="footer-menu__item slide-dropdown">
                    <li>
                        <a href="#">Гид покупателя</a>
                    </li>
                    <li>
                        <a href="/ru/stores">Адреса магазинов</a>
                    </li>
                    <li>
                        <a href="/ru/actions">Акции</a>
                    </li>
                    <li>
                        <a href="/ru/foxclub" target="_blank">ФОКС КЛУБ</a>
                    </li>
                    <li>
                        <a href="/ru/article/714">Программа MAXI</a>
                    </li>
                    <li>
                        <a href="/ru/extraservice.html" target="_blank">Услуги «Экстра-Сервис»</a>
                    </li>
                    <li>
                        <a href="/ru/service">Сервисные центры</a>
                    </li>
                    <li>
                        <a href="/ru/infocentre/contactcentre">Информационная служба</a>
                    </li>
                    <li>
                        <a href="/ru/GiftCard/NewIndex">Подарочные карты</a>
                    </li>
                    
                    <li>
                        <a href="/ru/delivery">Оплата, гарантия, доставка</a>
                    </li>
                    <li>
                        <a href="/ru/feedback">Обратная связь</a>
                    </li>
                    <li>
                        <a href="http://www.tehnoshara.com.ua" target="_blank" rel="nofollow">Уцененный товар</a>
                    </li>
                    <li>
                        <a href="/sitemap.html">Карта сайта</a>
                    </li>
                </ul>
            </div>
            <ul class="footer-menu__item">
                <li>
                    <a href="#">
                       Контакты
                    </a>
                </li>
                <li>
                   <a href="#">Наши магазины по всей Украине</a>
                </li>
                <li>
                    <div class="all-phones">
                        <div class="all-phones-block">
                            <div class="phone">
                                <a href="tel:0800300353">
                                    <p>Информационная служба:
                                    </p>
                                    <p class="number-phone">0 800 300-353</p>
                                </a>
                            </div>
                            <div class="time">
                                <p>График работы Call-Центра</p>
                                <p>Пн-Пт<span>08:30 - 21:00</span></p>
                                <p class="muted">Сб-Вс<span>08:30 - 21:00</span></p>
                                <p class="free">
                                    Бесплатно со стационарных и мобильных телефонов в Украине
                                </p>
                            </div>
                            <div class="connection">
                <div class="ordercall">
                  <span>Обратный звонок</span>
                </div>

                <div class="write-to-us">
                   <a href="/ru/feedback">Написать нам</a>
                   </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="cl"></div> 
       </div>
    </div>
    <div class="footer-bottom">
       <div class="copyright">
        <p>Все права защищены «Фокстрот» Copyright © 2018</p>
       </div>
       <div class="follow-us">
           <p>Следите за нами</p>
       </div>
       <div class="footer-social">
         <ul class="footer-social__link">
         <li>
             <a href="http://www.facebook.com/foxtrotinfo"><span class="social-icon icon-fb"></span></a>
             </li>
         <li>
             <a href="http://www.youtube.com/foxtrotsovetnik"><span class="social-icon icon-yt"></span></a>
             </li>
         <li>
             <a href="http://chats.viber.com/foxtrotua" target="_blank"><span class="social-icon icon-viber"></span></a>
             </li>
         <li>
             <a href="https://www.instagram.com/foxtrot_com_ua/"><span class="social-icon icon-inst"></span></a>
             </li>
         </ul>
       </div>
    </div>
</footer>
<script>
    $(document).ready(function() {
        var unclickable = $(".footer-menu__item li:first-child a");
        unclickable.click(function(e) {
            e.preventDefault();
        });
        if (window.innerWidth <= 768) {
            var title = $(".footer-item-mobile-title");
            title.each(function(i) {
                $(this).click(function(e) {

                    $(".footer-item-mobile-title > img").eq(i).toggleClass("rotate");
                });
            });
        }
    });
</script>