<div class="comparisons__titel">
	<h1>Сравнение товаров</h1>
</div>

<div class="comparisons__wrap container-scroll default-skin">
	<div class="comparisons__wrap-vr">
		<div class="comparisons__wrap_top">
			<div class="comparisons__wrap_top-scroll">
				<div class="left">
        <div class="top">
            <a href="#" class="add-to-compare">Добавить модель</a>
            <div class="compare-type">
                <a href="#" class="active" data-show-type="all">Все параметры</a>
                <a href="#" data-show-type="different">Только отличия</a>
            </div>

        </div>
    </div>
    <div class="right">
    	<div class="comparisons__item">
    		<div class="comparisons__item_titel">
    			<a href="#" class="comparisons-closed"></a>
    			<a href="#" class="comparisons__item_titel-text">Телевизор SAMSUNG UE32M5500AUXUA</a>
    		</div>
    		<div class="comparisons__item_block">
    			<div class="comparisons__item_block-img">
    				<a href="#">
    					<img src="https://i1.foxtrot.com.ua/product/thumb/6383600.jpg" width="80" height="80" alt="">
    				</a>
    			</div>
    			<div class="comparisons__item_block-info">
    				<a href="">7999 <small><sup>грн</sup></small></a>
    				<button class="add-to-cart" >Купить</button>
    			</div>
    		</div>
    	</div>
    	<div class="comparisons__item">
    		<div class="comparisons__item_titel">
    			<a href="#" class="comparisons-closed"></a>
    			<a href="#" class="comparisons__item_titel-text">Телевизор SAMSUNG UE32M5500AUXUA</a>
    		</div>
    		<div class="comparisons__item_block">
    			<div class="comparisons__item_block-img">
    				<a href="#">
    					<img src="https://i1.foxtrot.com.ua/product/thumb/6383600.jpg" width="80" height="80" alt="">
    				</a>
    			</div>
    			<div class="comparisons__item_block-info">
    				<a href="">7999 <small><sup>грн</sup></small></a>
    				<button class="add-to-cart" >Купить</button>
    			</div>
    		</div>
    	</div>
    	<div class="comparisons__item">
    		<div class="comparisons__item_titel">
    			<a href="#" class="comparisons-closed"></a>
    			<a href="#" class="comparisons__item_titel-text">Телевизор SAMSUNG UE32M5500AUXUA</a>
    		</div>
    		<div class="comparisons__item_block">
    			<div class="comparisons__item_block-img">
    				<a href="#">
    					<img src="https://i1.foxtrot.com.ua/product/thumb/6383600.jpg" width="80" height="80" alt="">
    				</a>
    			</div>
    			<div class="comparisons__item_block-info">
    				<a href="">7999 <small><sup>грн</sup></small></a>
    				<button class="add-to-cart" >Купить</button>
    			</div>
    		</div>
    	</div>
    	<div class="comparisons__item">
    		<div class="comparisons__item_titel">
    			<a href="#" class="comparisons-closed"></a>
    			<a href="#" class="comparisons__item_titel-text">Телевизор SAMSUNG UE32M5500AUXUA</a>
    		</div>
    		<div class="comparisons__item_block">
    			<div class="comparisons__item_block-img">
    				<a href="#">
    					<img src="https://i1.foxtrot.com.ua/product/thumb/6383600.jpg" width="80" height="80" alt="">
    				</a>
    			</div>
    			<div class="comparisons__item_block-info">
    				<a href="">7999 <small><sup>грн</sup></small></a>
    				<button class="add-to-cart" >Купить</button>
    			</div>
    		</div>
    	</div>
    	<div class="comparisons__item">
    		<div class="comparisons__item_titel">
    			<a href="#" class="comparisons-closed"></a>
    			<a href="#" class="comparisons__item_titel-text">Телевизор SAMSUNG UE32M5500AUXUA</a>
    		</div>
    		<div class="comparisons__item_block">
    			<div class="comparisons__item_block-img">
    				<a href="#">
    					<img src="https://i1.foxtrot.com.ua/product/thumb/6383600.jpg" width="80" height="80" alt="">
    				</a>
    			</div>
    			<div class="comparisons__item_block-info">
    				<a href="">7999 <small><sup>грн</sup></small></a>
    				<button class="add-to-cart" >Купить</button>
    			</div>
    		</div>
    	</div>
    	<div class="comparisons__item">
    		<div class="comparisons__item_titel">
    			<a href="#" class="comparisons-closed"></a>
    			<a href="#" class="comparisons__item_titel-text">Телевизор SAMSUNG UE32M5500AUXUA</a>
    		</div>
    		<div class="comparisons__item_block">
    			<div class="comparisons__item_block-img">
    				<a href="#">
    					<img src="https://i1.foxtrot.com.ua/product/thumb/6383600.jpg" width="80" height="80" alt="">
    				</a>
    			</div>
    			<div class="comparisons__item_block-info">
    				<a href="">7999 <small><sup>грн</sup></small></a>
    				<button class="add-to-cart" >Купить</button>
    			</div>
    		</div>
    	</div>
    	<div class="comparisons__item">
    		<div class="comparisons__item_titel">
    			<a href="#" class="comparisons-closed"></a>
    			<a href="#" class="comparisons__item_titel-text">Телевизор SAMSUNG UE32M5500AUXUA</a>
    		</div>
    		<div class="comparisons__item_block">
    			<div class="comparisons__item_block-img">
    				<a href="#">
    					<img src="https://i1.foxtrot.com.ua/product/thumb/6383600.jpg" width="80" height="80" alt="">
    				</a>
    			</div>
    			<div class="comparisons__item_block-info">
    				<a href="">7999 <small><sup>грн</sup></small></a>
    				<button class="add-to-cart" >Купить</button>
    			</div>
    		</div>
    	</div>

    </div>
			</div>
		
	</div>
	<div class="comparisons__wrap_bottom">
		<div class="comparisons__wrap_bottom_item">
			<div class="cell left"  index="1" data-type="equal">Гарантия</div>
			<div class="cell tovar"  index="1" data-type="equal">12</div>
		</div>
		<div class="comparisons__wrap_bottom_item">
			<div class="cell left"  >Диагональ</div>
			<div class="cell tovar"  index="1" data-type="equal">12</div>
			<div class="cell tovar"  index="1" data-type="equal">12</div>
			<div class="cell tovar"  index="1" data-type="equal">12</div>
			<div class="cell tovar"  index="1" data-type="equal">PIP (картинка в картинке); телетекст; субтитры; автопоиск каналов; электронный телегид (EPG); MHL; таймер выключения; игровой режим</div>
			<div class="cell tovar"  index="1" data-type="equal">12</div>
			<div class="cell tovar"  index="1" data-type="equal">12</div>
			<div class="cell tovar"  index="1" data-type="equal">12</div>
		</div>
		<div class="comparisons__wrap_bottom_item">
			<div class="cell left" >Разрешение</div>
			<div class="cell tovar"  index="1" data-type="equal">12</div>
		</div>
		<div class="comparisons__wrap_bottom_item">
			<div class="cell left" >Формат экрана</div>
			<div class="cell tovar"  index="1" data-type="equal">12</div>
		</div>
		<div class="comparisons__wrap_bottom_item">
			<div class="cell left">Тип подсветки</div>
			<div class="cell tovar"  index="1" data-type="equal">12</div>
		</div>
		<div class="comparisons__wrap_bottom_item">
			<div class="cell left" >Суммарная мощность динамиков</div>
			<div class="cell tovar"  index="1" data-type="equal">12</div>
		</div>
		<div class="comparisons__wrap_bottom_item">
			<div class="cell left" >Потребляемая мощность в обычном режиме</div>
			<div class="cell tovar"  index="1" data-type="equal">12</div>
		</div>
		<div class="comparisons__wrap_bottom_item">
			<div class="cell left" >Технология интерполяции изображения</div>
			<div class="cell tovar"  index="1" data-type="equal">12</div>
		</div>
		<div class="comparisons__wrap_bottom_item">
			<div class="cell left">Беспроводные коммуникации</div>
			<div class="cell tovar"  index="1" data-type="equal">PIP (картинка в картинке); телетекст; субтитры; автопоиск каналов; электронный телегид (EPG); MHL; таймер выключения; игровой режим</div>
		</div>
		<div class="comparisons__wrap_bottom_item">
			<div class="cell left" >Smart TV</div>
			<div class="cell tovar"  index="1" data-type="equal">12</div>
		</div>
		<div class="comparisons__wrap_bottom_item">
			<div class="cell left" >Динамическая контрастность</div>
			<div class="cell tovar"  index="1" data-type="equal">12</div>
		</div>
		<div class="comparisons__wrap_bottom_item">
			<div class="cell left" >Вес с подставкой</div>
			<div class="cell tovar"  index="1" data-type="equal">12</div>
		</div>
	</div>
	</div>
	
</div>


<script type="text/javascript">
	var scrollTop = $(".comparisons__wrap");

  $(window).scroll(function() {
    // declare variable
    var topPos = $(this).scrollTop();

    // if user scrolls down - show scroll to top button
    if (topPos > 100) {
      $(scrollTop).addClass("fix");

    } else {
      $(scrollTop).removeClass("fix");
    }

  }); // scroll END


  // var scrollTop1 = $("#mCSB_1_scrollbar_horizontal");

  // $(window).scroll(function() {
  //   // declare variable
  //   var topPos1 = $('.comparisons').height();

  //   var topPos2 = $(this).scrollTop();

  //   console.log(topPos1);
  //   console.log(topPos2);

  //   // if user scrolls down - show scroll to top button
  //   if (topPos1 > (topPos2 + 100)) {
  //     $(scrollTop1).addClass("fix");

  //   } else {
  //     $(scrollTop1).removeClass("fix");
  //   }

  // }); // scroll END



</script>


<script>
    (function($){
        $(window).on("load",function(){

            $(".comparisons__wrap-vr").mCustomScrollbar({
					    axis:"x",
					    theme: "dark",
					    mouseWheel: false
					});
        });
    })(jQuery);
</script>