<div class="popup-wrapper callback">
	<div class="callback-popup">
		<img src="%=static=%/img/general/icons/close-icon.svg" alt="icon" class="callback-popup__close-icon">
		<div class="callback-popup__main">
			<h3 class="title">Обратный звонок</h3>
			<p class="proposition">Оставьте свой номер - мы вам перезвоним!</p>
			<form action="" class="callback-form" id="callback-form" name="callback">
				<div class="connection">
					<h3 class="connection__title">Тип обращения</h3>
					<div class="callback-choise">
						<p class="elected-type">Связаться с информационной службой</p>
						<img src="%=static=%img/general/icons/arrow-down.png" alt="icon" class="dropdown-arrow">
						<div class="callback-choise__dropdown">
							<ul class="dd-list">
								<li class="dd-list__item">
									<p class="kind-callback">Связаться с информационной службой</p>
								</li>
								<li class="dd-list__item">
									<p class="kind-callback">Заказать товар в Интернет-магазине</p>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="phone">
					
				</div>
				<button class="send" type="submit">Отправить</button>
			</form>
		</div>
	</div>
</div>