<!-- navigation panel block -->
<div class="navigation show">
    <div class="navigation__catalog">
        <span class="catalog-text">Каталог товаров</span>
        <div class="catalog-arrow">
            <img src="%=static=%img/general/navigation/arrow-down.svg" alt="arrow">
        </div>
        <div class="catalog-submenu-wrapper show">
            <ul class="catalog-submenu categories">
                <li class="submenu-item">
                    <a href="#" class="submenu-item__link">
                    <div class="icon-wrapper">
                        <img src="%=static=%img/general/navigation/Vector.svg" alt="icon" class="link-icon">
                    </div>
                        <span class="link-text">Акции</span>
                        <img src="%=static=%img/general/navigation/Vector(13).svg" alt="arrow" class="link-arrow">
                    </a>
                    {{> category-menu/category-menu-list}}
                </li>
                <li class="submenu-item">
                    <a href="#" class="submenu-item__link">
                    <div class="icon-wrapper">
                        <img src="%=static=%img/general/navigation/Vector(1).svg" alt="icon" class="link-icon">
                    </div>
                        <span class="link-text">Техника для кухни</span>
                        <img src="%=static=%img/general/navigation/Vector(13).svg" alt="arrow" class="link-arrow">
                    </a>
                    {{> category-menu/test-category}}
                </li>
                <li class="submenu-item">
                    <a href="#" class="submenu-item__link">
                    <div class="icon-wrapper">
                        <img src="%=static=%img/general/navigation/Vector(2).svg" alt="icon" class="link-icon">
                    </div>
                        <span class="link-text">Техника для дома</span>
                        <img src="%=static=%img/general/navigation/Vector(13).svg" alt="arrow" class="link-arrow">
                    </a>
                    {{> category-menu/test-category}}
                </li>
                <li class="submenu-item">
                    <a href="#" class="submenu-item__link">
                    <div class="icon-wrapper">
                        <img src="%=static=%img/general/navigation/Vector(3).svg" alt="icon" class="link-icon">
                    </div>
                        <span class="link-text">Смартфоны и телефоны</span>
                        <img src="%=static=%img/general/navigation/Vector(13).svg" alt="arrow" class="link-arrow">
                    </a>
                    {{> category-menu/test-category}}
                </li>
                <li class="submenu-item">
                    <a href="#" class="submenu-item__link">
                    <div class="icon-wrapper">
                        <img src="%=static=%img/general/navigation/Vector(4).svg" alt="icon" class="link-icon">
                    </div>
                        <span class="link-text">Ноутбуки, планшеты, ПК</span>
                        <img src="%=static=%img/general/navigation/Vector(13).svg" alt="arrow" class="link-arrow">
                    </a>
                    {{> category-menu/test-category}}
                </li>
                <li class="submenu-item">
                    <a href="#" class="submenu-item__link">
                    <div class="icon-wrapper">
                        <img src="%=static=%img/general/navigation/Vector(5).svg" alt="icon" class="link-icon">
                    </div>
                        <span class="link-text">Телевизоры, аудиотехника</span>
                        <img src="%=static=%img/general/navigation/Vector(13).svg" alt="arrow" class="link-arrow">
                    </a>
                    {{> category-menu/test-category}}
                </li>
                <li class="submenu-item">
                    <a href="#" class="submenu-item__link">
                    <div class="icon-wrapper">
                        <img src="%=static=%img/general/navigation/Vector(6).svg" alt="icon" class="link-icon">
                    </div>
                        <span class="link-text">Фото,видео, авто</span>
                        <img src="%=static=%img/general/navigation/Vector(13).svg" alt="arrow" class="link-arrow">
                    </a>
                    {{> category-menu/test-category}}
                </li>
                <li class="submenu-item">
                    <a href="#" class="submenu-item__link">
                    <div class="icon-wrapper">
                        <img src="%=static=%img/general/navigation/Vector(7).svg" alt="icon" class="link-icon">
                    </div>
                        <span class="link-text">Дом и сад</span>
                        <img src="%=static=%img/general/navigation/Vector(13).svg" alt="arrow" class="link-arrow">
                    </a>
                    {{> category-menu/test-category}}
                </li>
                <li class="submenu-item">
                    <a href="#" class="submenu-item__link">
                    <div class="icon-wrapper">
                        <img src="%=static=%img/general/navigation/Vector(8).svg" alt="icon" class="link-icon">
                    </div>
                        <span class="link-text">Посуда</span>
                        <img src="%=static=%img/general/navigation/Vector(13).svg" alt="arrow" class="link-arrow">
                    </a>
                    {{> category-menu/test-category}}
                </li>
                <li class="submenu-item">
                    <a href="#" class="submenu-item__link">
                    <div class="icon-wrapper">
                        <img src="%=static=%img/general/navigation/Vector(9).svg" alt="icon" class="link-icon">
                    </div>
                        <span class="link-text">Инструмент</span>
                        <img src="%=static=%img/general/navigation/Vector(13).svg" alt="arrow" class="link-arrow">
                    </a>
                    {{> category-menu/test-category}}
                </li>
                <li class="submenu-item">
                    <a href="#" class="submenu-item__link">
                    <div class="icon-wrapper">
                        <img src="%=static=%img/general/navigation/Vector(10).svg" alt="icon" class="link-icon">
                    </div>
                        <span class="link-text">Отдых и туризм</span>
                        <img src="%=static=%img/general/navigation/Vector(13).svg" alt="arrow" class="link-arrow">
                    </a>
                    {{> category-menu/test-category}}
                </li>
                <li class="submenu-item">
                    <a href="#" class="submenu-item__link">
                    <div class="icon-wrapper">
                        <img src="%=static=%img/general/navigation/Vector(11).svg" alt="icon" class="link-icon">
                    </div>
                        <span class="link-text">Смарт-гаджеты</span>
                        <img src="%=static=%img/general/navigation/Vector(13).svg" alt="arrow" class="link-arrow">
                    </a>
                    {{> category-menu/test-category}}
                </li>
                <li class="submenu-item">
                    <a href="#" class="submenu-item__link">
                    <div class="icon-wrapper">
                        <img src="%=static=%img/general/navigation/Vector(12).svg" alt="icon" class="link-icon">
                    </div>
                        <span class="link-text">Товары для детей</span>
                        <img src="%=static=%img/general/navigation/Vector(13).svg" alt="arrow" class="link-arrow">
                    </a>
                    {{> category-menu/test-category}}
                </li>
                <li class="submenu-item">
                    <a href="#" class="submenu-item__link">
                    <div class="icon-wrapper">
                        <img src="%=static=%img/general/navigation/XMLID 222.svg" alt="icon" class="link-icon">
                    </div>
                        <span class="link-text">Красота и здоровье</span>
                        <img src="%=static=%img/general/navigation/Vector(13).svg" alt="arrow" class="link-arrow">
                    </a>
                    {{> category-menu/test-category}}
                </li>
            </ul>
        </div>
    </div>
    <ul class="navigation__items">
        <li class="nav-item"><a href="#" class="item-link">Бренды</a></li>
        <li class="nav-item"><a href="#" class="item-link">Топ акции</a></li>
        <li class="nav-item"><a href="#" class="item-link">Со скидками</a></li>
        <li class="nav-item"><a href="#" class="item-link">Со скидками</a></li>
        <li class="nav-item"><a href="#" class="item-link">Со скидками</a></li>
    </ul>
    <div class="navigation__lang">
        <a class="ua">Ua</a>
        <a class="ru">Ru</a>
    </div>
</div>
<div class="navigation-buffer"></div>
{{> js/navigation-panel-js}}
<!-- end navigation panel block -->