<!-- navigation panel block -->
<div class="navigation show">
    {{>header/catalog-megamenu}}
    <ul class="navigation__items">
        <li class="nav-item">
            <a href="#" class="item-link">
                <img src="%=static=%img/general/icons/promotion.svg" alt="icon" class="nav-img">
                <span class="nav-text">Акции</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="item-link">
                <img src="%=static=%img/general/icons/discount.svg" alt="icon" class="nav-img">
                <span class="nav-text">Скидки</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="item-link">
                <img src="%=static=%img/general/icons/cb.svg" alt="icon" class="nav-img">
                <span class="nav-text">CashBack</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="item-link">
                <img src="%=static=%img/general/icons/take-today.svg" alt="icon" class="nav-img">
                <span class="nav-text">Забирайте сегодня</span>
            </a>
        </li>
    </ul>
    <div class="navigation__lang">
        <a class="ua active">Ua</a>
        <a class="ru">Ru</a>
    </div>
</div>
<div class="navigation-buffer"></div>
{{> js/navigation-panel-js}}
<!-- end navigation panel block -->