<header class="header">
    <div class="sandwich">
        <div class="sandwich__line"></div>
        <div class="sandwich__line"></div>
        <div class="sandwich__line"></div>
    </div>
    <script>
        $(document).ready(function() {
            var sandwich = $(".header .sandwich");
            var mMenu = $(".mobile-menu");

            function showMobMenu() {
                mMenu.toggleClass("active");
                $(".catalog-submenu-wrapper.show").toggleClass("toggle");
                $(".header").addClass("mask-covered");
                $(".product-props").addClass("mask-covered");
                $(".mask").addClass("full");
                $("body").addClass("fixed");
            }

            function hideMobMenu() {
                mMenu.removeClass("active");
                $("body").removeClass("fixed");
                $(".header").removeClass("mask-covered");
                $(".product-props").removeClass("mask-covered");
            }

            sandwich.click(showMobMenu);

            $(".mask").click(hideMobMenu);

            // swipe mob menu
            var swipe = new Hammer(document);

            swipe.on('swiperight swipeleft', function(e) {
              e.preventDefault();
              if (e.type == 'swiperight') {
                // showMobMenu();
                return;
              } else {
                hideMobMenu();
                $(".mask").removeClass("full");
                $('.catalog-submenu-wrapper').removeClass('toggle');
              }
            });
        });
    </script>

    <div class="header__logo">
        <img src="%=static=%img/general/header/logo.svg" alt="logo" class="logo-img">
    </div>
    <div class="header__search">
        <input type="text" class="search-input" placeholder="Я хочу поймать..">
        <img src="%=static=%img/general/header/icons/search.svg" alt="search" class="search-icon">
        {{>header/search-dropdown}}
    </div>
    <div class="header__main-information">
        <ul class="info-list">
            <li class="info-list__item phone">
                <p class="phone__number">0 800 300-353</p>
                <p class="phone__info">(бесплатно по Украине)</p>
            </li>
            <li class="info-list__item phone-mobile">
                <img src="%=static=%img/general/icons/phone-pipe.svg" alt="icon" class="icon">
            </li>
            <li class="info-list__item call">
                <a href="#" class="call__cal-me">Перезвоните мне</a>
                <a href="#" class="call__track">Отследить покупку</a>
            </li>
            <li class="info-list__item entry">
                <a href="#" class="entry_enter">Войти</a>
                <a href="#" class="entry_registration">Зарегистрироваться</a>
            </li>
            <li class="info-list__item bonuses">
                <div class="answer-wrapper">
                    <img src="%=static=%img/general/icons/grn.svg" alt="icon" class="bonuses__icon">
                    <div class="answer-popup">
                        <p class="answer-text"><span class="price__relevant">200 грн бонусов</span> при первой покупке</p>
                    </div>
                </div>
                <div class="bonuses__info"><span class="bonuses-text">Мои бонусы</span><span class="bonuses-sum">0 000 грн</span></div>
            </li>
            <li class="info-list__item favorite">
                <img src="%=static=%img/general/header/icons/Group-1.svg" alt="icon" class="favorite__icon">
            </li>
            <li class="info-list__item compare">
                <img src="%=static=%img/general/icons/compare-black.svg" alt="icon" class="compare__icon">
            </li>
            <li class="info-list__item basket">
                <img src="%=static=%img/general/header/icons/Group-basket.svg" alt="icon" class="basket__icon"><span class="basket__count">2</span>
            </li>
        </ul>
    </div>
</header>
{{>basket/basket}}
{{>mobile-menu/mobile-menu}}
<div class="header-buffer"></div>
