<!-- show this dropdown when to add class '.visible' -->
<div class="serch-dd">
    <div class="serch-dd__head">
        <p class="search-categories">Категории:</p>
        <a href="#" class="search-category-link">Радиотелефоны</a>
        <p class="product-title">Товары:</p>
    </div>
    <ul class="search-list">
        <li class="product"><a href="#" class="product-link">
                <div class="img-wrapper">
                    <img src="%=static=%img/general/rolling/phone.png" alt="icon" class="product-image">
                </div>
                <div class="flex-container">
                    <p class="product-name">Мобильный телефон CAT B30</p>
                    <div class="price"><span class="price__numb">123 999</span><span class="currency">грн</span></div>
                </div>
            </a></li>
        <li class="product"><a href="#" class="product-link">
                <div class="img-wrapper">
                    <img src="%=static=%img/general/rolling/phone.png" alt="icon" class="product-image">
                </div>
                <div class="flex-container">
                    <p class="product-name">Мобильный телефон CAT B30</p>
                    <div class="price"><span class="price__numb">123 999</span><span class="currency">грн</span></div>
                </div>
            </a></li>
        <li class="product"><a href="#" class="product-link">
                <div class="img-wrapper">
                    <img src="%=static=%img/general/rolling/phone.png" alt="icon" class="product-image">
                </div>
                <div class="flex-container">
                    <p class="product-name">Мобильный телефон CAT B30</p>
                    <div class="price"><span class="price__numb">123 999</span><span class="currency">грн</span></div>
                </div>
            </a></li>
        <li class="product"><a href="#" class="product-link">
                <div class="img-wrapper">
                    <img src="%=static=%img/general/rolling/phone.png" alt="icon" class="product-image">
                </div>
                <div class="flex-container">
                    <p class="product-name">Мобильный телефон CAT B30</p>
                    <div class="price"><span class="price__numb">123 999</span><span class="currency">грн</span></div>
                </div>
            </a></li>
        <li class="product"><a href="#" class="product-link">
                <div class="img-wrapper">
                    <img src="%=static=%img/general/rolling/phone.png" alt="icon" class="product-image">
                </div>
                <div class="flex-container">
                    <p class="product-name">Мобильный телефон CAT B30</p>
                    <div class="price"><span class="price__numb">123 999</span><span class="currency">грн</span></div>
                </div>
            </a></li>
        <li class="product"><a href="#" class="product-link">
                <div class="img-wrapper">
                    <img src="%=static=%img/general/rolling/phone.png" alt="icon" class="product-image">
                </div>
                <div class="flex-container">
                    <p class="product-name">Мобильный телефон CAT B30</p>
                    <div class="price"><span class="price__numb">123 999</span><span class="currency">грн</span></div>
                </div>
            </a></li>
            <li class="product"><a href="#" class="product-link">
                <div class="img-wrapper">
                    <img src="%=static=%img/general/rolling/phone.png" alt="icon" class="product-image">
                </div>
                <div class="flex-container">
                    <p class="product-name">Мобильный телефон CAT B30</p>
                    <div class="price"><span class="price__numb">123 999</span><span class="currency">грн</span></div>
                </div>
            </a></li>
            <li class="product"><a href="#" class="product-link">
                <div class="img-wrapper">
                    <img src="%=static=%img/general/rolling/phone.png" alt="icon" class="product-image">
                </div>
                <div class="flex-container">
                    <p class="product-name">Мобильный телефон CAT B30</p>
                    <div class="price"><span class="price__numb">123 999</span><span class="currency">грн</span></div>
                </div>
            </a></li>
            <li class="product"><a href="#" class="product-link">
                <div class="img-wrapper">
                    <img src="%=static=%img/general/rolling/phone.png" alt="icon" class="product-image">
                </div>
                <div class="flex-container">
                    <p class="product-name">Мобильный телефон CAT B30</p>
                    <div class="price"><span class="price__numb">123 999</span><span class="currency">грн</span></div>
                </div>
            </a></li>
            <div class="search-bottom-panel">
                <a class="search_show_all" href="#">Показать все результаты</a>
            </div>
    </ul>
</div>
<script>
    $(document).ready(function() {
        function hideSearchDDown(e) {

            var obj = $(".serch-dd").find("*");

            var arr = Object.values(obj)

            function isTarget(el) {
                return el == e.target;
            }

            if (arr.some(isTarget) ) {
                return;
            } else {

                $(".serch-dd").removeClass("visible");
            }
        }
        $(document).keyup(function(e) {

            if (e.keyCode === 27) {
                $(".serch-dd").removeClass("visible");
            }
        });
        $("body").click(hideSearchDDown);
    });
</script>