<!-- simple-banners block -->
<section class="simple-banners">
	<div class="large-banners">
		<div class="large-banners__inner">
			<a href="#" class="banners-link">
				<h3 class="title">Крупная бытовая техника</h3>
				<img src="%=static=%img/general/banners/banner.png" alt="banner" class="large-img full">
			</a>
		</div>
		<div class="large-banners__inner">
			<a href="#" class="banners-link">
				<h3 class="title">Холодильники</h3>
				<img src="%=static=%img/general/rolling/offer-tv.png" alt="banner" class="large-img not-full">
			</a>
		</div>
	</div>
	<div class="small-banners">
		<div class="small-banners__item"><a href="#" class="item-link ">
				<h3 class="title">Морозильные камеры</h3>
				<img src="%=static=%img/general/banners/frige.png" alt="image" class="small-img">
			</a></div>
		<div class="small-banners__item"><a href="#" class="item-link">
				<h3 class="title">Посудомоечные машины</h3>
				<img src="%=static=%img/general/banners/washer.png" alt="image" class="small-img">
			</a></div>
		<div class="small-banners__item"><a href="#" class="item-link">
				<h3 class="title">Плиты</h3>
				<img src="%=static=%img/general/banners/oven.png" alt="image" class="small-img">
			</a></div>
		<div class="small-banners__item"><a href="#" class="item-link second-row">
				<h3 class="title">Стиральные машины</h3>
				<img src="%=static=%img/general/banners/cleaner.png" alt="image" class="small-img">
			</a></div>
		<div class="small-banners__item"><a href="#" class="item-link second-row">
				<h3 class="title">Вытяжки</h3>
				<img src="%=static=%img/general/banners/pipe.png" alt="image" class="small-img">
			</a></div>
		<div class="small-banners__item"><a href="#" class="item-link second-row">
				<h3 class="title">Встраиваемые духовки</h3>
				<img src="%=static=%img/general/banners/init-oven.png" alt="image" class="small-img">
			</a></div>
	</div>
	<script>
		$(document).ready(function() {
			var autoSizeImage = $(".simple-banners .large-img.not-full");
			var imageParent = autoSizeImage.parents(".large-banners__inner");

			imageParent.each(function(i) {
				if (autoSizeImage.eq(i).outerWidth(true) > imageParent.eq(i).outerWidth(true)) {
					autoSizeImage.eq(i).addClass("resize");
				}
			});

		});
	</script>
</section>
<!-- end simple-banners block -->