<!-- simple-banners block -->
<section class="simple-banners">
	<div class="large-banners">
		<div class="large-banners__inner">
			<a href="#" class="banners-link">
				<h3 class="title">Телефоны</h3>
				<img src="%=static=%img/general/banners/large-banner.png" alt="banner" class="large-img full">
			</a>
		</div>
		<div class="large-banners__inner">
			<a href="#" class="banners-link">
				<h3 class="title">Iphone 7</h3>
				<img src="%=static=%img/general/banners/phone.png" alt="banner" class="large-img not-full">
			</a>
		</div>
	</div>
	<div class="small-banners">
		<div class="small-banners__item"><a href="#" class="item-link ">
				<h3 class="title">Honor</h3>
				<img src="%=static=%img/general/banners/phone2.png" alt="image" class="small-img">
			</a></div>
		<div class="small-banners__item"><a href="#" class="item-link">
				<h3 class="title">Посудомоечные машины</h3>
				<img src="%=static=%img/general/banners/phone.png" alt="image" class="small-img">
			</a></div>
		<div class="small-banners__item"><a href="#" class="item-link">
				<h3 class="title">Плиты</h3>
				<img src="%=static=%img/general/banners/phone2.png" alt="image" class="small-img">
			</a></div>
		<div class="small-banners__item"><a href="#" class="item-link second-row">
				<h3 class="title">Стиральные машины</h3>
				<img src="%=static=%img/general/banners/phone.png" alt="image" class="small-img">
			</a></div>
		<div class="small-banners__item"><a href="#" class="item-link second-row">
				<h3 class="title">Вытяжки</h3>
				<img src="%=static=%img/general/banners/phone2.png" alt="image" class="small-img">
			</a></div>
		<div class="small-banners__item"><a href="#" class="item-link second-row">
				<h3 class="title">Встраиваемые духовки</h3>
				<img src="%=static=%img/general/banners/phone.png" alt="image" class="small-img">
			</a></div>
	</div>
</section>
<!-- end simple-banners block -->