<div class="listing-content">
	{{> listing/sidebar/promotions-sidebar}}
	<section class="product-listing">
		<div class="listing-container clearfix action-items-wrapper">
			<div class="listing-item">
				<div class="img">
					<a href="#">
						<img src="%=static=%img/general/rolling/0.png" alt="">
					</a>
				</div>
				<div class="info">
					<div class="duration">c 25 июня по 15 июля</div>
					<a href="#">Выгода равняется температуре</a>
					<div class="days-left ">Осталось <span>10</span> дней</div>
					<div class="btn">
						<button>Хочу</button>
					</div>
				</div>
			</div>
			<div class="listing-item">
				<div class="img">
					<a href="#">
						<img src="%=static=%img/general/rolling/0.png" alt="">
					</a>
				</div>
				<div class="info">
					<div class="duration">c 25 июня по 15 июля</div>
					<a href="#">Выгода равняется температуре</a>
					<div class="days-left ">Осталось <span>10</span> дней</div>
					<div class="btn">
						<button>Хочу</button>
					</div>
				</div>
			</div>
			<div class="listing-item">
				<div class="img">
					<a href="#">
						<img src="%=static=%img/general/rolling/0.png" alt="">
					</a>
				</div>
				<div class="info">
					<div class="duration">c 25 июня по 15 июля</div>
					<a href="#">Выгода равняется температуре</a>
					<div class="days-left ">Осталось <span>10</span> дней</div>
					<div class="btn">
						<button>Хочу</button>
					</div>
				</div>
			</div>
			<div class="listing-item">
				<div class="img">
					<a href="#">
						<img src="%=static=%img/general/rolling/0.png" alt="">
					</a>
				</div>
				<div class="info">
					<div class="duration">c 25 июня по 15 июля</div>
					<a href="#">Выгода равняется температуре</a>
					<div class="days-left ">Осталось <span>10</span> дней</div>
					<div class="btn">
						<button>Хочу</button>
					</div>
				</div>
			</div>
			<div class="listing-item">
				<div class="img">
					<a href="#">
						<img src="%=static=%img/general/rolling/0.png" alt="">
					</a>
				</div>
				<div class="info">
					<div class="duration">c 25 июня по 15 июля</div>
					<a href="#">Выгода равняется температуре</a>
					<div class="days-left ">Осталось <span>10</span> дней</div>
					<div class="btn">
						<button>Хочу</button>
					</div>
				</div>
			</div>
			<div class="listing-item">
				<div class="img">
					<a href="#">
						<img src="%=static=%img/general/rolling/0.png" alt="">
					</a>
				</div>
				<div class="info">
					<div class="duration">c 25 июня по 15 июля</div>
					<a href="#">Выгода равняется температуре</a>
					<div class="days-left ">Осталось <span>10</span> дней</div>
					<div class="btn">
						<button>Хочу</button>
					</div>
				</div>
			</div>
			<div class="listing-item">
				<div class="img">
					<a href="#">
						<img src="%=static=%img/general/rolling/0.png" alt="">
					</a>
				</div>
				<div class="info">
					<div class="duration">c 25 июня по 15 июля</div>
					<a href="#">Выгода равняется температуре</a>
					<div class="days-left ">Осталось <span>10</span> дней</div>
					<div class="btn">
						<button>Хочу</button>
					</div>
				</div>
			</div>
		</div>
	</section>

</div>
<div class="show-more">
	<p class="show-more__text">Показать ещё</p>
</div>
{{>pagination/pagination}}
{{> listing/suggestion}}