<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Foxtrot</title>
<meta content="" name="description">
<meta content="" name="keywords">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta content="telephone=no" name="format-detection">

<meta name="HandheldFriendly" content="true">
<link href="%=static=%css/separate-css/jQuery-UI.css" rel="stylesheet" type="text/css">
<link href="%=static=%css/separate-css/font-awesome.css" rel="stylesheet" type="text/css">
<link href="%=static=%css/main%=hash=%%=min=%.css" rel="stylesheet" type="text/css">
<link href="%=static=%css/separate-css/owl.carousel.css" rel="stylesheet" type="text/css">
<link href="%=static=%css/separate-css/owl.theme.default.css" rel="stylesheet" type="text/css">

<script src="%=static=%js/separate-js/jquery.min.js"></script>
<script src="%=static=%js/separate-js/hammer.min.js"></script>

<script>
    (function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)
</script>
