/*------------about-product-panel block----------*/
.about-product-panel {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
		-ms-flex-align: start;
			align-items: flex-start;
	margin: 1.5% auto .5% 1%;
	font-size: 14px;
	.panel-list {
		display: inline-block;
		width: 56.5%;
		&__item {
			list-style: none;
			display: inline-block;
		}
	}
	.item-link {
		text-decoration: none;
		color: #000000;
		margin-right: 10px;
	}
	.product-code {
		display: inline-block;
		&__text, &__code {
			font-family: 'Montserrat Medium';
		}
	}
}
@media only screen and (max-width: 768px) {
	.about-product-panel {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
			-ms-flex-direction: column;
				flex-direction: column;
		.product-code {
			margin: 8px 0;
		}
		.panel-list {
			width: 100%;
		}
	}
}
/*------------end about-product-panel block----------*/