/*------basket-popup-------*/
.popup-wrapper.basket {
	position: fixed;
	padding: 0;
	cursor: default;
	z-index:1001;
	width: 100%;
	max-width: 990px;
	min-width: 700px;
}
.basket-popup {
	margin-bottom: 50px;
	position: relative;
	top: 0;
	left: 50%;
	-webkit-transform: translate(-50%, 60px);
	-ms-transform: translate(-50%, 60px);
		transform: translate(-50%, 60px);
	background-color: #FFFFFF;
	width: 100%;
	max-width: 990px;
	min-width: 700px;
	padding: 20px 2.5%;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
	z-index: 1001;
	&__header {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
			-ms-flex-pack: justify;
				justify-content: space-between;
		width: 100%;
		padding: 0 0 15px 10px;
		.basket-close {
			display: block;
			width: 22px;
			height: 22px;
			-webkit-transform: translateY(-40%);
				-ms-transform: translateY(-40%);
					transform: translateY(-40%);
		}
	}
	.basket-list {
		&__item {
			position: relative;
			list-style: none;
			padding: 20px 0;
			-webkit-box-sizing: border-box;
					box-sizing: border-box;
			border-top: 1px solid #BDBDBD;
		}
	}
	.basket-item-close-img {
		display: block;
		width: 12px;
		height: 12px;
		position: absolute;
		left: 10px;
		top: 22px;
	}
	.basket-list__item.has-promotion {
		.promotion {
			display: block;
		}
		.bonus-product {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
		}
	}
	.promotion {
		display: none;
		font: 14px/17px Montserrat Regular;
		margin-left: 30px;
		&__red {
			color: #E54415;
		}
		&__kind {
			margin-left: 3px;
		}
	}
	.bonus-product {
		margin-top: 10px;
		margin-left: 20px;
		display: none;
		-webkit-box-align: center;
			-ms-flex-align: center;
				align-items: center;
		&__img-container {
			position: relative;
			width: 125px;
			height: 97px;
			overflow: hidden;
			.bonus-product-img {
				position: absolute;
				top: 50%;
				left: 50%;
				height: 100%;
				-webkit-transform: translate(-50%, -50%);
					-ms-transform: translate(-50%, -50%);
						transform: translate(-50%, -50%);
			}
		}
		&__text {
			font: 14px/17px Montserrat Medium;
			margin-left: 30px;
		}
	}
	.product-info {
		width: 100%;
		margin-top: 25px;
		margin-left: 20px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
			-ms-flex-pack: justify;
				justify-content: space-between;
		-webkit-box-align: center;
			-ms-flex-align: center;
				align-items: center;
		.img-wrapper {
			position: relative;
			width: 125px;
			height: 100px;
			overflow: hidden;
		}
		.item-product-img {
			position: absolute;
			top: 50%;
			left: 50%;
			display: block;
			width: auto;
			height: 100%;
			-webkit-transform: translate(-50%, -50%);
				-ms-transform: translate(-50%, -50%);
					transform: translate(-50%, -50%);
		}
	}
	.product-descr, .calculated {
		width: 35%;
	}
	.product-descr {
		.product-name {
			font: 13px/16px Montserrat Medium;
		}
		.price {
			&__not-relevant {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				text-decoration: line-through;
				font: 13px/16px Montserrat Regular;
			}
			.currency {
				margin-left: 3px;
			}
			&__relevant {
				font: 16px/20px Montserrat Extrabold;
			}
		}
	}
	.calculated {
		&__bonuses {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
				-ms-flex-align: center;
					align-items: center;
			& > span {
				font: 13px/16px Montserrat Regular;
				margin-left: 3px;
			}
		}
		.bonus__icon {
			display: block;
			width: 18px;
			height: 19px;
		}
		&__amount {
			.wrapper {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
			}
			.amount {
				margin-top: 10px;
				border: 1px solid #EF4123;
				width: 77px;
				height: 27px;
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-align: center;
					-ms-flex-align: center;
						align-items: center;
				-ms-flex-pack: distribute;
					justify-content: space-around;
				span {
					font: 14px/21px Montserrat Regular;
				}
			}
			.price__relevant {
				-ms-flex-item-align: end;
					align-self: flex-end;
				margin-left: 8px;
				font: 16px/20px Montserrat Extrabold;
				.currency {
					margin-left: 3px;
				}
			}
		}
	}
	.basket-list__item .gift {
		width: 235px;
		margin-left: 220px;
		border: 1px solid #FFD44D;
		.gift-link {
			color: #000000;
			text-decoration: none;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			padding: 3% 6%;
			-webkit-box-align: center;
				-ms-flex-align: center;
					align-items: center;
		}
		&__image {
			margin-right: 15px;
			max-height: 65px;
		}
		.title {
			display: inline-block;
			padding: 1px 5px 2px 5px;
			background-color: #FFD44D;
			text-transform: lowercase;
			font-size: 12px;
		}
		.model {
			font-size: 12px;
		}
	}
	.result-list {
		width: 100%;
		&__item {
			margin-top: 1px;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-pack: end;
				-ms-flex-pack: end;
					justify-content: flex-end;
			list-style: none;
		}
		&__item.final-result {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: end;
				-ms-flex-align: end;
					align-items: flex-end;
			margin-top: 13px;
			.sum-numb, .currency {
				font: 20px/25px Montserrat Semibold;
				margin-left: 9px;
			}
		}
		.desct-text {
			font: 14px/20px Montserrat Regular;
		}
		.sum-numb, .currency {
			font: 14px/20px Montserrat Semibold;
			margin-left: 3px;
		}
	}
	.bottom-block {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
			-ms-flex-pack: justify;
				justify-content: space-between;
		-webkit-box-align: center;
			-ms-flex-align: center;
				align-items: center;
		margin-top: 15px;
		.back {
			color: #2F80ED;
			text-decoration: none;
			font: 14px/22px Montserrat Regular;
		}
		.make-order {
			padding: 8px 12px;
			background-color: #E54415;
			color: #FFFFFF;
			font: 15px/18px Montserrat Semibold;
		}
		.make-order:focus {
			outline: none;
		}
	}
}
@media only screen and (max-width: 768px) {
	.popup-wrapper.basket {
		min-width: 320px;
		max-width: 768px;
	}
	.basket-popup {
		margin-bottom: 0;
		padding: 20px 1.5%;
		max-width: 768px;
		min-width: 320px;
		-webkit-transform: translate(-50%, 0px);
			-ms-transform: translate(-50%, 0px);
				transform: translate(-50%, 0px);
		&__header {
			width: auto;
			.basket-close {
				width: 24px;
				height: 24px;
			}
		}
		.basket-item-close-img {
			left: auto;
			right: 0;
			width: 24px;
			height: 24px;
		}
		.product-info {
			-webkit-box-align: start;
				-ms-flex-align: start;
					align-items: flex-start;
			-webkit-box-pack: start;
				-ms-flex-pack: start;
					justify-content: flex-start;
			-ms-flex-wrap: wrap;
				flex-wrap: wrap;
			width: auto;
			.product-descr {
				margin-left: 30px;
				width: calc(100% - 215px);
			}
			.img-wrapper {
				width: 150px;
				height: 113px;
			}
		}
		.price {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			margin-top: 10px;
			-webkit-box-align: end;
				-ms-flex-align: end;
					align-items: flex-end;
			&__not-relevant {
				margin-right: 5px;
			}
		}
		.calculated {
			width: auto;
			position: relative;
			bottom: 35px;
			margin-left: 180px;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
				-ms-flex-direction: column;
					flex-direction: column;
			&__bonuses {
				-webkit-box-ordinal-group: 3;
					-ms-flex-order: 2;
						order: 2;
				margin-top: 10px;
			}
			&__amount {
				.price__relevant {
					font: 19px/20px Montserrat Extrabold;
				}
				.amount {
					margin-top: 0;
				}
			}
		}
		.basket-list__item {
			border-top: 1px solid #E0E0E0;
			.gift {
				margin-left: 200px;
				.title {
					font: 12px/15px Montserrat Regular;
				}
			}
		}
		.promotion {
			margin-left: 0;
		}
	}
}
@media only screen and (max-width: 480px) {
	.popup-wrapper.basket {
		min-width: 300px;
		max-width: 480px;
	}
	.basket-popup {
		padding: 20px 3%;
		max-width: 480px;
		min-width: 300px;
		&__header {
			.basket-close {
				width: 14px;
				height: 14px;
			}
		}
		.basket-item-close-img {
			width: 14px;
			height: 14px;
		}
		.product-info {
			.product-descr {
				margin-left: 20px;
				width: calc(100% - 135px);
			}
			.img-wrapper {
				width: 87px;
				height: 66px;
			}
		}
		.calculated {
			bottom: 0;
			margin-top: 8px;
			margin-left: 106px;
			&__bonuses {
				-webkit-box-ordinal-group: 3;
					-ms-flex-order: 2;
						order: 2;
				margin-top: 10px;
			}
			&__amount {
				.wrapper {
					-webkit-box-orient: vertical;
					-webkit-box-direction: normal;
						-ms-flex-direction: column;
							flex-direction: column;
				}
				.price__relevant {
					-ms-flex-item-align: start;
						align-self: flex-start;
					margin-left: 0;
					margin-top: 5px;
				}
				.amount {
					margin-top: 0;
				}
			}
		}
		.basket-list__item {
			.gift {
				margin: 10px auto;
				width: 100%;
				&__descr {
					width: auto;
				}
				.gift-link {
					-webkit-box-pack: space-evenly;
						-ms-flex-pack: space-evenly;
							justify-content: space-evenly;
				}
				.title {
					margin-bottom: 5px;
				}
				.model {
					width: 90%;
				}
			}
		}
		.promotion {
			margin-left: 0;
		}
		.price {
			-webkit-box-align: start;
				-ms-flex-align: start;
					align-items: flex-start;
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
				-ms-flex-direction: column;
					flex-direction: column;
		}
	}
}
/*------end basket-popup-------*/