/* -----------callback-popup --------*/
.popup-wrapper.callback.show {
	display: block;
}
.popup-wrapper.callback {
	display: none;
	left: 50%;
	top: 14px;
	width: 850px;
	transform: translateX(-50%);
	height: auto;
	.callback-popup {
		color: #000000;
		text-transform: initial;
		position: relative;
		background-color: #FFFFFF;
		width: 850px;
		box-sizing: border-box;
		padding: 10px 50px 50px;
		&__close-icon {
			cursor: pointer;
			position: absolute;
			top: 10px;
			right: 10px;
			display: inline-block;
			width: 22px;
			height: 22px;
		}
		.title {
			margin: 50px 0 40px;
		}
		.proposition {
			font: 14px/17px Montserrat Regular;
		}
	}
	.callback-form {
		width: 100%;
	}
	.connection {
		margin-top: 40px;
		&__title {
			font: 12px/15px Montserrat Bold;
		}
	}
	.callback-choise:hover,
	.callback-choise.shadow {
		box-shadow: 0 2px 6px rgba(0,0,0,.4);
	}
	.callback-choise {
		cursor: pointer;
		position: relative;
		margin-top: 10px;
		font: 12px/15px Montserrat Medium;
		border: 1px solid #BDBDBD;
		padding: 0 12px;
		box-sizing: border-box;
		.elected-panel {
			height: 36px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
		}
		.dropdown-arrow {
			display: block;
			width: 12px;
			height: 10px;
		}
		&__dropdown.shadow {
			box-shadow: 0 2px 6px rgba(0,0,0,.4);
		}
		&__dropdown {
			display: none;
			position: absolute;
			top: 100%;
			left: -1px;
			width: calc(100% + 2px);
		}
	}
	.dd-list {
		&__item {
			box-sizing: border-box;
			height: 36px;
			list-style: none;
			border: 1px solid #BDBDBD;
			padding: 0 12px;
			background-color: #FFFFFF;
			display: flex;
			align-items: center;
		}
	}
	.send {
		cursor: pointer;
		font: 15px/18px Montserrat Semibold;
		color: #FFFFFF;
		background-color: #E54415;
		padding: 10px 35px;
		border-radius: 0;
		border: 0;
		box-shadow: none;
		margin-top: 40px;
	}
	.phone {
		margin-top: 40px;
		&__title {
			font: 12px/15px Montserrat Bold;
		}
		&__field::-webkit-input-placeholder {
			color: #828282;
		}
		&__field::-moz-placeholder {
			color: #828282;
		}
		&__field:-ms-input-placeholder {
			color: #828282;
		}
		&__field:-moz-placeholder {
			color: #828282;
		}
		&__field {
			margin-top: 10px;
			border: 1px solid #BDBDBD;
			display: block;
			width: 100%;
			padding: 4px 12px;
			font: 14px/17px Montserrat Regular;
			height: 36px;
			box-sizing: border-box;
		}
	}
}

@media only screen and (max-width: 991px) {
	.popup-wrapper.callback {
		top: 50%;
		transform: translate(-50%, -50%);
		width: 768px;
		.callback-popup {
			width: 768px;
		}
	}
}
@media only screen and (max-width: 768px) {
	.popup-wrapper.callback {
		width: 100%;
		.callback-popup {
			width: 100%;
		}
	}
}
@media only screen and (max-width: 480px) {
	.popup-wrapper.callback {
		.callback-popup {
			padding: 10px 20px 50px;
		}
	}
}
/* -----------end callback-popup --------*/