/*discount-variant block*/
.discount-variant {
	position: relative;
	margin: 10px 0;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
	background-color: #FFFFFF;
	padding: 1.5% 2% 2%;
	&__carousel {
		width: 100%;
	}
	.discount-variant__carousel.owl-carousel .owl-stage {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
	&__title {
		font: 18px/1 Montserrat Bold;
		margin-bottom: 10px;
	}
	.slide-container:after {
		content: "";
		display: block;
		height: 2px;
		width: 100%;
		background-color: transparent;
	}
	.slide-container {
		min-width: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
			-ms-flex-direction: column;
				flex-direction: column;
		-webkit-box-pack: justify;
			-ms-flex-pack: justify;
				justify-content: space-between;
		.discount-product-container {
			min-width: 100%;
			-webkit-box-sizing: border-box;
					box-sizing: border-box;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
				-ms-flex-align: center;
					align-items: center;
			-ms-flex-pack: distribute;
				justify-content: space-around;
		}
		.flex-container {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-ms-flex-pack: distribute;
				justify-content: space-around;
			-webkit-box-align: center;
				-ms-flex-align: center;
					align-items: center;
		}
		.vertical-slider-wrapper {
			width: auto;
			.semi-transparent {
				opacity: .4;
			}
			.num-of-set-item {
				font: 12px/16px Montserrat Regular;
				display: block;
				margin-top: 5px;
				text-align: center;
			}
			.fa {
				cursor: pointer;
				display: block;
				width: 100%;
				margin: 0 auto;
				text-align: center;
				font-size: 22px;
				line-height: 1;
				color: #E54415;
			}
			.fa-angle-down {
				margin-top : 10px;
			}
			.fa-angle-up {
				margin-bottom : 10px;
			}
		}
		.add-prod-vertical-slider {
			width: 100%;
			overflow: hidden;
			.vert-gallery {
				-webkit-transition: margin-top .3s;
				-o-transition: margin-top .3s;
				transition: margin-top .3s;
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-align: center;
					-ms-flex-align: center;
						align-items: center;
			}
		}
		&__product.main {
			width: 35%;
			max-width: 200px;
		}
		&__product {
			color: #000000;
			text-decoration: none;
			width: 100%;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
				-ms-flex-align: center;
					align-items: center;
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
				-ms-flex-direction: column;
					flex-direction: column;
			-ms-flex-item-align: start;
				align-self: center;
			-webkit-box-pack: center;
				-ms-flex-pack: center;
					justify-content: center;
			position: relative;
		}
		.plus, .equal {
			color: #00102A;
			font: 36px/42px Roboto Thin;
			display: inline-block;
		}
		.equal {
			-webkit-transform: translateX(-70%);
				-ms-transform: translateX(-70%);
					transform: translateX(-70%);
		}
		.product-image {
			height: 91px;
			width: auto;
			margin-bottom: 10px;
		}
		.product-description {
			font: 14px/17px Montserrat Regular;
			text-align: center;
			width: 100%;
			max-width: 170px;
		}
		&__result {
			text-align: center;
			min-width: 190px;
		}
		.price {
			margin: 1.5% 0;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
				-ms-flex-align: center;
					align-items: center;
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
				-ms-flex-direction: column;
					flex-direction: column;
			&__not-relevant {
				text-decoration: line-through;
				font: 18px/21px Roboto Regular;
				color: #828282;
				.currency {
					margin-left: 3px;
				}
			}
			&__relevant {
				margin-left: 5px;
				font: 24px/29px Montserrat Bold;
				.currency {
					margin-left: 3px;
				}
			}
		}
		.bonus {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
				-ms-flex-align: center;
					align-items: center;
			margin-bottom: 1.5%;
			&__icon {
				width: 17px;
				display: inline-block;
				margin-right: 5px;
				height: 17px;
			}
			&__calculation {
				display: none;
				font-size: 16px;
				color: #EF4123;
			}
			&__sum {
				margin-left: 3px;
			}
			&__sum, &__currency {
				font-size: 13px;
			}
			.answer-icon {
				cursor: pointer;
				display: inline-block;
				width: 15px;
				height: 15px;
			}
		}
		.discount-button {
			font: 16px/20px Montserrat Regular;
			background-color: #FFFFFF;
			border: 1px solid #EF4123;
			padding: 6px 10px;
			cursor: pointer;
			margin-top: 7px;
		}
	}
}
body .discount-variant__carousel.owl-theme .owl-nav {
	top: 50%;
	width: 105%;
	left: -2.5%;
}

@media only screen and (max-width: 1366px) {
	.discount-variant .slide-container .product-description {
		font: 12px/15px Montserrat Regular;
	}
	.discount-variant .slide-container .product-image {
		height: 71px;
	}
	.discount-variant .slide-container__result {
		max-width: 170px;
	}
	.discount-variant .slide-container .equal {
		-webkit-transform: translateX(-20%);
			-ms-transform: translateX(-20%);
				transform: translateX(-20%);
	}
	.discount-variant .slide-container .bonus__calculation, 
	.discount-variant .slide-container .bonus__currency {
		font-size: 12px;
	}
}

@media only screen and (max-width: 991px) {
	.discount-variant .slide-container {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
			-ms-flex-direction: column;
				flex-direction: column;
		.discount-product-container {
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
				-ms-flex-direction: column;
					flex-direction: column;
		}
	}
	.discount-variant .slide-container .product-image {
		height: 91px;
	}
}
/* end discount-variant block*/