.top-plash {
	font-size: 12px;
	padding: 2px 8px;
	position: relative;
	margin-left: 10px;
	display: inline-block;
	

}

.top-plash .icon-promokod {
		width: 20px;
		height: 20px;
		background-image: url("/static/img/general/icons/hand.svg");
		display: inline-block;
		position: absolute;
		left: -8px;
    	top: 0px;
	}
.top-plash.promokod {
	padding-left: 15px;
	background-color: #9b210d;
	color: #fff
}
.popup-promokod {
	position: absolute;
    width: 220px;
    height: 140px;
    z-index: 20;
    background: white;
    font-size: 16px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 5px;
    padding: 10px;
// border-radius: 10px;
    text-align: center;
    	    top: 24px;
    left: 0px;
    display: none;
    
}
.julian-promokod {
cursor: pointer;
}
.popup-promokod.open {
	display: block;
}
.popup-promokod-closed {
	    color: red;
    position: absolute;
    right: 7px;
    top: 5px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}
.popup-promokod span {
	display: block;
	color: #000;
}
.popup-promokod-titel {
	    font-size: 16px;
    text-align: center;
        margin-top: 14px;
    margin-bottom: 10px;

}
.popup-promokod .popup-promokod-number {
	    color: black;
    border: 2px red dashed;
    padding: 3px;
        font-weight: 700;
    display: inline-block;
    margin-bottom: 10px;
}
.popup-promokod-text {
font-size: 16px;
    text-align: center;
}
.popup-promokod-link {
	position: absolute;
	bottom: 10px;
	right: 10px;
	    text-decoration: underline;
    color: #185cb8;
    margin-top: 10px;
    outline: none;
    display: block;
    cursor: pointer;
}
.top-panel-informer {
    display: inline-block;
}

.top-oplata {
        font-size: 12px;
        padding: 2px 8px;
        position: relative;
        margin-left: 7px;
        display: inline-block;
    }
.br-info {
    display: block;
}
    .top-oplata .icon-opchas {
        width: 20px;
        height: 20px;
        background-image: url("/static/img/general/icons/opchas.svg");
        display: inline-block;
        position: absolute;
        left: -3px;
        top: -3px;
    }
    .top-oplata.oplata {
        padding-left: 20px;
        background-color: #FFF969;
    }
.dd-wrapper {
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #FFFFFF;
    height: 320px;
}
.about-text-wrapper {
    line-height: 1.7;
}
.body .owl-carousel.owl-drag .owl-item {
    position: relative;
    z-index: 5;
}
.bonus {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start !important;
}
.bonus__left {
    width: 40%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: end;
}
.product-store-information__manage .gift {
    box-sizing: border-box;

}
.bonus__right {
    width: 50%;
}

.product-store-information__manage .gift .title-wrapper {
    justify-content: end !important;
    margin-bottom: 5px;
}
.product-store-information__manage .gift .model {
    max-width: 160px;
}
.product-store-information__manage .gift {
    display: inline-block;
    width: auto !important;
}
.price__relevant_bottom {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
        justify-content: flex-end;
    margin-top: 10px;
}
.price__relevant_bottom .answer-wrapper {
    top: -3px;
}
.price__relevant_bottom p {
        font-family: 'Montserrat Regular', sans-serif;
    font-size: 12px;
}
.product-store-information__manage .price {
        align-items: flex-start !important;
}
.product-store-information__manage .price .flex-wrapper {
    align-items: end !important;
}
.price__relevant .input-radio  .nor {
     font-family: 'Montserrat Regular', sans-serif;
    font-size: 16px;
}
.jul-top.price__relevant {
    margin-right: 15px;
}
.jul-top.price__relevant .input-radio label {
    position: relative;
    top: -2px;
    } 
.special-offers .offers-item.small .offers-item__descr {
    height: 100%;
        display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.price__relevant .styled-radio {
        position: absolute;
        opacity: 0; }
        .price__relevant .styled-radio + label {
          position: relative;
          cursor: pointer;
          padding: 0;
          display: inline-block;
          overflow-y: hidden;

          width: 100%; }
        .price__relevant .styled-radio + label:before {
          content: '';
          margin-right: 10px;
          display: inline-block;
          vertical-align: text-top;
          width: 18px;
          height: 18px;
          float: left;
          border: 1px solid #BDBDBD;
          border-radius: 50%;
          position: relative; 
          top: 4px;}
        .price__relevant .styled-radio:checked + label:after {
          content: '';
          position: absolute;
          top: 9px;
          left: 5px;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background: #E54415; }
        .price__relevant .input-radio label {
          position: relative; }
          .price__relevant .input-radio label span {
            top: 3px;
            position: relative;
        }

@media (max-width: 580px) {
    .bonus__left {
        width: 100%;
    }
    body .product-store-information .price .flex-wrapper .price__relevant {
        width: 100%;
        display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
        justify-content: end;
    }
    .price__relevant .styled-radio + label:before {
        display: none;
    }
    .price__relevant_bottom {
        justify-content: end;
    }
    .price__relevant_bottom {
        margin-left: 5px;
    }
    .product-store-information__manage .price__text {
        display: none;
    }
    body .product-store-information .price .flex-wrapper .price__not-relevant {
        display: none;
    }

}
