/*-------------------footer block------------------*/
.footer-wrapper {
	padding: 3% 0 1%;
	width: 100%;
	overflow: hidden;
	background-color: #2A2E37;
	a {
		text-decoration: none;
	}
	li {
		list-style: none;
	}
	.content {
		width: 70%;
		margin-left: 20%;
	}
}
.footer-menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
		-ms-flex-pack: justify;
			justify-content: space-between;
	.footer-item-mobile-title {
		cursor: pointer;
		display: none;
		color: #FFFFFF;
		font: 14px/22px Montserrat Regular;
		margin: 15px 15%;
	}
	&__item {
		display: block;
		a {
			font: 12px/20px Montserrat Regular;
			color: #FFFFFF;
		}
		li {
			margin: 3px 0;
		}
		li:first-child {
			margin: 7px 0;
			a {
				font-size: 14px;
				cursor: default;
			}
		}
		.phone {
			margin-top: 14px;
			a {
				font-size: 14px;
			}
		}
		.number-phone {
			font: 18px/24px Montserrat Regular;
			margin: 5px 0;
		}
		.time {
			color: #FFFFFF;
			font: 14px/22px Montserrat Regular;
			p {
				margin: 6px 0;
				span {
					margin-left: 9px;
				}
			}
			.free {
				font-size: 12px;
			}
		}
		.connection {
			margin-top: 20px;
		}
		.ordercall {
			cursor: pointer;
			margin-right: 15px;
			color: #FFFFFF;
			font: 12px/20px Montserrat Regular;
		}
		.write-to-us {
			a {
				display: block;
			}
		}
		.ordercall, .write-to-us {
			border: 1px solid #FFFFFF;
			display: inline-block;
			padding: 10px 0;
			width: 130px;
			text-align: center;
		}
	}
	&__item:nth-child(n+2) {
		margin-left: 3%;
	}
}
.footer-bottom {
	width: 60%;
	color: #828282;
	font-size: 12px;
	margin: 5px 0 0 20%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
		-ms-flex-pack: justify;
			justify-content: space-between;
	-webkit-box-align: end;
		-ms-flex-align: end;
			align-items: flex-end;
	.follow-us{
		margin: 0 2% 0 auto;
	}
}
.footer-social {
	&__link {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		width: auto;
		li {
			margin: 0 5%;
		}
	}
	.social-icon {
		display: block;
		width: 30px;
		height: 30px;
		background-color: #FFFFFF;
	}
}


@media only screen and (max-width: 1024px) {
	.footer-wrapper {
		.content {
			width: 85%;
			margin-left: 10%;
		}
	}
	.footer-bottom {
		width: 65%;
		margin: 7% 0 0 10%;
	}
}
@media only screen and (max-width: 991px) {
	.footer-bottom {
		text-align: center;
		.copyright {
			margin-right: 5px;
		}
	}
}
@media only screen and (max-width: 768px) {
	.footer-wrapper {
		padding: 0 0 7% 0;
	}
	.footer-wrapper .content {
		margin: 0 auto;
		width: 98%;
	}
	.footer-menu {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
			-ms-flex-direction: column;
				flex-direction: column;
		.wrapper {
			border-bottom: 1px solid #FFFFFF;
			.footer-menu__item {
				display: none;
			}
		}
		.footer-item-mobile-title {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-pack: justify;
				-ms-flex-pack: justify;
					justify-content: space-between;
			-webkit-box-align: center;
				-ms-flex-align: center;
					align-items: center;
			img {
				-webkit-transform: rotate(90deg);
					-ms-transform: rotate(90deg);
						transform: rotate(90deg);
				display: block;
				width: 17px;
				height: 17px;
			}
			img.rotate {
				-webkit-transform: rotate(-90deg);
					-ms-transform: rotate(-90deg);
						transform: rotate(-90deg);
			}
		}
		&__item:nth-child(n+2) {
			margin: 0;
		}
		&__item {
			padding: 0 15%;
			-webkit-box-sizing: border-box;
					box-sizing: border-box;
			li:first-child a {
				display: none;
				margin: 15px 0;
			}
			.connection {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-pack: justify;
					-ms-flex-pack: justify;
						justify-content: space-between;
			}
			.ordercall, .write-to-us {
				width: 35%;
				min-width: 130px;
			}
		}
	}

	body .footer-menu__item:nth-last-child(2) {
		li:first-child a {
				display: block;
			}
		} 
	.footer-bottom {
		display: none;
	}
}
@media only screen and (max-width: 480px) {
	.footer-menu__item {
		padding: 0 5%;
	}
	.footer-menu .footer-item-mobile-title {
		margin: 15px 5%;
	}
}
/*-------------------end footer block------------------*/