/* ----------- category-container common styles --------- */
.category-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	position: relative;
	padding: 0 2%;
	& > div {
		position: relative;
		display: inline-block;
		vertical-align: top;
		background-color: #FFFFFF;
	}
	.submenu-item {
		z-index: 1;
		padding: 1px 0;
		margin: 6px 0;
		width: 100%;
	}
	.catalog-submenu {
		z-index: 1;
		width: 100%;
		min-width: 231px;
		padding: 0;
		margin: -4px 0 0 0;
		background-color: #FFFFFF;
		color: #000000;
		font-size: 12px;
	}
}
.categories {
	width: 231px;
	min-height: 436px;
	height: 100%;
	a {
		text-decoration: none;
	}
}
.categories:hover {
	z-index: 997;
}
@media only screen and (max-width: 991px) {
	.category-container {
		.catalog-submenu {
			width: 226px;
		}
	}
	.categories {
		width: 226px;
	}
}
/* ----------- end category-container common styles --------- */

/* --------------- category-menu ----------------- */

.submenu-item:hover {
	border: 1px solid #E0E0E0;
	//border-right: 1px solid #FFFFFF;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
	padding: 0;
	.link-text {
		color: #EF4123;
	}
}
.submenu-item:hover:after {
	content: "";
	display: block;
	float: right;
	-webkit-transform: translate(270%, 0);
		-ms-transform: translate(270%, 0);
			transform: translate(270%, 0);
	height: 1.46rem;
	width: 3px;
	background-color: #FFFFFF;
	z-index: 999;
}
.icon-wrapper {
	position: relative;
	width: 20px;
	height: 20px;
	display: inline-block;
	margin-left: 4%;
}
.link-icon {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -43%);
		-ms-transform: translate(-50%, -43%);
			transform: translate(-50%, -43%);
}
.link-text {
	color: #000000;
	margin-left: 3%;
	position: relative;
	bottom: 5px;
}
.link-arrow {
	-webkit-transform: translate(-200%, 58%);
		-ms-transform: translate(-200%, 58%);
			transform: translate(-200%, 58%);
	float: right;
}

@media only screen and (max-width: 1360px) {
	.link-arrow {
		-webkit-transform: translate(-220%, 58%);
			-ms-transform: translate(-220%, 58%);
				transform: translate(-220%, 58%);
	}
}

@media only screen and (max-width: 991px) {
	.link-arrow {
		-webkit-transform: translate(-190%, 58%);
			-ms-transform: translate(-190%, 58%);
				transform: translate(-190%, 58%);
	}
	.link-text {
		margin-left: 1%;
	}
}
/* --------------- end category-menu ----------------- */

/* --------------- category-menu-list ----------------- */
.category-menu-wrapper {
	-webkit-transition-delay: 50ms;
		 -o-transition-delay: 50ms;
			transition-delay: 50ms;
	visibility: hidden;
	font-size: 12px;
	background-color: #FFFFFF;
	position: absolute;
	left: 100%;
	top: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
		-ms-flex-pack: justify;
			justify-content: space-between;
	padding: 14px;
	border: 1px solid #E0E0E0;
	border-bottom: none;
	border-top: none;
	border-radius: 3px;
	width: calc(93vw - 230px);
	max-width: 1000px;
	min-height: 100%;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
	.category-column {
		width: 70%;
	}
	.back-button {
		display: none;
	}
}
.catalog-submenu-wrapper {
	.back-button {
		display: none;
	}
}
.submenu-item .category-menu-wrapper.visible {
	visibility: visible;
}

.category-item {
	width: 70%;
	margin: 3% 5.5%;
	&__title {
		margin: 3px 0;
		font-family: 'Montserrat Bold';
	}
	&__list {
		list-style: none;
		padding: 0;
	}
	a {
		color: #000000;
		font: 12px/17px Montserrat Regular;
	}
	.category-item.mobile {
		display: none;
	}
}
.category-picture {
	position: absolute;
	width: 30%;
	max-width: 285px;
	z-index: 999;
	right: 0;
	bottom: 0;
	&__img {
		width: 100%;
	}
}
.tehnika-dlia-kuhni.category-picture {
	max-width: 260px;
	-webkit-transform: translate(27%, 44%);
		-ms-transform: translate(27%, 44%);
			transform: translate(27%, 44%);
}
.tehnika-dlia-doma.category-picture, {
	-webkit-transform: translate(0, 23%);
		-ms-transform: translate(0, 23%);
			transform: translate(0, 23%);
}
.smart-gadzhetifoni-i-telefoni.category-picture {
	width: 35%;
	max-width: 100%;
	min-width: 300px;
	-webkit-transform: translate(7%, 0);
		-ms-transform: translate(7%, 0);
			transform: translate(7%, 0);
}
.noutbuky-planshety-pk.category-picture {
	-webkit-transform: translate(18%, 16%);
		-ms-transform: translate(18%, 16%);
			transform: translate(18%, 16%);
}
.televizori-audiotehnika.category-picture {
	width: 41%;
	max-width: 100%;
	min-width: 400px;
	transform: translate(0, 10%);
}
.foto-video-avto.category-picture {
	width: 33%;
	max-width: 100%;
	min-width: 280px;
	transform: translate(17%, 7%);
}
.dom-sad.category-picture {
	width: 285px;
}
.posuda.category-picture {
	max-width: 250px;
	transform: translate(22%, 30%);
}
.instrument.category-picture {
	width: 350px;
	max-width: 100%;
	transform: translate(16%, 19%);
}
.otdih-i-turizm.category-picture {
	width: 380px;
	max-width: 100%;
}
.smart-gadzheti.category-picture {
	width: 42%;
	max-width: 320px;
	min-width: 290px;
	transform: translate(10%, 7%);
}
.tovari-dlia-detei.category-picture {
	width: 42%;
	max-width: 334px;
	min-width: 334px;
	transform: translate(10%, 15%);
}
.category-list-item {
	margin: 1.7% 0;
	&__link {
		font-family: 'Montserrat Light';
	}
}
.all-categories {
	position: relative;
	display: inline-block;
	.category-list-item__link {
		.all-categories-text {
			color: #828282;
			text-transform: lowercase;
		}
		.link-arrow {
			width: 7px;
			position: absolute;
			top: 50%;
			right: 0;
			-webkit-transform: translate(250%, -40%);
				-ms-transform: translate(250%, -40%);
					transform: translate(250%, -40%);
		}
	}
}
@media only screen and (max-width: 1200px) {
	.category-menu-wrapper {
		.tehnika-dlia-kuhni.category-picture {
			width: 30%;
			transform: translate(28%, 47%);
		}
	}
	.tehnika-dlia-doma.category-picture {
		-webkit-transform: translate(0, 15%);
			-ms-transform: translate(0, 15%);
				transform: translate(0, 15%);
	}
	.noutbuky-planshety-pk.category-picture {
		-webkit-transform: translate(13%, 14%);
			-ms-transform: translate(13%, 14%);
				transform: translate(13%, 14%);
	}
	.televizori-audiotehnika.category-picture {
		min-width: 360px;
		-webkit-transform: translate(13%, 10%);
			-ms-transform: translate(13%, 10%);
				transform: translate(13%, 10%);
	}
}
@media only screen and (max-width: 991px) {
	.category-menu-wrapper {
		font-size: 11px;
		.category-item {
			width: 90%;
		}
		.category-picture {
			width: 36%;
		}
	}
	.tehnika-dlia-kuhni.category-picture {
		width: 30%;
		transform: translate(30%, 38%);
	}
	.tehnika-dlia-doma.category-picture {
		-webkit-transform: translate(0, 0);
			-ms-transform: translate(0, 0);
				transform: translate(0, 0);
	}
	.smart-gadzhetifoni-i-telefoni.category-picture {
		min-width: 240px;
		-webkit-transform: translate(11%, 16%);
			-ms-transform: translate(11%, 16%);
				transform: translate(11%, 16%);
	}
	.televizori-audiotehnika.category-picture {
		min-width: 330px;
		transform: translate(14%, 38%);
	}
	.foto-video-avto.category-picture {
		min-width: 240px;
		transform: translate(21%, 15%);
	}
	.dom-sad.category-picture {
		width: 245px;
		transform: translate(21%, 15%);
	}
	.posuda.category-picture {
		transform: translate(22%, 27%);
	}
	.instrument.category-picture {
		width: 295px;
	}
	.otdih-i-turizm.category-picture {
		width: 315px;
	}
	.smart-gadzheti.category-picture {
		min-width: 210px;
		transform: translate(17%, 7%);
	}
	.tovari-dlia-detei.category-picture {
		width: 42%;
		max-width: 320px;
		min-width: 290px;
		transform: translate(10%, 7%);
	}
}
/* --------------- end category-menu-list ----------------- */

/* --------------- slider block ----------------- */
.category-slider {
	&__carousel {
		position: relative;
		overflow: hidden;
		max-width: 790px;
		.carousel-image-link {
			display: block;
			position: relative;
			top: 0;
			left: 0;
			width: 100%;
		}
		.carousel-image-link.resize {
			width: auto;
			height: 100%;
			margin: 0 auto;
			.carousel-image {
				height: 100%;
				width: auto;
			}
		}
		.carousel-image {
			display: block;
			position: relative;
			top: 0;
			left: 0;
			width: 100%;
		}
	}
	&__carousel.owl-carousel.owl-theme.owl-loaded.owl-drag {
		z-index: auto;
	}
	&__carousel.owl-carousel .owl-item .slider-item {
		width: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
			-ms-flex-align: center;
				align-items: center;
	}
	&__carousel.owl-carousel .owl-stage {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
	.owl-dots {
		position: absolute;
		top: 90%;
		width: 100%;
		text-align: right !important;
		right: 2%;
	}
	.owl-nav {
		button {
			display: block;
			position: relative;
			width: 45px;
			height: 45px;
			text-align: center;
			font-size:0;
			i {
				position: absolute;
				top: 50%;
				left: 50%;
				-webkit-transform: translate(-50%, -55%);
					-ms-transform: translate(-50%, -55%);
						transform: translate(-50%, -55%);
			}
			.fa-angle-right {
				left: 55%;
			}
			.fa-angle-left {
				left: 45%;
			}
		}
		button:hover {
			text-align: center;
			border-radius: 50%;
		}
	}
}
body {
	.category-slider {
		.owl-dots {
			.owl-dot:focus {
				outline: none;
			}
			.owl-dot:hover {
				span {
					background-color: #000000;
				}
			}
			.owl-dot.active {
				span {
					background-color: #000000;
				}
			}
		}
		.owl-nav {
			.owl-prev:hover {
				background-color: rgba(241, 241, 101, .7);
				color: #EF4123;
			}
			.owl-prev:focus, .owl-next:focus {
				outline: none;
			}
			.owl-next:hover {
				background-color: rgba(241, 241, 101, .7);
				color: #EF4123;
			}
		}
	}
}
.carousel-description {
	text-decoration: none;
	color: #000000;
	position: absolute;
	right: 5%;
	top: 37px;
	&__type {
		font-family: 'Montserrat Bold';
		font-size: 25px;
	}
	&__brand {
		font-family: 'Montserrat Bold';
		font-size: 25px;
	}
	&__price {
		font-family: 'Montserrat Bold';
		.slider-prise-numb {
			font-size: 42px;
		}
		.slider-prise-currency {
			font-size: 20px;
		}
	}
}

.category-slider {
	&__inform {
		position: absolute;
		bottom: 0;
		width: 100%;
		margin-bottom: 5%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-pack: distribute;
			justify-content: space-around;
	}
}
.category-inform-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	&__img {
		margin: 0 9%;
		max-height: 25px;
	}
	&__descr {
		.descr-title {
			font-size: 12px;
			font-family: 'Montserrat Bold';
		}
		.descr-text {
			font-size: 12px;
		}
	}
}
.category-inform-item:nth-child(n+2) {
	border-left: 1px solid #E0E0E0 ;
}

@media only screen and (min-width: 1400px) {
	.category-slider {

		&__inform {
			margin-bottom: 3%;
		}
	}
}
@media only screen and (max-width: 991px) {
	.category-slider {
		&__carousel {
			top: 15%;
		}
	}
	.carousel-description {
		right: 2%;
		top: 0;
		&__type {
			font-size: 18px;
		}
		&__brand {
			font-size: 18px;
		}
		&__price {
			.slider-prise-numb {
				font-size: 25px;
			}
			.slider-prise-currency {
				font-size: 16px;
			}
		}
	}
	.category-inform-item {
		position: relative;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
			-ms-flex-direction: column;
				flex-direction: column;
		text-align: center;
		&__img {
			position: absolute;
			top: 0;
			left: 50%;
			-webkit-transform: translate(-50%, 0);
				-ms-transform: translate(-50%, 0);
					transform: translate(-50%, 0);
		}
		&__descr {
			margin: 30px 5px 0;
			.descr-title {
				font-size: 12px;
				font-family: 'Montserrat Bold';
			}
			.descr-text {
				font-size: 12px;
			}
		}
	}
	.category-inform-item__img {
		margin: 0 auto 4% auto;
	}
}
/* --------------- end slider block ----------------- */

/* --------------- category-widgets block ----------------- */
.category-widgets {
	width: 18%;
	margin-left: auto;
	max-width: 240px;
	height: 364px;
	float: right;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
		-ms-flex-direction: column;
			flex-direction: column;
	-webkit-box-pack: justify;
		-ms-flex-pack: justify;
			justify-content: space-between;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	-ms-flex-item-align: center;
		align-self: center;
	.fa {
		cursor: pointer;
		font-size: 25px;
		color: #EF4123;
		position: absolute;
		left: 50%;
		width: 30px;
		height: 30px;
		text-align: center;
		border-radius: 50%;

		background-color: rgba(241, 241, 101, .7);
		color: #EF4123;
	}
	.fa.disabled {
		opacity: .5;
	}
	.fa:hover {
		width: 37px;
		height: 37px;
	}
	.fa-angle-down:hover {
		bottom: 3px;
		line-height: 1.55;
	}
	.fa-angle-down {
		line-height: 1.25;
		bottom: 0;
		-webkit-transform: translate(-50%, 100%);
			-ms-transform: translate(-50%, 100%);
				transform: translate(-50%, 100%);
	}
	.fa-angle-up:hover {
		top: 3px;
		line-height: 1.25;
	}
	.fa-angle-up {
		line-height: -.25;
		top: 0;
		-webkit-transform: translate(-50%, -100%);
			-ms-transform: translate(-50%, -100%);
				transform: translate(-50%, -100%);
	}
	.gallery {
		height: 364px;
		overflow: hidden;
	}
	.widget-carousel {
		margin: 0px;
		padding: 0px;
		list-style: none;
		-webkit-transition: margin-top 120ms;
		-o-transition: margin-top 120ms;
		transition: margin-top 120ms;
	}
	.category-widgets-item {
		position: relative;
		overflow: hidden;
		width: 90%;
		height: 180px;
		position: relative;
		margin: 0 auto;
		.widget-title {
			width: 80%;
			margin: 5px auto 0;
			line-height: 1.3;
			font-size: 14px;
			font-family: 'Montserrat Bold';
			text-align: center;
		}
		.widget-img {
			width: 75%;
			height: auto;
			max-height: 130px;
			position: absolute;
			display: block;
			bottom: 0;
			left: 50%;
			-webkit-transform: translate(-50%, 0);
				-ms-transform: translate(-50%, 0);
					transform: translate(-50%, 0);
		}
	}
	.widget-inner-border {
		position: relative;
		width: 98%;
		height: 170px;
		margin: 4px auto;
		border: 1px solid #E0E0E0;
		overflow: hidden;
	}
	.widget-item-link {
		text-decoration: none;
		color: #000000;
	}
}

@media only screen and (max-width: 1024px) {
	.category-widgets {
		.fa:hover {
			width: 30px;
			height: 30px;
		}
		.fa-angle-down:hover {
			line-height: 1.25;
			bottom: 0;
		}
		.fa-angle-up:hover {
			line-height: 1;
			top: 0;
		}
	}
}
@media only screen and (max-width: 991px) {
	.category-widgets {
		.category-widgets-item .widget-title {
			font-size: 13px;
			width: 100%;
			margin-top: 3%;
			line-height: 1;
		}
		.widget-inner-border {
			-webkit-transform: translate(0, 10%);
				-ms-transform: translate(0, 10%);
					transform: translate(0, 10%);
			height: 150px;
		}
		.category-widgets-item .widget-img {
			width: 83%;
			bottom: 2%;
			max-height: 110px;
		}
	}
}
@media only screen and (max-width: 768px) {
	.home-page {
		.navigation {
			position: static;
			-webkit-box-ordinal-group: 3;
				-ms-flex-order: 2;
					order: 2;
		}
	}
	.category-menu-wrapper {
		position: absolute;
		top: 0;
		left: 100%;
	}
	.category-container {
		padding: 0;
		.categories, 
		.category-widgets, 
		.category-slider__inform {
			display: none;
		}
		.category-slider {
			width: 100%;
			&__carousel {
				top: 0;
				min-width: 100%;
			}
		}
		.carousel-description {
			top: 10%;
			right: 1%;
		}
	}
	.category-slider .owl-dots {
		top: auto;
		bottom: 8px;
	}
}
/* --------------- end category-widgets block ----------------- */