/*---------pagination block--------*/
.pagination {
	width: 80%;
	/*-webkit-transform: translateX(20%);
		-ms-transform: translateX(20%);
			transform: translateX(20%);*/
	margin: 30px 0 30px auto;
	li {
		list-style: none;
		cursor: pointer;
		margin: 0 3px;
	}
	a {
		color: #000000;
		text-decoration: none;
	}
	.pagination-list {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
			-ms-flex-pack: center;
				justify-content: center;
		& > .pagination-list__item {
			position: relative;
			width: 150px;
			min-width: 150px;
			height: 35px;
			background-color: #FFFFFF;
			border: 1px solid #E5E5E5;
			border-radius: 3px;
			.pagination-link {
				.pagination-text {
					position: absolute;
					top: 50%;
					left: 50%;
					-webkit-transform: translate(-50%, -50%);
						-ms-transform: translate(-50%, -50%);
							transform: translate(-50%, -50%);
					font: 14px/17px Montserrat Regular;
					color: #000000;
				}
			}
			.fa {
				position: absolute;
				top: 50%;
				color: #E54415;
				font-size: 14px;
				font-weight: bold;
			}
			.fa-angle-left {
				left: 10px;
				-webkit-transform: translate(0, -50%);
					-ms-transform: translate(0, -50%);
						transform: translate(0, -50%);
			}
			.fa-angle-right {
				right: 10px;
				-webkit-transform: translate(0, -50%);
					-ms-transform: translate(0, -50%);
						transform: translate(0, -50%);
			}
		}
	}
	.pagination-number-list {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		&__item {
			width: 35px;
			height: 35px;
			position: relative;
			background-color: #FFFFFF;
			border: 1px solid #E5E5E5;
			border-radius: 3px;
			.pagination-link {
				.pagination-text {
					position: absolute;
					top: 50%;
					left: 50%;
					-webkit-transform: translate(-50%, -50%);
						-ms-transform: translate(-50%, -50%);
							transform: translate(-50%, -50%);
					font: 14px/17px Montserrat Regular;
					color: #000000;
				}
			}
		}
		&__item.active {
			background-color: #E54415;
			.pagination-link {
				.pagination-text {
					color: #FFFFFF;
				}
			}
		}
	}
}
@media only screen and (max-width: 991px) {
	.pagination {
		width: 100%;
		margin: 30px auto;
		-webkit-transform: translateX(0);
			-ms-transform: translateX(0);
				transform: translateX(0);
	}
}
@media only screen and (max-width: 768px) {
	.pagination {
		.pagination-list {
			& > .pagination-list__item {
				display: none;
			}
		}
	}
}
@media only screen and (max-width: 480px) {
	.pagination {
		.pagination-number-list__item {
			width: 27px;
		}
	}
}
/*---------end pagination block--------*/