.promotions-page {
	.listing-container {
		display: block;
	}
	.promotions-items-wrapper {
		overflow: hidden;
		font-size: 0;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.category-name {
		margin-top: 5px;
		background-color: #FFFFFF;
		width: calc(100% - 10px);
		margin-left: auto;
		font: 18px/20px Montserrat Regular;
		padding: 7px 0 7px 7px ;
		-webkit-box-sizing: border-box;
				box-sizing: border-box;
	}
	.more-products {
		margin: 0 0 5px 10px;
		.more {
			border-radius: 0;
			background-color: #E54415;
			-webkit-box-shadow: none;
					box-shadow: none;
			padding: 13px 25px;
			color: #FFFFFF;
			font: 15px/18px Montserrat Medium;
		}
	}
}