.promotions-page {
	.listing-container {
		display: block;
	}
	.promotions-items-wrapper {
		overflow: hidden;
		font-size: 0;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.category-name {
		margin-top: 5px;
		width: calc(100% - 10px);
		margin-left: auto;
		font: 18px/20px Montserrat Bold;
		padding: 7px 0 7px 7px ;
		-webkit-box-sizing: border-box;
				box-sizing: border-box;
	}
	.more-products {
		margin: 10px 10px 5px 20px;
		.more {
			border-radius: 0;
			background-color: #E54415;
			-webkit-box-shadow: none;
					box-shadow: none;
			padding: 13px 25px;
			color: #FFFFFF;
			font: 15px/18px Montserrat Medium;
			text-decoration: none;
		}
	}
}
@media only screen and (min-width: 1367px) {
	.promotions-page {
		.listing-item {
			width: 20%;
		}
	}
}
@media only screen and (max-width: 1366px) {
	.promotions-page {
		.listing-item {
			width: 25%;
		}
	}
}
@media only screen and (max-width: 1200px) {
	.promotions-page {
		.listing-item {
			width: 33.333%;
		}
	}
}
@media only screen and (max-width: 768px) {
	.promotions-page {
		.listing-item {
			width: 50%;
		}
	}
}
@media only screen and (max-width: 480px) {
	.promotions-page {
		.listing-item {
			width: 100%;
		}
	}
}