/*-----------listing sidebar block-----------*/
.sidebar {
	font-size: 12px;
	width: 20%;
	min-width: 250px;
	background-color: #FFFFFF;
	border-top: 5px solid #F0F0F0;
	border-bottom: 5px solid #F0F0F0;
	padding: 10px 0;
	&__head {
		display: none;
	}
	.bottom-block {
		display: none;
	}
/*------------slider-range block ---------*/
	&__slider {
		padding: 0 7px;
	}
	.slider-price {
		margin-bottom: 15px;
		font-family: 'Montserrat Medium';
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
			-ms-flex-align: center;
				align-items: center;
	}
	.slider-info {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
			-ms-flex-align: center;
				align-items: center;
		margin-bottom: 10px;
		.hyphen, .currency {
			margin: 0 5px;
		}
		.submit {
			font-family: 'Montserrat Extralight';
			cursor: pointer;
			border-radius: 0;
			background-color: #EF4123;
			border: 0;
			color: #FFFFFF;
			min-width: 31px;
			min-height: 23px;
		}
		.amount-1, .amount-2 {
			width: 63px;
			height: 23px;
			-webkit-box-sizing: border-box;
					box-sizing: border-box;
			text-align: center;
			display: block;
			border: 1px solid #BDBDBD;
		}
	}
	.slider-range {
		margin-top: 15px;
		border: 0;
		background-color: #E5E5E5;
		height: 3px;
		.ui-slider-range {
			background-color: #828282;
		}
		.ui-state-default {
			background-color: #EF4123;
			width: 12px;
			height: 12px;
			border: 0;
			border-radius: 50%;
			top: -4px;
		}
		.ui-state-default:focus {
			outline: none;
		}
	}
	.info-icon {
		margin-left: 6px;
		cursor: pointer;
		width: 15px;
		height: 15px;
	}
/*------------end slider-range block ---------*/
	&__dropdown {
		margin-top: 30px;
		padding: 0 10px;
	}
	.dropdown-head-container {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
			-ms-flex-align: center;
				align-items: center;
		.title {
			font: 12px/15px 'Montserrat Medium';
			cursor: pointer;
		}
	}
	.arrow-icon {
		-webkit-transform: translateY(35%);
			-ms-transform: translateY(35%);
				transform: translateY(35%);
		margin-left: auto;
		cursor: pointer;
		width: 11px;
		height: auto;
	}
	.rotate {
		-webkit-transform: rotate(180deg);
			-ms-transform: rotate(180deg);
				transform: rotate(180deg);
		position: relative;
		top: 5px;
	}
	.dropdown-main-container {
		margin-top: 10px;
		display: none;
	}
	.dropdown-main-container.visible {
		display: block;
	}
	.more-item {
		display: block;
		margin-top: 10px;
		.more__icon {
			cursor: pointer;
			margin-right: 8px;
			margin-left: 1px;
			width: 11px;
		}
		.more__icon.rotate {
			top: 0;
		}
		.more__text {
			cursor: pointer;
		}
		.more__text.opened {
			display: none;
		}
	}
	.dropdown-list {
		-webkit-transition: height .5s;
		-o-transition: height .5s;
		transition: height .5s;
		-webkit-box-sizing: content-box;
				box-sizing: content-box;
		padding: 0 2px 2px;
		overflow-y: hidden;
		&__item {
			list-style: none;
			margin-top: 8px;
			& > a {
				font: 12px/17px Montserrat Regular;
				color: #000000;
				text-decoration: none;
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-align: center;
					-ms-flex-align: center;
						align-items: center;
			}
			.brand {
				margin-left: 8px;
			}
			.amount {
				margin-left: 3px;
			}
			.checked {
				font-family: 'Montserrat Medium';
			}
		}
	}
	.dropdown-list.overflow {
		overflow-y: hidden;
		-webkit-transition: height .5s;
		-o-transition: height .5s;
		transition: height .5s;
	}
	.checked-block {
		margin-right: 8px;
		position: relative;
		height: 17px;
		width: 17px;
		label {
			width: 17px;
			height: 17px;
			cursor: pointer;
			position: absolute;
			top: 50%;
			left: 50%;
			-webkit-transform: translate(-50%, -50%);
				-ms-transform: translate(-50%, -50%);
					transform: translate(-50%, -50%);
			background: #FFFFFF;
			border: 1px solid #E5E5E5;
			-webkit-box-sizing: border-box;
					box-sizing: border-box;
			&:after {
				content: '';
				width: 8px;
				height: 3px;
				position: absolute;
				top: 4px;
				left: 3px;
				border: 2px solid #EF4123;
				border-top: none;
				border-right: none;
				background: transparent;
				opacity: 0;
				-webkit-transform: rotate(-45deg);
					-ms-transform: rotate(-45deg);
						transform: rotate(-45deg);
			}
		}
		input[type=checkbox] {
			visibility: hidden;
			width: 17px;
			height: 17px;
			display: block;
			&:checked + label:after {
				opacity: 1;
			}
		}
	}
}
@media only screen and (max-width: 768px) {
	.sidebar-wrapper {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow-y: scroll;
		overflow-x: hidden;
		z-index: 999;
		.sidebar {
			font: 14px/17px Montserrat Regular;
		}
		.bottom-block {
			display: block;
			position: fixed;
			bottom: 0;
			left: 0;
			width: 100%;
			background-color: #FFFFFF;
			border-top: 1px solid #E0E0E0;
			.button {
				background-color: #EF4123;
				width: 30%;
				min-width: 120px;
				max-width: 200px;
				height: 35px;
				position: relative;
				margin: 10px auto;
				.button-text {
					color: #FFFFFF;
					font: 14px/17px Montserrat Regular;
					position: absolute;
					top: 50%;
					left: 50%;
					-webkit-transform: translate(-50%, -60%);
						-ms-transform: translate(-50%, -60%);
							transform: translate(-50%, -60%);
				}
			}
		}
		.sidebar .slider-info .amount-1, 
		.sidebar .slider-info .amount-2 {
			width: 90px;
			height: 41px;
			font: 14px/17px Montserrat Regular;
		}
		.sidebar .slider-info {
			margin-bottom: 30px;
		}
		.sidebar .slider-info .submit {
			font: 14px/17px Montserrat Regular;
			height: 41px;
			width: 56px;
		}
		.sidebar .slider-range .ui-state-default {
			width: 27px;
			height: 27px;
			top: -12px;
		}
		.sidebar .more-item {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			margin-top: 15px;
			-webkit-box-align: center;
				-ms-flex-align: center;
					align-items: center;
			-webkit-box-pack: end;
				-ms-flex-pack: end;
					justify-content: flex-end;
		}
		.sidebar .more__icon {
			-webkit-box-ordinal-group: 3;
				-ms-flex-order: 2;
					order: 2;
			margin-right: 0;
			margin-left: 10px;
		}
		.sidebar .checked-block label, 
		.sidebar .checked-block input[type=checkbox] {
			width: 28px;
			height: 28px;
		}
		.sidebar .dropdown-list {
			padding: 0 2px 10px;
		}
		.sidebar .dropdown-list__item {
			-webkit-box-align: center;
				-ms-flex-align: center;
					align-items: center;
			margin-top: 14px;
			margin-left: 5px;
			& > a {
				font: 12px/28px Montserrat Regular;
			}
		}
		.sidebar .checked-block {
			width: 28px;
			height: 28px;
		}
		.sidebar .checked-block label:after {
			top: 8px;
			left: 8px;
			width: 12px;
			height: 5px;
		}
		.sidebar .arrow-icon, 
		.sidebar .more__icon {
			width: 15px;
		}
		.sidebar .dropdown-head-container .title {
			font: 14px/17px Montserrat Medium;
		}
	}
	.listing-content .sidebar {
		padding: 0;
		border-top: 0;
		display: none;
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		height: auto;
		margin-bottom: 70px;
		border-bottom: 0;
		&__head {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-pack: justify;
				-ms-flex-pack: justify;
					justify-content: space-between;
			background-color: #00102A;
			padding: 15px 4%;
			position: relative;
			-webkit-box-sizing: border-box;
					box-sizing: border-box;
			margin-bottom: 15px;
			.drop {
				cursor: pointer;
				font: 14px/16px Roboto Light;
				color: #2F80ED;
			}
			.filter {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-align: center;
					-ms-flex-align: center;
						align-items: center;
				-webkit-box-orient: vertical;
				-webkit-box-direction: normal;
					-ms-flex-direction: column;
						flex-direction: column;
				color: #FFFFFF;
				&__text {
					font: 16px/19px Roboto Light;
				}
				.amount {
					font: 14px/16px Roboto Light;
					.number:before {
						content: "(";
					}
					.text {
						text-transform: lowercase;
					}
					.text:after {
						content: ")";
					}
				}
			}
			.close-icon {
				cursor: pointer;
				position: relative;
				bottom: 10px;
			}
		}
		&__dropdown {
			border-bottom: 1px solid #E0E0E0;
		}
		&__dropdown, &__slider {
			padding: 0 4% 30px;
		}
		.info-icon {
			display: none;
		}
	}
}

/*-----------end listing sidebar block-----------*/