/*------------------special-offers section--------------*/
.special-offers {
	&__title {
		margin-bottom: 30px;
	}
	&__content {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
			-ms-flex-pack: justify;
				justify-content: space-between;
	}
	.offers-item {
		display: block;
		position: relative;
		margin: 0.3%;
	}
	.offers-item:last-child {
		margin-right: 0;
	}
	.offers-item.large {
		width: 45%;
		margin-left: 0;
		color: #FFFFFF;
		font-size: 24px;
		.offers-item__image {
			width: 100%;
			max-width: 100%;
			height: 100%;
		}
		.offers-item__descr {
			position: absolute;
			top: 15%;
			left: 5%;
		}
		.brand {
			font-family: 'Montserrat Bold';
			letter-spacing: 0.18em;
		}
		.price {
			letter-spacing: 0.04em;
		}
	}
	.offers-item.small {
		width: 26%;
		height: 313px;
		font-size: 12px;
		font-family: 'Montserrat Medium';
		padding: 5px;
		background-color: #FFFFFF;
		.offers-item__image {
			margin: 30px auto 0;
			display: block;
			max-width: 100%;
			max-height: 190px; 
		}
		.offers-item__descr {
			position: absolute;
			width: 100%;
			bottom: 55px;
			left: 50%;
			-webkit-transform: translate(-50%);
				-ms-transform: translate(-50%);
					transform: translate(-50%);
			text-align: center;
			& > a {
				color: #000000;
				text-decoration: none;
				p {
					font: 12px/15px Montserrat Medium;
				}
			}
		}
	}
	.price {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
			-ms-flex-pack: center;
				justify-content: center;
		-webkit-box-align: center;
			-ms-flex-align: center;
				align-items: center;
		&__not-relevant {
			text-decoration: line-through;
			font-size: 13px;
			.currency {
				margin-left: 3px;
			}
		}
		&__relevant {
			font-size: 16px;
			margin-left: 5px;
			.currency {
				margin-left: 3px;
			}
		}
	}
}
@media only screen and (max-width: 1550px) {
	.special-offers {
		.offers-item.small {
			height: 269px;
			.offers-item__image {
				margin: 20px auto 0;
				display: block;
				max-width: 100%;
				max-height: 200px; 
			}
			.offers-item__descr {
				bottom: 35px;
			}
		}
	}
}
@media only screen and (max-width: 1360px) {
	.special-offers {
		.offers-item.small {
			height: 235px;
			.offers-item__descr {
				bottom: 15px;
			}
		}
	}
}
@media only screen and (max-width: 1200px) {
	.special-offers {
		.offers-item.small {
			height: 195px;
			.offers-item__image {
				max-height: 120px; 
			}
			.offers-item__descr {
				bottom: 10px;
			}
		}
	}
}
@media only screen and (max-width: 991px) {
	.special-offers {
		.offers-item.small {
			height: 170px;
			.offers-item__image {
				margin: 15px auto 0; 
			}
		}
	}
}
@media only screen and (max-width: 860px) {
	.special-offers {
		.offers-item.small {
			height: 150px;
			.offers-item__image {
				margin: 0 auto;
				max-height: 108px;
			}
		}
	}
}
/*------------------end special-offers section--------------*/