/*------stores-popup-------*/
.popup-delivery-slider {
	position: relative;
	//width: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
    margin: 50px 0;
	.popup-delivery-to-adress {
		display: none;
	}
}
.popup-delivery-slider.slide {
	.adress-block {
		left: 100%;
	}
	.popup-delivery-to-adress {
		left: 0;
		display: block;
	}
}
.stores-popup {
	margin-bottom: 50px;
	position: relative;
	top: 0;
	left: 50%;
	transform: translate(-50%, 50px);
	background-color: #FFFFFF;
	padding: 50px 5.5%;
	box-sizing: border-box;
	z-index: 1001;
	.close-icon {
        z-index: 9;
		display: block;
		cursor: pointer;
		position: absolute;
		top: 10px;
		right: 10px;
		width: 22px;
		height: 22px;
	}
	.chiose-panel {
        z-index: 9;
		margin-bottom: 20px;
		display: flex;
		border-bottom: 1px solid #F2F2F2;
		p {
			font: 12px/20px Montserrat Semibold;
			border-bottom: 1px dotted #EF4123;
		}
		p:nth-child(n+2) {
			margin-left: 20px;
		}
		p.active {
			color: #EF4123;
			border-bottom: 1px solid transparent;
		}
	}
	.adress-block, .popup-delivery-to-adress {
		position: absolute;
		top: 0;
		width: 100%;
		background-color: #FFFFFF;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 65px 30px;
	}
	.adress-block {
		left: 0;
		transition: left .3s;
		border: 8px solid #F2F2F2;
		padding: 1%;
		box-sizing: border-box;
		z-index: 2;
	}
	.adress-table {
		width: 100%;
		tr:nth-child(1) {
			background-color: #F2F2F2;
		}
		th, .adres-text, .adress-button, .cell-able {
			text-align: left;
			font: 14px/20px Montserrat Semibold;
		}
        .cell-map{
            display: none;
        }
		td.cell-able.able {
			color: #1CA355;
		}
		th, td {
			padding-left: 10px;
			height: 60px;
		}
		.about-store {
			text-decoration: none;
			color: #000000;
			display: flex;
			align-items: flex-end;
			img {
				display: block;
				height: 15px;
				margin-right: 2%;
			}
			.about-text {
                font: 14px/17px Montserrat Regular;
                border-bottom: 1px solid #2F80ED;
                margin-top: 5px;
                color: #2F80ED;
			}
		}
		.cell-take, .cell-workingtime {
			font: 12px/14px Montserrat Regular;
		}
		.cell-button {
			padding-right: 10px;
		}
		.adress-button {
			display: flex;
			justify-content: center;
			align-items: center;
			color: #EF4123;
			background-color: #FFFFFF;
			box-shadow: none;
			border: 2px solid #EF4123;
			border-radius: 4px;
			float: right;
			box-sizing: border-box;
			min-width: 170px;
			height: 40px;
			text-decoration: none;
			.when {
				margin-left: 5px;
			}
		}
		.adress-button.today {
			color: #FFFFFF;
			background-color: #EF4123;
			border: 0;
			.when {
				text-transform: lowercase;
			}
		}
	}
	/*--------popup-delivery-to-adress------*/
	.popup-delivery-to-adress {
		left: -100%;
		transition: left .3s;
        display: none;
		.contents {
			font: 14px/17px Montserrat Regular;
			width: 100%;
			padding: 22px 0 0;
            margin-top: 30px;
			& * {
				box-sizing: border-box;
			}
			& > li {
				width: 100%;
				list-style-type: none;
				position: relative;
				h4 {
					margin: 20px 0 14px;
					font: 16px/16px Montserrat Bold;
					padding-left: 10px;
					a {
						border-bottom: 1px dotted #ef4023;
						color: #000000;
						display: inline-block;
						text-decoration: none;
					}
				}
			}
			.delivery-cols {
				width: 100%;
				display: flex;
				justify-content: space-between;
				.col {
					width: 60%;
					p {
						padding-left: 10px;
					}
                    h3{
                        font: 14px/17px 'Montserrat Bold';
                    }
                    .special-delivery-city{
                        font: 14px/20px Montserrat Regular;
                        padding-left: 10px;
                        span{
                            font: 14px/17px 'Montserrat Bold';
                        }
                    }
				}
				h3 {
					margin-top: 37px;
					font: 18px/21px Montserrat Regular;
                    padding-left: 10px;
				}
				.col+.col {
					width: 30%;
					img {
						max-width: 100%;
						margin: 0 0 25px 10px;
						display: block;
					}
				}
				.grey-block {
					width: 100%;
					background: #f5f5f5;
					padding: 16px 20px 25px;
					p {
						margin-bottom: 7px;
					}
					strong {
						font-family: 'Montserrat Bold';
					}
				}
				.table-wrapper {
					padding: 10px;
					box-sizing: border-box;
					margin: 15px 0 0;
					width: 100%;
					background-color: #f5f5f5;
					position: relative;
					&-inner {
						width: 100%;
						background: #fff;
						padding: 10px;
						border-top: 1px solid #BDBDBD;
						border-bottom: none;
					}
					.striped {
						width: 100%;
						margin-top: 0;
						border-collapse: collapse;
						border-spacing: 0;
						tr:nth-child(even) {
							background-color: #f5f5f5;
						}
						tr {
							position: relative;
							z-index: 0;
							border: 1px solid transparent;
							border-bottom: none;
							td {
								width: 50%;
								padding: 7px 10px;
							}
						}
						th {
							width: 50%;
							padding: 7px 10px;
							font: 14px/17px Montserrat Bold;
						}
					}
				}
			}
			.delivery-cols:nth-child(2) {
				.col:nth-child(2) {
					margin-top: 76px;
				}
			}
			.branch-map {
				display: flex;
				width: 100%;
				position: relative;
				background-color: #FFFFFF;
				border: 10px solid #f5f5f5;
				margin-bottom: 16px;
				img {
					max-width: 100%;
					margin-bottom: 20px;
				}
				ul {
					padding: 0;
					height: 505px;
					overflow: auto;
					li:nth-child(odd) {
						background-color: #f5f5f5;
					}
					li {
						list-style: none;
						padding: 9px 6px;
						line-height: 30px;
						p > a {
							color: #ef4023;
							text-decoration: underline;
						}
						a {
							display: block;
							position: relative;
						}
						strong {
							display: block;
							position: relative;
							font-family: 'Montserrat Bold';
						}
					}
				}
				.col {
					width: 35%;
					padding: 25px 10px 10px;
					background-color: #FFFFFF;
					p {
						padding: 0;
					}
				}
				.col+.col {
					overflow: hidden;
					padding: 0 0 0 10px;
					width: 65%;
					background-color: #FFFFFF;
					iframe {
						width: 100%;
						height: 100%;
					}
				}
			}
			.delivery-cols:last-child {
				width: 100%;
				.col {
					width: 60%;
					p {
						font: 14px/20px Montserrat Regular;
						padding: 0 0 0 10px;
						margin-bottom: 7px;
						span {
							color: #ef4023;
						}
					}
					p+p {
						margin-top: 34px;
					}
					b {
						font: 16px/16px Montserrat Medium;
					}
					.hint {
						width: 100%;
						margin: 20px 0 23px;
						background-color: #fff7cd;
						padding: 16px 20px;
						position: relative;
						font: 14px/20px Montserrat Regular;
						p {
							padding: 0 0 0 5px;
							display: table-cell;
						}
					}
					.hint:before {
						content: '';
						top: 5px;
						left: 5px;
						right: 5px;
						bottom: 5px;
						border: 1px solid #fff;
						pointer-events: none;
						position: absolute;
					}
				}
				.col+.col {
					width: 25%;
				}
				.table-wrapper {
					padding: 10px;
					width: 100%;
					padding: 0;
					background-color: #f5f5f5;
					position: relative;
					& > p {
					font: 14px/20px Montserrat Bold;
					margin: 0 0 14px;
					padding: 10px 0 0 10px;
					clear: both;
					}
					&-inner {
						float: left;
						width: 96%;
						margin: 0 auto 10px;
						background: #fff;
						padding: 10px;
						border-top: 1px solid #ddd;
						border-bottom: 0;
					}
				}
				.table-wrapper1 {
					display: flex;
					flex-direction: column;
					margin-top: 18px;
					width: 100%;
					padding: 0;
					background: #f5f5f5;
					position: relative;
				}
			}
		}
	}
	.share {
		width: 100%;
		margin-top: 20px;
		background-color: #FFFFFF;
		font: 14px/18px Montserrat Regular;
		padding: 12px 20px 15px;
		ul {
			margin-top: 7px;
			display: flex;
			li {
				list-style: none;
				margin-right: 8px;
			}
		}
		a {
			text-decoration: none;
			display: block;
			width: 42px;
			height: 42px;
			border-radius: 50%;
			background-color: #f5f5f5;
			border: 2px solid #f5f5f5;
			position: relative;
		}
	}
	/*--------end popup-delivery-to-adress------*/
}
/*------end stores-popup-------*/
@media only screen and (max-width: 768px) {

        .popup-wrapper.store.show {
            position: fixed;
            transform: none;
            width: 100%;
            height: auto;
            left: 0;
            bottom: 0;
            top: 0;
            .stores-popup {
                margin-bottom: 0;
                transform: none;
                left: 0;
                .adress-table {
                    border: 0;
                    .table-row:first-child {
                        display: none;
                    }
                    .table-row {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        .cell-workingtime {
                            height: 10px;
                            margin: 15px 0;
                        }
                        .adres-text {
                            margin: 10px 0;
                        }
                        .cell-able {
                            //margin-top: 20px;
                            height: 30px;
                        }
                        .cell-map {
                            display: none;
                            height: 150px;
                            margin-bottom: 20px;
                        }
                    }
                }
                .popup-delivery-to-adress {
                    .contents {
                        padding: 0 0 22px 0;
                        .delivery-cols {
                            flex-direction: column;
                            .col {
                                width: 100%;
                                p {
                                    padding-left: 0;
                                    margin-bottom: 20px;
                                }
                                .table-wrapper {
                                    padding: 0;
                                    .table-wrapper-inner {
                                        padding: 0;
                                        tr {
                                            border-bottom: 0.5px solid #BDBDBD;
                                            background-color: #fff;

                                            th, td {
                                                padding: 7px 0;
                                            }
                                        }
                                    }
                                }
                                .grey-block {
                                    padding: 0;
                                    background-color: #fff;
                                }
                            }
                        }
                        .branch-map {
                            border: 0;
                            flex-direction: column;
                            .col {
                                width: 100%;
                                border: 0;
                                li{

                                }
                            }
                        }
                    }
                }
            }
        }
}
.store-mobile-bottom-price-js {
    height: 50px;
    background-color: #fff;
    border-top: 1px solid #E0E0E0;
    display: none;
    align-items: center;
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0 !important;
    z-index: 999999999999;
    .cell-able {
        font: 14px/17px "Montserrat Regular";
        color: #1CA355;
        margin: 0 25px;
    }
    .price__relevant {
        font-size: 24px;
        font-family: 'Montserrat Extrabold';
        line-height: 1;
    }
}
    @media only screen and (min-width: 768px) {
        .popup-wrapper.store.show {
            .stores-popup {
                .adress-table {
                    .table-row-height::after {
                        content: '';
                        display: block;
                        height: 230px;
                    }
                    .table-row:first-child {
                        display: inline-table;
                        vertical-align: middle;
                        margin-bottom: 15px;
                        th{
                            height: 44px;
                        }
                        .cell-adress{
                            width: 34%;
                        }
                        .cell-workingtime{
                            width: 21%;
                            font: 14px/20px Montserrat Semibold;
                        }
                    }
                    .table-row {
                        position: relative;
                        display: inline-table;
                        vertical-align: top;
                        width: 100%;
                        .cell-map {
                            position: absolute;
                            bottom: 0;
                            width: 100%;
                            left: 0;
                            padding-bottom: 110px;
                            iframe {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }

@media only screen and (max-width: 768px) {

        .popup-wrapper.store.show {
            position: fixed;
            transform: none;
            width: 100%;
            height: auto;
            left: 0;
            bottom: 0;
            top: 0;
            .stores-popup {
                margin-bottom: 0;
                transform: none;
                left: 0;
                .adress-table {
                    border: 0;
                    .table-row:first-child {
                        display: none;
                    }
                    .table-row {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        .cell-workingtime {
                            height: 10px;
                            margin: 15px 0;
                        }
                        .adres-text {
                            margin: 10px 0;
                        }
                        .cell-able {
                            //margin-top: 20px;
                            height: 30px;
                        }
                        .cell-map {
                            display: none;
                            height: 150px;
                            margin-bottom: 20px;
                        }
                    }
                }
                .popup-delivery-to-adress {
                    .contents {
                        padding: 0 0 22px 0;
                        .delivery-cols {
                            flex-direction: column;
                            .col {
                                width: 100%;
                                p {
                                    padding-left: 0;
                                    margin-bottom: 20px;
                                }
                                .table-wrapper {
                                    padding: 0;
                                    .table-wrapper-inner {
                                        padding: 0;
                                        tr {
                                            border-bottom: 0.5px solid #BDBDBD;
                                            background-color: #fff;

                                            th, td {
                                                padding: 7px 0;
                                            }
                                        }
                                    }
                                }
                                .grey-block {
                                    padding: 0;
                                    background-color: #fff;
                                }
                            }
                        }
                        .branch-map {
                            border: 0;
                            flex-direction: column;
                            .col {
                                width: 100%;
                                border: 0;
                                li{

                                }
                            }
                        }
                    }
                }
            }
        }
}
.store-mobile-bottom-price-js {
    height: 50px;
    background-color: #fff;
    border-top: 1px solid #E0E0E0;
    display: none;
    align-items: center;
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0 !important;
    z-index: 999999999999;
    .cell-able {
        font: 14px/17px "Montserrat Regular";
        color: #1CA355;
        margin: 0 25px;
    }
    .price__relevant {
        font-size: 24px;
        font-family: 'Montserrat Extrabold';
        line-height: 1;
    }
}
    @media only screen and (min-width: 768px) {
        .popup-wrapper.store.show {
            .stores-popup {
                .adress-table {
                    .table-row-height::after {
                        content: '';
                        display: block;
                        height: 230px;
                    }
                    .table-row:first-child {
                        display: inline-table;
                        vertical-align: middle;
                        margin-bottom: 15px;
                        th{
                            height: 44px;
                        }
                        .cell-adress{
                            width: 34%;
                        }
                        .cell-workingtime{
                            width: 21%;
                            font: 14px/20px Montserrat Semibold;
                        }
                    }
                    .table-row {
                        position: relative;
                        display: inline-table;
                        vertical-align: top;
                        width: 100%;
                        .cell-map {
                            position: absolute;
                            bottom: 0;
                            width: 100%;
                            left: 0;
                            padding-bottom: 110px;
                            iframe {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }

