/*-------------suggestion block-------------*/
.suggestions {
	margin: 35px 30px 0 290px;
	&__variant {
		margin: 10px 15px 0 0;
		position: relative;
		display: inline-block;
		color: #828282;
		text-decoration: none;
		font-family: 'Roboto Regular';
	}
	&__variant:after {
		content: "";
		display: block;
		background-color: #828282;
		border-radius: 50%;
		width: 3px;
		height: 3px;
		position: absolute;
		left: calc(100% + 8px);
		top: 8px;
	}
}

@media only screen and (max-width: 1366px) {
	.suggestions {
		margin: 35px 30px 0 290px;
	}
}
@media only screen and (max-width: 991px) {
	.suggestions {
		margin: 35px 20px 0 280px;
	}
}
@media only screen and (max-width: 768px) {
	.suggestions {
		display: none;
	}
}
/*-------------end suggestion block-------------*/