<!-- category-container block -->
<div class="category-container">
	<div class="categories">
		<ul class="catalog-submenu">
            <li class="submenu-item">
                <a href="#" class="submenu-item__link">
                <div class="icon-wrapper">
                    <img src="%=static=%img/general/navigation/Vector.svg" alt="icon" class="link-icon">
                </div>
                    <span class="link-text">Акции</span>
                    <img src="%=static=%img/general/navigation/Vector(13).svg" alt="arrow" class="link-arrow">
                </a>
                {{> category-menu/category-menu-list}}
            </li>
            <li class="submenu-item">
                <a href="#" class="submenu-item__link">
                <div class="icon-wrapper">
                    <img src="%=static=%img/general/navigation/Vector(1).svg" alt="icon" class="link-icon">
                </div>
                    <span class="link-text">Техника для кухни</span>
                    <img src="%=static=%img/general/navigation/Vector(13).svg" alt="arrow" class="link-arrow">
                </a>
                {{> category-menu/test-category}}
            </li>
            <li class="submenu-item">
                <a href="#" class="submenu-item__link">
                <div class="icon-wrapper">
                    <img src="%=static=%img/general/navigation/Vector(2).svg" alt="icon" class="link-icon">
                </div>
                    <span class="link-text">Техника для дома</span>
                    <img src="%=static=%img/general/navigation/Vector(13).svg" alt="arrow" class="link-arrow">
                </a>
                {{> category-menu/test-category}}
            </li>
            <li class="submenu-item">
                <a href="#" class="submenu-item__link">
                <div class="icon-wrapper">
                    <img src="%=static=%img/general/navigation/Vector(3).svg" alt="icon" class="link-icon">
                </div>
                    <span class="link-text">Смартфоны и телефоны</span>
                    <img src="%=static=%img/general/navigation/Vector(13).svg" alt="arrow" class="link-arrow">
                </a>
                {{> category-menu/test-category}}
            </li>
            <li class="submenu-item">
                <a href="#" class="submenu-item__link">
                <div class="icon-wrapper">
                    <img src="%=static=%img/general/navigation/Vector(4).svg" alt="icon" class="link-icon">
                </div>
                    <span class="link-text">Ноутбуки, планшеты, ПК</span>
                    <img src="%=static=%img/general/navigation/Vector(13).svg" alt="arrow" class="link-arrow">
                </a>
                {{> category-menu/test-category}}
            </li>
            <li class="submenu-item">
                <a href="#" class="submenu-item__link">
                <div class="icon-wrapper">
                    <img src="%=static=%img/general/navigation/Vector(5).svg" alt="icon" class="link-icon">
                </div>
                    <span class="link-text">Телевизоры, аудиотехника</span>
                    <img src="%=static=%img/general/navigation/Vector(13).svg" alt="arrow" class="link-arrow">
                </a>
                {{> category-menu/test-category}}
            </li>
            <li class="submenu-item">
                <a href="#" class="submenu-item__link">
                <div class="icon-wrapper">
                    <img src="%=static=%img/general/navigation/Vector(6).svg" alt="icon" class="link-icon">
                </div>
                    <span class="link-text">Фото,видео, авто</span>
                    <img src="%=static=%img/general/navigation/Vector(13).svg" alt="arrow" class="link-arrow">
                </a>
                {{> category-menu/test-category}}
            </li>
            <li class="submenu-item">
                <a href="#" class="submenu-item__link">
                <div class="icon-wrapper">
                    <img src="%=static=%img/general/navigation/Vector(7).svg" alt="icon" class="link-icon">
                </div>
                    <span class="link-text">Дом и сад</span>
                    <img src="%=static=%img/general/navigation/Vector(13).svg" alt="arrow" class="link-arrow">
                </a>
                {{> category-menu/test-category}}
            </li>
            <li class="submenu-item">
                <a href="#" class="submenu-item__link">
                <div class="icon-wrapper">
                    <img src="%=static=%img/general/navigation/Vector(8).svg" alt="icon" class="link-icon">
                </div>
                    <span class="link-text">Посуда</span>
                    <img src="%=static=%img/general/navigation/Vector(13).svg" alt="arrow" class="link-arrow">
                </a>
                {{> category-menu/test-category}}
            </li>
            <li class="submenu-item">
                <a href="#" class="submenu-item__link">
                <div class="icon-wrapper">
                    <img src="%=static=%img/general/navigation/Vector(9).svg" alt="icon" class="link-icon">
                </div>
                    <span class="link-text">Инструмент</span>
                    <img src="%=static=%img/general/navigation/Vector(13).svg" alt="arrow" class="link-arrow">
                </a>
                {{> category-menu/test-category}}
            </li>
            <li class="submenu-item">
                <a href="#" class="submenu-item__link">
                <div class="icon-wrapper">
                    <img src="%=static=%img/general/navigation/Vector(10).svg" alt="icon" class="link-icon">
                </div>
                    <span class="link-text">Отдых и туризм</span>
                    <img src="%=static=%img/general/navigation/Vector(13).svg" alt="arrow" class="link-arrow">
                </a>
                {{> category-menu/test-category}}
            </li>
            <li class="submenu-item">
                <a href="#" class="submenu-item__link">
                <div class="icon-wrapper">
                    <img src="%=static=%img/general/navigation/Vector(11).svg" alt="icon" class="link-icon">
                </div>
                    <span class="link-text">Смарт-гаджеты</span>
                    <img src="%=static=%img/general/navigation/Vector(13).svg" alt="arrow" class="link-arrow">
                </a>
                {{> category-menu/test-category}}
            </li>
            <li class="submenu-item">
                <a href="#" class="submenu-item__link">
                <div class="icon-wrapper">
                    <img src="%=static=%img/general/navigation/Vector(12).svg" alt="icon" class="link-icon">
                </div>
                    <span class="link-text">Товары для детей</span>
                    <img src="%=static=%img/general/navigation/Vector(13).svg" alt="arrow" class="link-arrow">
                </a>
                {{> category-menu/test-category}}
            </li>
            <li class="submenu-item">
                <a href="#" class="submenu-item__link">
                <div class="icon-wrapper">
                    <img src="%=static=%img/general/navigation/XMLID 222.svg" alt="icon" class="link-icon">
                </div>
                    <span class="link-text">Красота и здоровье</span>
                    <img src="%=static=%img/general/navigation/Vector(13).svg" alt="arrow" class="link-arrow">
                </a>
                {{> category-menu/test-category}}
            </li>
        </ul>
	</div>
	<div class="category-slider">
		<div class="category-slider__carousel owl-carousel owl-theme">
			<div class="slider-item owl-lazy" data-src="%=static=%img/general/transparent.png">
				<img src="%=static=%img/general/category/tv.png" alt="slider-image" class="carousel-image">
				<a href="#" class="carousel-description">
					<p class="carousel-description__type">LED-телевизор</p>
					<p class="carousel-description__brand">Orion</p>
					<p class="carousel-description__price">
						<span class="slider-prise-numb">10 138</span>
						<span class="slider-prise-currency">грн</span>
					</p>
				</a>
			</div>
			<div class="slider-item owl-lazy" data-src="%=static=%img/general/transparent.png">
				<img src="%=static=%img/general/category/tv.png" alt="slider-image" class="carousel-image">
				<a href="#" class="carousel-description">
					<p class="carousel-description__type">LED-телевизор</p>
					<p class="carousel-description__brand">Orion</p>
					<p class="carousel-description__price">
						<span class="slider-prise-numb">10 138</span>
						<span class="slider-prise-currency">грн</span>
					</p>
				</a>
			</div>
			<div class="slider-item owl-lazy" data-src="%=static=%img/general/transparent.png">
				<img src="%=static=%img/general/category/tv.png" alt="slider-image" class="carousel-image">
				<a href="#" class="carousel-description">
					<p class="carousel-description__type">LED-телевизор</p>
					<p class="carousel-description__brand">Orion</p>
					<p class="carousel-description__price">
						<span class="slider-prise-numb">10 138</span>
						<span class="slider-prise-currency">грн</span>
					</p>
				</a>
			</div>
		</div>
		<div class="category-slider__inform">
			<div class="category-inform-item">
				<img src="%=static=%img/general/icons/Group 4.1.svg" alt="" class="category-inform-item__img">
				<div class="category-inform-item__descr">
					<p class="descr-title">159 магазинов</p>
					<p class="descr-text">Забирайте там, где Вам удобно</p>
				</div>
			</div>
			<div class="category-inform-item">
				<img src="%=static=%img/general/icons/Group 22.svg" alt="" class="category-inform-item__img">
				<div class="category-inform-item__descr">
					<p class="descr-title">Кредитования</p>
					<p class="descr-text">Особености кредитных программ</p>
				</div>
			</div>
			<div class="category-inform-item">
				<img src="%=static=%img/general/icons/Group-9.svg" alt="" class="category-inform-item__img">
				<div class="category-inform-item__descr">
					<p class="descr-title">Бонусы</p>
					<p class="descr-text">Экономте с бонусной программой</p>
				</div>
			</div>
		</div>
	</div>
	<div class="category-widgets">
		<i class="fa fa-angle-up prev"></i>
		<div class="gallery">
			<ul class="widget-carousel">
				<li class="category-widgets-item">
					<div class="widget-inner-border">
						<a href="#" class="widget-item-link">
							<p class="widget-title">Лучший выбор для дома</p>
							<img src="%=static=%img/general/category/coffee_Philips.png" alt="widget-image" class="widget-img">
						</a>
					</div>
				</li>
				<li class="category-widgets-item">
					<div class="widget-inner-border">
						<a href="#" class="widget-item-link">
							<p class="widget-title">Компьютеры для любых задач</p>
							<img src="%=static=%img/general/category/notebook.png" alt="widget-image" class="widget-img">
						</a>
					</div>
				</li>
				<li class="category-widgets-item">
					<div class="widget-inner-border">
						<a href="#" class="widget-item-link">
							<p class="widget-title">Лучший выбор для дома</p>
							<img src="%=static=%img/general/category/coffee_Philips.png" alt="widget-image" class="widget-img">
						</a>
					</div>
				</li>
				<li class="category-widgets-item">
					<div class="widget-inner-border">
						<a href="#" class="widget-item-link">
							<p class="widget-title">Компьютеры для любых задач</p>
							<img src="%=static=%img/general/category/notebook.png" alt="widget-image" class="widget-img">
						</a>
					</div>
				</li>

			</ul>
		</div>
		<i class="fa fa-angle-down next"></i>
	</div>
</div>
{{> js/vertical-carousel}}
<script>
$(document).ready(function(){
    $('.category-slider__carousel').owlCarousel({
        items: 1,
        lazyLoad: true,
        loop: true,
        margin: 10,
        autoplay: true,
        autoplayTimeout: 5000,
        nav:true,
        autoplayHoverPause: true,
        navText : ["<i class='fa fa-angle-left'></i>","<i class='fa fa-angle-right'></i>"]
    });
});
</script>
<!-- end category-container block -->