<div class="listing-content">
	{{> listing/sidebar/sidebar}}
	<section class="product-listing">
		<div class="listing-container clearfix">
			<div class="listing-item">
				<div class="listing-item__top-panel">
					<span class="top-panel-informer exclusive">эксклюзив</span>
					<span class="top-panel-informer opchas">
						<i class="icon-opchas"></i> оплата частями
					</span>
					<div class="top-panel-colors">
						<span class="color red"></span>
						<span class="color grey"></span>
						<span class="color pink"></span>
						<span class="color blue"></span>
						<span class="color grey"></span>
						<span class="color pink"></span>
						<span class="color white"></span>
					</div>
				</div>
				<a href="#" class="listing-item__img-container">
					<img src="%=static=%img/general/rolling/0.png" alt="rolling-image"	class="item-image">
				</a>
				<div class="listing-item__info">
					<div class="product-code">
			            <span class="product-code__text">Код товара</span>
			            <span class="product-code__code">6231245</span>
			        </div>
					<a href="#" class="listing-link">
						<p class="info">Ноутбук Del Latitude E6410 14" i5 4GB RAM 160GB</p>
					</a>
					<div class="price">
						<div class="price__not-relevant">
							<span class="numb">14 925</span><span class="currency">грн</span>
						</div>
						<div class="price__relevant">
							<span class="numb">1100 999</span><span class="currency">грн</span>
						</div>
					</div>
					<div class="bonus">
						<img src="%=static=%img/general/icons/grn.svg" alt="rolling-product" class="bonus__icon">
						<span class="bonus__sum">+ 200</span>
						<span class="bonus__currency">грн бонусов</span>
					</div>
				</div>
				<div class="listing-item__ratting">
					<img src="%=static=%img/general/icons/StarFill.svg" alt="icon" class="ratting-star">
					<img src="%=static=%img/general/icons/StarFill.svg" alt="icon" class="ratting-star">
					<img src="%=static=%img/general/icons/StarFill.svg" alt="icon" class="ratting-star">
					<img src="%=static=%img/general/icons/Star.svg" alt="icon" class="ratting-star">
					<img src="%=static=%img/general/icons/Star.svg" alt="icon" class="ratting-star">
				</div>
				<div class="listing-item__reviews">
					<a href="#" class="reviews-link">
						<span class="review-number">178</span>
						<span class="review-text">отзывов</span>
					</a>
				</div>
				<!-- <div class="listing-item__credit">
					<a href="#" class="credit-link">
						<span class="credit-offer-text">Купить в кредит</span>
						<span class="credit-price">1084</span>
						<span class="credit-currency">грн</span>
						<span class="credit-multiplication">x</span>
						<span class="credit-amount">24</span>
						<span class="credit-payment">платеж</span>
					</a>
				</div> -->
				<div class="listing-block">
					<div class="listing-item__delivery">
						<p class="delivery-text">Бесплатная доставка</p>
					</div>
					<div class="listing-item__able">
						<img src="%=static=%img/general/icons/checked.svg" alt="icon" class="able-icon">
						<span class="able-text">В наличии</span>
					</div>
					<div class="listing-item__bottom-panel">
						<div class="compare-icon active">
							<i class="fa fa-check-circle" aria-hidden="true"></i>
						</div>
						<a href="#" class="buy-button">Купить</a>
					</div>
				</div>
				
			</div>
			<div class="listing-item">
				<div class="listing-item__top-panel">
					<span class="top-panel-informer gift">подарок</span>



					<span class="top-plash promokod">
						<span class="julian-promokod">
							<i class="icon-promokod"></i> жми промокод
						</span>
						
						<div class="popup-promokod">
							<div class="popup-promokod-closed">x</div>
							<span class="popup-promokod-titel">Твой Промо Код:</span>
							<span class="popup-promokod-number">fox-promo</span>
							<span class="popup-promokod-text">Успей использовать!</span>
							<a class="popup-promokod-link">Подробнее</a>
						</div>
						
					</span>

					<div class="top-panel-colors">
						<span class="color red"></span>
						<span class="color grey"></span>
						<span class="color pink"></span>
						<span class="color blue"></span>
						<span class="color grey"></span>
						<span class="color pink"></span>
						<span class="color white"></span>
						<span class="color blue"></span>
					</div>
				</div>
				<a href="#" class="listing-item__img-container">
					<img src="%=static=%img/general/rolling/phone.png" alt="rolling-image"	class="item-image">
				</a>
				<div class="listing-item__info">
					<div class="product-code">
			            <span class="product-code__text">Код товара</span>
			            <span class="product-code__code">6231245</span>
			        </div>
					<a href="#" class="listing-link">
						<p class="info">Ноутбук Del Latitude E6410 14" i5 4GB RAM 160GB</p>
					</a>
					<div class="price">
						<div class="price__not-relevant">
							<span class="numb">14 925</span><span class="currency">грн</span>
						</div>
						<div class="price__relevant">
							<span class="numb">1100 999</span><span class="currency">грн</span>
						</div>
					</div>
					<div class="bonus">
						<img src="%=static=%img/general/icons/grn.svg" alt="rolling-product" class="bonus__icon">
						<span class="bonus__sum">+ 200</span>
						<span class="bonus__currency">грн бонусов</span>
					</div>
				</div>
				<div class="listing-item__ratting">
					<img src="%=static=%img/general/icons/StarFill.svg" alt="icon" class="ratting-star">
					<img src="%=static=%img/general/icons/StarFill.svg" alt="icon" class="ratting-star">
					<img src="%=static=%img/general/icons/StarFill.svg" alt="icon" class="ratting-star">
					<img src="%=static=%img/general/icons/Star.svg" alt="icon" class="ratting-star">
					<img src="%=static=%img/general/icons/Star.svg" alt="icon" class="ratting-star">
				</div>
				<div class="listing-item__reviews">
					<a href="#" class="reviews-link">
						<span class="review-number">178</span>
						<span class="review-text">отзывов</span>
					</a>
				</div>
				<div class="listing-item__credit">
					<a href="#" class="credit-link">
						<span class="credit-offer-text">Купить в кредит</span>
						<span class="credit-price">1084</span>
						<span class="credit-currency">грн</span>
						<span class="credit-multiplication">x</span>
						<span class="credit-amount">24</span>
						<span class="credit-payment">платеж</span>
					</a>
				</div>
				<div class="listing-block">
					<div class="listing-item__delivery">
						<p class="delivery-text">Бесплатная доставка</p>
					</div>
					<div class="listing-item__able">
						<img src="%=static=%img/general/icons/checked.svg" alt="icon" class="able-icon">
						<span class="able-text">В наличии</span>
					</div>
					<div class="listing-item__bottom-panel">
						<div class="compare-icon active">
							<i class="fa fa-check-circle" aria-hidden="true"></i>
						</div>
						<a href="#" class="buy-button">Купить</a>
					</div>
				</div>
				
			</div>
			<div class="listing-item">
				<div class="listing-item__top-panel">
					<span class="top-panel-informer discount">скидка 20%</span>
					<span class="top-panel-informer bonus">бонус х15</span>
					<div class="top-panel-colors">
						<span class="color red"></span>
						<span class="color grey"></span>
						<span class="color pink"></span>
						<span class="color blue"></span>
						<span class="color grey"></span>
						<span class="color pink"></span>
						<span class="color white"></span>
						<span class="color blue"></span>
					</div>
				</div>
				<a href="#" class="listing-item__img-container">
					<img src="%=static=%img/general/rolling/notebook.png" alt="rolling-image"	class="item-image">
				</a>
				<div class="listing-item__info">
					<a href="#" class="listing-link">
						<p class="info">Ноутбук Del Latitude E6410 14" i5 4GB RAM 160GB</p>
					</a>
					<div class="price">
						<div class="price__not-relevant">
							<span class="numb">14 925</span><span class="currency">грн</span>
						</div>
						<div class="price__relevant">
							<span class="numb">1100 999</span><span class="currency">грн</span>
						</div>
					</div>
					<div class="bonus">
						<img src="%=static=%img/general/icons/grn.svg" alt="rolling-product" class="bonus__icon">
						<span class="bonus__sum">+ 200</span>
						<span class="bonus__currency">грн бонусов</span>
					</div>
				</div>
				<div class="listing-item__ratting">
					<img src="%=static=%img/general/icons/StarFill.svg" alt="icon" class="ratting-star">
					<img src="%=static=%img/general/icons/StarFill.svg" alt="icon" class="ratting-star">
					<img src="%=static=%img/general/icons/StarFill.svg" alt="icon" class="ratting-star">
					<img src="%=static=%img/general/icons/Star.svg" alt="icon" class="ratting-star">
					<img src="%=static=%img/general/icons/Star.svg" alt="icon" class="ratting-star">
				</div>
				<div class="listing-item__reviews">
					<a href="#" class="reviews-link">
						<span class="review-number">178</span>
						<span class="review-text">отзывов</span>
					</a>
				</div>
				<div class="listing-item__credit">
					<a href="#" class="credit-link">
						<span class="credit-offer-text">Купить в кредит</span>
						<span class="credit-price">1084</span>
						<span class="credit-currency">грн</span>
						<span class="credit-multiplication">x</span>
						<span class="credit-amount">24</span>
						<span class="credit-payment">платеж</span>
					</a>
				</div>
				<div class="listing-item__delivery">
					<p class="delivery-text">Бесплатная доставка</p>
				</div>
				<div class="listing-item__able">
					<img src="%=static=%img/general/icons/checked.svg" alt="icon" class="able-icon">
					<span class="able-text">В наличии</span>
				</div>
				<div class="listing-item__bottom-panel">
					<div class="compare-icon">
						<i class="fa fa-check-circle" aria-hidden="true"></i>
					</div>
					<a href="#" class="buy-button">Купить</a>
				</div>
			</div>
			<div class="listing-item">
				<div class="listing-item__top-panel">
					<span class="top-panel-informer discount">скидка 20%</span>
					<span class="top-panel-informer hit">хит продаж</span>
					<div class="top-panel-colors">
						<span class="color red"></span>
						<span class="color grey"></span>
						<span class="color pink"></span>
						<span class="color blue"></span>
						<span class="color grey"></span>
						<span class="color pink"></span>
						<span class="color white"></span>
						<span class="color blue"></span>
					</div>
				</div>
				<a href="#" class="listing-item__img-container">
					<img src="%=static=%img/general/rolling/offer-tv.png" alt="rolling-image"	class="item-image">
				</a>
				<div class="listing-item__info">
					<a href="#" class="listing-link">
						<p class="info">Ноутбук Del Latitude E6410 14" i5 4GB RAM 160GB</p>
					</a>
					<div class="price">
						<div class="price__not-relevant">
							<span class="numb">14 925</span><span class="currency">грн</span>
						</div>
						<div class="price__relevant">
							<span class="numb">1100 999</span><span class="currency">грн</span>
						</div>
					</div>
					<div class="bonus">
						<img src="%=static=%img/general/icons/grn.svg" alt="rolling-product" class="bonus__icon">
						<span class="bonus__sum">+ 200</span>
						<span class="bonus__currency">грн бонусов</span>
					</div>
				</div>
				<div class="listing-item__ratting">
					<img src="%=static=%img/general/icons/StarFill.svg" alt="icon" class="ratting-star">
					<img src="%=static=%img/general/icons/StarFill.svg" alt="icon" class="ratting-star">
					<img src="%=static=%img/general/icons/StarFill.svg" alt="icon" class="ratting-star">
					<img src="%=static=%img/general/icons/Star.svg" alt="icon" class="ratting-star">
					<img src="%=static=%img/general/icons/Star.svg" alt="icon" class="ratting-star">
				</div>
				<div class="listing-item__reviews">
					<a href="#" class="reviews-link">
						<span class="review-number">178</span>
						<span class="review-text">отзывов</span>
					</a>
				</div>
				<div class="listing-item__credit">
					<a href="#" class="credit-link">
						<span class="credit-offer-text">Купить в кредит</span>
						<span class="credit-price">1084</span>
						<span class="credit-currency">грн</span>
						<span class="credit-multiplication">x</span>
						<span class="credit-amount">24</span>
						<span class="credit-payment">платеж</span>
					</a>
				</div>
				<div class="listing-item__delivery">
					<p class="delivery-text">Бесплатная доставка</p>
				</div>
				<div class="listing-item__able">
					<img src="%=static=%img/general/icons/checked.svg" alt="icon" class="able-icon">
					<span class="able-text">В наличии</span>
				</div>
				<div class="listing-item__bottom-panel">
					<div class="compare-icon">
						<i class="fa fa-check-circle" aria-hidden="true"></i>
					</div>
					<a href="#" class="buy-button">Купить</a>
				</div>
			</div>
			<div class="listing-item">
				<div class="listing-item__top-panel">
					<span class="top-panel-informer discount">скидка 20%</span>
					<span class="top-panel-informer hit">хит продаж</span>
					<div class="top-panel-colors">
						<span class="color red"></span>
						<span class="color grey"></span>
						<span class="color pink"></span>
						<span class="color blue"></span>
						<span class="color grey"></span>
						<span class="color pink"></span>
						<span class="color white"></span>
						<span class="color blue"></span>
					</div>
				</div>
				<a href="#" class="listing-item__img-container">
					<img src="%=static=%img/general/rolling/offer-tv.png" alt="rolling-image"	class="item-image">
				</a>
				<div class="listing-item__info">
					<a href="#" class="listing-link">
						<p class="info">Ноутбук Del Latitude E6410 14" i5 4GB RAM 160GB</p>
					</a>
					<div class="price">
						<div class="price__not-relevant">
							<span class="numb">14 925</span><span class="currency">грн</span>
						</div>
						<div class="price__relevant">
							<span class="numb">1100 999</span><span class="currency">грн</span>
						</div>
					</div>
					<div class="bonus">
						<img src="%=static=%img/general/icons/grn.svg" alt="rolling-product" class="bonus__icon">
						<span class="bonus__sum">+ 200</span>
						<span class="bonus__currency">грн бонусов</span>
					</div>
				</div>
				<div class="listing-item__ratting">
					<img src="%=static=%img/general/icons/StarFill.svg" alt="icon" class="ratting-star">
					<img src="%=static=%img/general/icons/StarFill.svg" alt="icon" class="ratting-star">
					<img src="%=static=%img/general/icons/StarFill.svg" alt="icon" class="ratting-star">
					<img src="%=static=%img/general/icons/Star.svg" alt="icon" class="ratting-star">
					<img src="%=static=%img/general/icons/Star.svg" alt="icon" class="ratting-star">
				</div>
				<div class="listing-item__reviews">
					<a href="#" class="reviews-link">
						<span class="review-number">178</span>
						<span class="review-text">отзывов</span>
					</a>
				</div>
				<div class="listing-item__credit">
					<a href="#" class="credit-link">
						<span class="credit-offer-text">Купить в кредит</span>
						<span class="credit-price">1084</span>
						<span class="credit-currency">грн</span>
						<span class="credit-multiplication">x</span>
						<span class="credit-amount">24</span>
						<span class="credit-payment">платеж</span>
					</a>
				</div>
				<div class="listing-item__delivery">
					<p class="delivery-text">Бесплатная доставка</p>
				</div>
				<div class="listing-item__able">
					<img src="%=static=%img/general/icons/checked.svg" alt="icon" class="able-icon">
					<span class="able-text">В наличии</span>
				</div>
				<div class="listing-item__bottom-panel">
					<div class="compare-icon">
						<i class="fa fa-check-circle" aria-hidden="true"></i>
					</div>
					<a href="#" class="buy-button">Купить</a>
				</div>
			</div>
			<div class="listing-item">
				<div class="listing-item__top-panel">
					<span class="top-panel-informer discount">скидка 20%</span>
					<span class="top-panel-informer hit">хит продаж</span>
					<div class="top-panel-colors">
						<span class="color red"></span>
						<span class="color grey"></span>
						<span class="color pink"></span>
						<span class="color blue"></span>
						<span class="color grey"></span>
						<span class="color pink"></span>
						<span class="color white"></span>
						<span class="color blue"></span>
					</div>
				</div>
				<a href="#" class="listing-item__img-container">
					<img src="%=static=%img/general/rolling/offer-tv.png" alt="rolling-image"	class="item-image">
				</a>
				<div class="listing-item__info">
					<a href="#" class="listing-link">
						<p class="info">Ноутбук Del Latitude E6410 14" i5 4GB RAM 160GB</p>
					</a>
					<div class="price">
						<div class="price__not-relevant">
							<span class="numb">14 925</span><span class="currency">грн</span>
						</div>
						<div class="price__relevant">
							<span class="numb">1100 999</span><span class="currency">грн</span>
						</div>
					</div>
					<div class="bonus">
						<img src="%=static=%img/general/icons/grn.svg" alt="rolling-product" class="bonus__icon">
						<span class="bonus__sum">+ 200</span>
						<span class="bonus__currency">грн бонусов</span>
					</div>
				</div>
				<div class="listing-item__ratting">
					<img src="%=static=%img/general/icons/StarFill.svg" alt="icon" class="ratting-star">
					<img src="%=static=%img/general/icons/StarFill.svg" alt="icon" class="ratting-star">
					<img src="%=static=%img/general/icons/StarFill.svg" alt="icon" class="ratting-star">
					<img src="%=static=%img/general/icons/Star.svg" alt="icon" class="ratting-star">
					<img src="%=static=%img/general/icons/Star.svg" alt="icon" class="ratting-star">
				</div>
				<div class="listing-item__reviews">
					<a href="#" class="reviews-link">
						<span class="review-number">178</span>
						<span class="review-text">отзывов</span>
					</a>
				</div>
				<div class="listing-item__credit">
					<a href="#" class="credit-link">
						<span class="credit-offer-text">Купить в кредит</span>
						<span class="credit-price">1084</span>
						<span class="credit-currency">грн</span>
						<span class="credit-multiplication">x</span>
						<span class="credit-amount">24</span>
						<span class="credit-payment">платеж</span>
					</a>
				</div>
				<div class="listing-item__delivery">
					<p class="delivery-text">Бесплатная доставка</p>
				</div>
				<div class="listing-item__able">
					<img src="%=static=%img/general/icons/checked.svg" alt="icon" class="able-icon">
					<span class="able-text">В наличии</span>
				</div>
				<div class="listing-item__bottom-panel">
					<div class="compare-icon">
						<i class="fa fa-check-circle" aria-hidden="true"></i>
					</div>
					<a href="#" class="buy-button">Купить</a>
				</div>
			</div>
			<div class="listing-item">
				<div class="listing-item__top-panel">
					<span class="top-panel-informer exclusive">эксклюзив</span>
					<span class="top-panel-informer new">эксклюзив</span>
					<div class="top-panel-colors">
						<span class="color red"></span>
						<span class="color grey"></span>
						<span class="color pink"></span>
						<span class="color blue"></span>
						<span class="color grey"></span>
						<span class="color pink"></span>
						<span class="color white"></span>
						<span class="color blue"></span>
					</div>
				</div>
				<a href="#" class="listing-item__img-container">
					<img src="%=static=%img/general/rolling/0.png" alt="rolling-image"	class="item-image">
				</a>
				<div class="listing-item__info">
					<a href="#" class="listing-link">
						<p class="info">Ноутбук Del Latitude E6410 14" i5 4GB RAM 160GB</p>
					</a>
					<div class="price">
						<div class="price__not-relevant">
							<span class="numb">14 925</span><span class="currency">грн</span>
						</div>
						<div class="price__relevant">
							<span class="numb">1100 999</span><span class="currency">грн</span>
						</div>
					</div>
					<div class="bonus">
						<img src="%=static=%img/general/icons/grn.svg" alt="rolling-product" class="bonus__icon">
						<span class="bonus__sum">+ 200</span>
						<span class="bonus__currency">грн бонусов</span>
					</div>
				</div>
				<div class="listing-item__ratting">
					<img src="%=static=%img/general/icons/StarFill.svg" alt="icon" class="ratting-star">
					<img src="%=static=%img/general/icons/StarFill.svg" alt="icon" class="ratting-star">
					<img src="%=static=%img/general/icons/StarFill.svg" alt="icon" class="ratting-star">
					<img src="%=static=%img/general/icons/Star.svg" alt="icon" class="ratting-star">
					<img src="%=static=%img/general/icons/Star.svg" alt="icon" class="ratting-star">
				</div>
				<div class="listing-item__reviews">
					<a href="#" class="reviews-link">
						<span class="review-number">178</span>
						<span class="review-text">отзывов</span>
					</a>
				</div>
				<div class="listing-item__credit">
					<a href="#" class="credit-link">
						<span class="credit-offer-text">Купить в кредит</span>
						<span class="credit-price">1084</span>
						<span class="credit-currency">грн</span>
						<span class="credit-multiplication">x</span>
						<span class="credit-amount">24</span>
						<span class="credit-payment">платеж</span>
					</a>
				</div>
				<div class="listing-item__delivery">
					<p class="delivery-text">Бесплатная доставка</p>
				</div>
				<div class="listing-item__able">
					<img src="%=static=%img/general/icons/checked.svg" alt="icon" class="able-icon">
					<span class="able-text">В наличии</span>
				</div>
				<div class="listing-item__bottom-panel">
					<div class="compare-icon">
						<i class="fa fa-check-circle" aria-hidden="true"></i>
					</div>
					<a href="#" class="buy-button">Купить</a>
				</div>
			</div>
			<div class="listing-item">
				<div class="listing-item__top-panel">
					<span class="top-panel-informer gift">подарок</span>
					<span class="top-panel-informer hit">хит продаж</span>
					<div class="top-panel-colors">
						<span class="color red"></span>
						<span class="color grey"></span>
						<span class="color pink"></span>
						<span class="color blue"></span>
						<span class="color grey"></span>
						<span class="color pink"></span>
						<span class="color white"></span>
						<span class="color blue"></span>
					</div>
				</div>
				<a href="#" class="listing-item__img-container">
					<img src="%=static=%img/general/rolling/phone.png" alt="rolling-image"	class="item-image">
				</a>
				<div class="listing-item__info">
					<a href="#" class="listing-link">
						<p class="info">Ноутбук Del Latitude E6410 14" i5 4GB RAM 160GB</p>
					</a>
					<div class="price">
						<div class="price__not-relevant">
							<span class="numb">14 925</span><span class="currency">грн</span>
						</div>
						<div class="price__relevant">
							<span class="numb">1100 999</span><span class="currency">грн</span>
						</div>
					</div>
					<div class="bonus">
						<img src="%=static=%img/general/icons/grn.svg" alt="rolling-product" class="bonus__icon">
						<span class="bonus__sum">+ 200</span>
						<span class="bonus__currency">грн бонусов</span>
					</div>
				</div>
				<div class="listing-item__ratting">
					<img src="%=static=%img/general/icons/StarFill.svg" alt="icon" class="ratting-star">
					<img src="%=static=%img/general/icons/StarFill.svg" alt="icon" class="ratting-star">
					<img src="%=static=%img/general/icons/StarFill.svg" alt="icon" class="ratting-star">
					<img src="%=static=%img/general/icons/Star.svg" alt="icon" class="ratting-star">
					<img src="%=static=%img/general/icons/Star.svg" alt="icon" class="ratting-star">
				</div>
				<div class="listing-item__reviews">
					<a href="#" class="reviews-link">
						<span class="review-number">178</span>
						<span class="review-text">отзывов</span>
					</a>
				</div>
				<div class="listing-item__credit">
					<a href="#" class="credit-link">
						<span class="credit-offer-text">Купить в кредит</span>
						<span class="credit-price">1084</span>
						<span class="credit-currency">грн</span>
						<span class="credit-multiplication">x</span>
						<span class="credit-amount">24</span>
						<span class="credit-payment">платеж</span>
					</a>
				</div>
				<div class="listing-item__delivery">
					<p class="delivery-text">Бесплатная доставка</p>
				</div>
				<div class="listing-item__able">
					<img src="%=static=%img/general/icons/checked.svg" alt="icon" class="able-icon">
					<span class="able-text">В наличии</span>
				</div>
				<div class="listing-item__bottom-panel">
					<div class="compare-icon">
						<i class="fa fa-check-circle" aria-hidden="true"></i>
					</div>
					<a href="#" class="buy-button">Купить</a>
				</div>
			</div>
			<div class="listing-item">
				<div class="listing-item__top-panel">
					<span class="top-panel-informer discount">скидка 20%</span>
					<span class="top-panel-informer bonus">бонус х15</span>
					<div class="top-panel-colors">
						<span class="color red"></span>
						<span class="color grey"></span>
						<span class="color pink"></span>
						<span class="color blue"></span>
						<span class="color grey"></span>
						<span class="color pink"></span>
						<span class="color white"></span>
						<span class="color blue"></span>
					</div>
				</div>
				<a href="#" class="listing-item__img-container">
					<img src="%=static=%img/general/rolling/notebook.png" alt="rolling-image"	class="item-image">
				</a>
				<div class="listing-item__info">
					<a href="#" class="listing-link">
						<p class="info">Ноутбук Del Latitude E6410 14" i5 4GB RAM 160GB</p>
					</a>
					<div class="price">
						<div class="price__not-relevant">
							<span class="numb">14 925</span><span class="currency">грн</span>
						</div>
						<div class="price__relevant">
							<span class="numb">1100 999</span><span class="currency">грн</span>
						</div>
					</div>
					<div class="bonus">
						<img src="%=static=%img/general/icons/grn.svg" alt="rolling-product" class="bonus__icon">
						<span class="bonus__sum">+ 200</span>
						<span class="bonus__currency">грн бонусов</span>
					</div>
				</div>
				<div class="listing-item__ratting">
					<img src="%=static=%img/general/icons/StarFill.svg" alt="icon" class="ratting-star">
					<img src="%=static=%img/general/icons/StarFill.svg" alt="icon" class="ratting-star">
					<img src="%=static=%img/general/icons/StarFill.svg" alt="icon" class="ratting-star">
					<img src="%=static=%img/general/icons/Star.svg" alt="icon" class="ratting-star">
					<img src="%=static=%img/general/icons/Star.svg" alt="icon" class="ratting-star">
				</div>
				<div class="listing-item__reviews">
					<a href="#" class="reviews-link">
						<span class="review-number">178</span>
						<span class="review-text">отзывов</span>
					</a>
				</div>
				<div class="listing-item__credit">
					<a href="#" class="credit-link">
						<span class="credit-offer-text">Купить в кредит</span>
						<span class="credit-price">1084</span>
						<span class="credit-currency">грн</span>
						<span class="credit-multiplication">x</span>
						<span class="credit-amount">24</span>
						<span class="credit-payment">платеж</span>
					</a>
				</div>
				<div class="listing-item__delivery">
					<p class="delivery-text">Бесплатная доставка</p>
				</div>
				<div class="listing-item__able">
					<img src="%=static=%img/general/icons/checked.svg" alt="icon" class="able-icon">
					<span class="able-text">В наличии</span>
				</div>
				<div class="listing-item__bottom-panel">
					<div class="compare-icon">
						<i class="fa fa-check-circle" aria-hidden="true"></i>
					</div>
					<a href="#" class="buy-button">Купить</a>
				</div>
			</div>
			<div class="listing-item">
				<div class="listing-item__top-panel">
					<span class="top-panel-informer discount">скидка 20%</span>
					<span class="top-panel-informer hit">хит продаж</span>
					<div class="top-panel-colors">
						<span class="color red"></span>
						<span class="color grey"></span>
						<span class="color pink"></span>
						<span class="color blue"></span>
						<span class="color grey"></span>
						<span class="color pink"></span>
						<span class="color white"></span>
						<span class="color blue"></span>
					</div>
				</div>
				<a href="#" class="listing-item__img-container">
					<img src="%=static=%img/general/rolling/offer-tv.png" alt="rolling-image"	class="item-image">
				</a>
				<div class="listing-item__info">
					<a href="#" class="listing-link">
						<p class="info">Ноутбук Del Latitude E6410 14" i5 4GB RAM 160GB</p>
					</a>
					<div class="price">
						<div class="price__not-relevant">
							<span class="numb">14 925</span><span class="currency">грн</span>
						</div>
						<div class="price__relevant">
							<span class="numb">1100 999</span><span class="currency">грн</span>
						</div>
					</div>
					<div class="bonus">
						<img src="%=static=%img/general/icons/grn.svg" alt="rolling-product" class="bonus__icon">
						<span class="bonus__sum">+ 200</span>
						<span class="bonus__currency">грн бонусов</span>
					</div>
				</div>
				<div class="listing-item__ratting">
					<img src="%=static=%img/general/icons/StarFill.svg" alt="icon" class="ratting-star">
					<img src="%=static=%img/general/icons/StarFill.svg" alt="icon" class="ratting-star">
					<img src="%=static=%img/general/icons/StarFill.svg" alt="icon" class="ratting-star">
					<img src="%=static=%img/general/icons/Star.svg" alt="icon" class="ratting-star">
					<img src="%=static=%img/general/icons/Star.svg" alt="icon" class="ratting-star">
				</div>
				<div class="listing-item__reviews">
					<a href="#" class="reviews-link">
						<span class="review-number">178</span>
						<span class="review-text">отзывов</span>
					</a>
				</div>
				<div class="listing-item__credit">
					<a href="#" class="credit-link">
						<span class="credit-offer-text">Купить в кредит</span>
						<span class="credit-price">1084</span>
						<span class="credit-currency">грн</span>
						<span class="credit-multiplication">x</span>
						<span class="credit-amount">24</span>
						<span class="credit-payment">платеж</span>
					</a>
				</div>
				<div class="listing-item__delivery">
					<p class="delivery-text">Бесплатная доставка</p>
				</div>
				<div class="listing-item__able">
					<img src="%=static=%img/general/icons/checked.svg" alt="icon" class="able-icon">
					<span class="able-text">В наличии</span>
				</div>
				<div class="listing-item__bottom-panel">
					<div class="compare-icon">
						<i class="fa fa-check-circle" aria-hidden="true"></i>
					</div>
					<a href="#" class="buy-button">Купить</a>
				</div>
			</div>
			<div class="listing-item">
				<div class="listing-item__top-panel">
					<span class="top-panel-informer discount">скидка 20%</span>
					<span class="top-panel-informer hit">хит продаж</span>
					<div class="top-panel-colors">
						<span class="color red"></span>
						<span class="color grey"></span>
						<span class="color pink"></span>
						<span class="color blue"></span>
						<span class="color grey"></span>
						<span class="color pink"></span>
						<span class="color white"></span>
						<span class="color blue"></span>
					</div>
				</div>
				<a href="#" class="listing-item__img-container">
					<img src="%=static=%img/general/rolling/offer-tv.png" alt="rolling-image"	class="item-image">
				</a>
				<div class="listing-item__info">
					<a href="#" class="listing-link">
						<p class="info">Ноутбук Del Latitude E6410 14" i5 4GB RAM 160GB</p>
					</a>
					<div class="price">
						<div class="price__not-relevant">
							<span class="numb">14 925</span><span class="currency">грн</span>
						</div>
						<div class="price__relevant">
							<span class="numb">1100 999</span><span class="currency">грн</span>
						</div>
					</div>
					<div class="bonus">
						<img src="%=static=%img/general/icons/grn.svg" alt="rolling-product" class="bonus__icon">
						<span class="bonus__sum">+ 200</span>
						<span class="bonus__currency">грн бонусов</span>
					</div>
				</div>
				<div class="listing-item__ratting">
					<img src="%=static=%img/general/icons/StarFill.svg" alt="icon" class="ratting-star">
					<img src="%=static=%img/general/icons/StarFill.svg" alt="icon" class="ratting-star">
					<img src="%=static=%img/general/icons/StarFill.svg" alt="icon" class="ratting-star">
					<img src="%=static=%img/general/icons/Star.svg" alt="icon" class="ratting-star">
					<img src="%=static=%img/general/icons/Star.svg" alt="icon" class="ratting-star">
				</div>
				<div class="listing-item__reviews">
					<a href="#" class="reviews-link">
						<span class="review-number">178</span>
						<span class="review-text">отзывов</span>
					</a>
				</div>
				<div class="listing-item__credit">
					<a href="#" class="credit-link">
						<span class="credit-offer-text">Купить в кредит</span>
						<span class="credit-price">1084</span>
						<span class="credit-currency">грн</span>
						<span class="credit-multiplication">x</span>
						<span class="credit-amount">24</span>
						<span class="credit-payment">платеж</span>
					</a>
				</div>
				<div class="listing-item__delivery">
					<p class="delivery-text">Бесплатная доставка</p>
				</div>
				<div class="listing-item__able">
					<img src="%=static=%img/general/icons/checked.svg" alt="icon" class="able-icon">
					<span class="able-text">В наличии</span>
				</div>
				<div class="listing-item__bottom-panel">
					<div class="compare-icon">
						<i class="fa fa-check-circle" aria-hidden="true"></i>
					</div>
					<a href="#" class="buy-button">Купить</a>
				</div>
			</div>
			<div class="listing-item">
				<div class="listing-item__top-panel">
					<span class="top-panel-informer discount">скидка 20%</span>
					<span class="top-panel-informer hit">хит продаж</span>
					<div class="top-panel-colors">
						<span class="color red"></span>
						<span class="color grey"></span>
						<span class="color pink"></span>
						<span class="color blue"></span>
						<span class="color grey"></span>
						<span class="color pink"></span>
						<span class="color white"></span>
						<span class="color blue"></span>
					</div>
				</div>
				<a href="#" class="listing-item__img-container">
					<img src="%=static=%img/general/rolling/offer-tv.png" alt="rolling-image"	class="item-image">
				</a>
				<div class="listing-item__info">
					<a href="#" class="listing-link">
						<p class="info">Ноутбук Del Latitude E6410 14" i5 4GB RAM 160GB</p>
					</a>
					<div class="price">
						<div class="price__not-relevant">
							<span class="numb">14 925</span><span class="currency">грн</span>
						</div>
						<div class="price__relevant">
							<span class="numb">1100 999</span><span class="currency">грн</span>
						</div>
					</div>
					<div class="bonus">
						<img src="%=static=%img/general/icons/grn.svg" alt="rolling-product" class="bonus__icon">
						<span class="bonus__sum">+ 200</span>
						<span class="bonus__currency">грн бонусов</span>
					</div>
				</div>
				<div class="listing-item__ratting">
					<img src="%=static=%img/general/icons/StarFill.svg" alt="icon" class="ratting-star">
					<img src="%=static=%img/general/icons/StarFill.svg" alt="icon" class="ratting-star">
					<img src="%=static=%img/general/icons/StarFill.svg" alt="icon" class="ratting-star">
					<img src="%=static=%img/general/icons/Star.svg" alt="icon" class="ratting-star">
					<img src="%=static=%img/general/icons/Star.svg" alt="icon" class="ratting-star">
				</div>
				<div class="listing-item__reviews">
					<a href="#" class="reviews-link">
						<span class="review-number">178</span>
						<span class="review-text">отзывов</span>
					</a>
				</div>
				<div class="listing-item__credit">
					<a href="#" class="credit-link">
						<span class="credit-offer-text">Купить в кредит</span>
						<span class="credit-price">1084</span>
						<span class="credit-currency">грн</span>
						<span class="credit-multiplication">x</span>
						<span class="credit-amount">24</span>
						<span class="credit-payment">платеж</span>
					</a>
				</div>
				<div class="listing-item__delivery">
					<p class="delivery-text">Бесплатная доставка</p>
				</div>
				<div class="listing-item__able">
					<img src="%=static=%img/general/icons/checked.svg" alt="icon" class="able-icon">
					<span class="able-text">В наличии</span>
				</div>
				<div class="listing-item__bottom-panel">
					<div class="compare-icon">
						<i class="fa fa-check-circle" aria-hidden="true"></i>
					</div>
					<a href="#" class="buy-button">Купить</a>
				</div>
			</div>
			<div class="listing-item">
				<div class="listing-item__top-panel">
					<span class="top-panel-informer exclusive">эксклюзив</span>
					<span class="top-panel-informer new">эксклюзив</span>
					<div class="top-panel-colors">
						<span class="color red"></span>
						<span class="color grey"></span>
						<span class="color pink"></span>
						<span class="color blue"></span>
						<span class="color grey"></span>
						<span class="color pink"></span>
						<span class="color white"></span>
						<span class="color blue"></span>
					</div>
				</div>
				<a href="#" class="listing-item__img-container">
					<img src="%=static=%img/general/rolling/0.png" alt="rolling-image"	class="item-image">
				</a>
				<div class="listing-item__info">
					<a href="#" class="listing-link">
						<p class="info">Ноутбук Del Latitude E6410 14" i5 4GB RAM 160GB</p>
					</a>
					<div class="price">
						<div class="price__not-relevant">
							<span class="numb">14 925</span><span class="currency">грн</span>
						</div>
						<div class="price__relevant">
							<span class="numb">1100 999</span><span class="currency">грн</span>
						</div>
					</div>
					<div class="bonus">
						<img src="%=static=%img/general/icons/grn.svg" alt="rolling-product" class="bonus__icon">
						<span class="bonus__sum">+ 200</span>
						<span class="bonus__currency">грн бонусов</span>
					</div>
				</div>
				<div class="listing-item__ratting">
					<img src="%=static=%img/general/icons/StarFill.svg" alt="icon" class="ratting-star">
					<img src="%=static=%img/general/icons/StarFill.svg" alt="icon" class="ratting-star">
					<img src="%=static=%img/general/icons/StarFill.svg" alt="icon" class="ratting-star">
					<img src="%=static=%img/general/icons/Star.svg" alt="icon" class="ratting-star">
					<img src="%=static=%img/general/icons/Star.svg" alt="icon" class="ratting-star">
				</div>
				<div class="listing-item__reviews">
					<a href="#" class="reviews-link">
						<span class="review-number">178</span>
						<span class="review-text">отзывов</span>
					</a>
				</div>
				<div class="listing-item__credit">
					<a href="#" class="credit-link">
						<span class="credit-offer-text">Купить в кредит</span>
						<span class="credit-price">1084</span>
						<span class="credit-currency">грн</span>
						<span class="credit-multiplication">x</span>
						<span class="credit-amount">24</span>
						<span class="credit-payment">платеж</span>
					</a>
				</div>
				<div class="listing-item__delivery">
					<p class="delivery-text">Бесплатная доставка</p>
				</div>
				<div class="listing-item__able">
					<img src="%=static=%img/general/icons/checked.svg" alt="icon" class="able-icon">
					<span class="able-text">В наличии</span>
				</div>
				<div class="listing-item__bottom-panel">
					<div class="compare-icon">
						<i class="fa fa-check-circle" aria-hidden="true"></i>
					</div>
					<a href="#" class="buy-button">Купить</a>
				</div>
			</div>
			<div class="listing-item">
				<div class="listing-item__top-panel">
					<span class="top-panel-informer gift">подарок</span>
					<span class="top-panel-informer hit">хит продаж</span>
					<div class="top-panel-colors">
						<span class="color red"></span>
						<span class="color grey"></span>
						<span class="color pink"></span>
						<span class="color blue"></span>
						<span class="color grey"></span>
						<span class="color pink"></span>
						<span class="color white"></span>
						<span class="color blue"></span>
					</div>
				</div>
				<a href="#" class="listing-item__img-container">
					<img src="%=static=%img/general/rolling/phone.png" alt="rolling-image"	class="item-image">
				</a>
				<div class="listing-item__info">
					<a href="#" class="listing-link">
						<p class="info">Ноутбук Del Latitude E6410 14" i5 4GB RAM 160GB</p>
					</a>
					<div class="price">
						<div class="price__not-relevant">
							<span class="numb">14 925</span><span class="currency">грн</span>
						</div>
						<div class="price__relevant">
							<span class="numb">1100 999</span><span class="currency">грн</span>
						</div>
					</div>
					<div class="bonus">
						<img src="%=static=%img/general/icons/grn.svg" alt="rolling-product" class="bonus__icon">
						<span class="bonus__sum">+ 200</span>
						<span class="bonus__currency">грн бонусов</span>
					</div>
				</div>
				<div class="listing-item__ratting">
					<img src="%=static=%img/general/icons/StarFill.svg" alt="icon" class="ratting-star">
					<img src="%=static=%img/general/icons/StarFill.svg" alt="icon" class="ratting-star">
					<img src="%=static=%img/general/icons/StarFill.svg" alt="icon" class="ratting-star">
					<img src="%=static=%img/general/icons/Star.svg" alt="icon" class="ratting-star">
					<img src="%=static=%img/general/icons/Star.svg" alt="icon" class="ratting-star">
				</div>
				<div class="listing-item__reviews">
					<a href="#" class="reviews-link">
						<span class="review-number">178</span>
						<span class="review-text">отзывов</span>
					</a>
				</div>
				<div class="listing-item__credit">
					<a href="#" class="credit-link">
						<span class="credit-offer-text">Купить в кредит</span>
						<span class="credit-price">1084</span>
						<span class="credit-currency">грн</span>
						<span class="credit-multiplication">x</span>
						<span class="credit-amount">24</span>
						<span class="credit-payment">платеж</span>
					</a>
				</div>
				<div class="listing-item__delivery">
					<p class="delivery-text">Бесплатная доставка</p>
				</div>
				<div class="listing-item__able">
					<img src="%=static=%img/general/icons/checked.svg" alt="icon" class="able-icon">
					<span class="able-text">В наличии</span>
				</div>
				<div class="listing-item__bottom-panel">
					<div class="compare-icon">
						<i class="fa fa-check-circle" aria-hidden="true"></i>
					</div>
					<a href="#" class="buy-button">Купить</a>
				</div>
			</div>
			<div class="listing-item">
				<div class="listing-item__top-panel">
					<span class="top-panel-informer discount">скидка 20%</span>
					<span class="top-panel-informer bonus">бонус х15</span>
					<div class="top-panel-colors">
						<span class="color red"></span>
						<span class="color grey"></span>
						<span class="color pink"></span>
						<span class="color blue"></span>
						<span class="color grey"></span>
						<span class="color pink"></span>
						<span class="color white"></span>
						<span class="color blue"></span>
					</div>
				</div>
				<a href="#" class="listing-item__img-container">
					<img src="%=static=%img/general/rolling/notebook.png" alt="rolling-image"	class="item-image">
				</a>
				<div class="listing-item__info">
					<a href="#" class="listing-link">
						<p class="info">Ноутбук Del Latitude E6410 14" i5 4GB RAM 160GB</p>
					</a>
					<div class="price">
						<div class="price__not-relevant">
							<span class="numb">14 925</span><span class="currency">грн</span>
						</div>
						<div class="price__relevant">
							<span class="numb">1100 999</span><span class="currency">грн</span>
						</div>
					</div>
					<div class="bonus">
						<img src="%=static=%img/general/icons/grn.svg" alt="rolling-product" class="bonus__icon">
						<span class="bonus__sum">+ 200</span>
						<span class="bonus__currency">грн бонусов</span>
					</div>
				</div>
				<div class="listing-item__ratting">
					<img src="%=static=%img/general/icons/StarFill.svg" alt="icon" class="ratting-star">
					<img src="%=static=%img/general/icons/StarFill.svg" alt="icon" class="ratting-star">
					<img src="%=static=%img/general/icons/StarFill.svg" alt="icon" class="ratting-star">
					<img src="%=static=%img/general/icons/Star.svg" alt="icon" class="ratting-star">
					<img src="%=static=%img/general/icons/Star.svg" alt="icon" class="ratting-star">
				</div>
				<div class="listing-item__reviews">
					<a href="#" class="reviews-link">
						<span class="review-number">178</span>
						<span class="review-text">отзывов</span>
					</a>
				</div>
				<div class="listing-item__credit">
					<a href="#" class="credit-link">
						<span class="credit-offer-text">Купить в кредит</span>
						<span class="credit-price">1084</span>
						<span class="credit-currency">грн</span>
						<span class="credit-multiplication">x</span>
						<span class="credit-amount">24</span>
						<span class="credit-payment">платеж</span>
					</a>
				</div>
				<div class="listing-item__delivery">
					<p class="delivery-text">Бесплатная доставка</p>
				</div>
				<div class="listing-item__able">
					<img src="%=static=%img/general/icons/checked.svg" alt="icon" class="able-icon">
					<span class="able-text">В наличии</span>
				</div>
				<div class="listing-item__bottom-panel">
					<div class="compare-icon">
						<i class="fa fa-check-circle" aria-hidden="true"></i>
					</div>
					<a href="#" class="buy-button">Купить</a>
				</div>
			</div>
			<div class="listing-item">
				<div class="listing-item__top-panel">
					<span class="top-panel-informer discount">скидка 20%</span>
					<span class="top-panel-informer hit">хит продаж</span>
					<div class="top-panel-colors">
						<span class="color red"></span>
						<span class="color grey"></span>
						<span class="color pink"></span>
						<span class="color blue"></span>
						<span class="color grey"></span>
						<span class="color pink"></span>
						<span class="color white"></span>
						<span class="color blue"></span>
					</div>
				</div>
				<a href="#" class="listing-item__img-container">
					<img src="%=static=%img/general/rolling/offer-tv.png" alt="rolling-image"	class="item-image">
				</a>
				<div class="listing-item__info">
					<a href="#" class="listing-link">
						<p class="info">Ноутбук Del Latitude E6410 14" i5 4GB RAM 160GB</p>
					</a>
					<div class="price">
						<div class="price__not-relevant">
							<span class="numb">14 925</span><span class="currency">грн</span>
						</div>
						<div class="price__relevant">
							<span class="numb">1100 999</span><span class="currency">грн</span>
						</div>
					</div>
					<div class="bonus">
						<img src="%=static=%img/general/icons/grn.svg" alt="rolling-product" class="bonus__icon">
						<span class="bonus__sum">+ 200</span>
						<span class="bonus__currency">грн бонусов</span>
					</div>
				</div>
				<div class="listing-item__ratting">
					<img src="%=static=%img/general/icons/StarFill.svg" alt="icon" class="ratting-star">
					<img src="%=static=%img/general/icons/StarFill.svg" alt="icon" class="ratting-star">
					<img src="%=static=%img/general/icons/StarFill.svg" alt="icon" class="ratting-star">
					<img src="%=static=%img/general/icons/Star.svg" alt="icon" class="ratting-star">
					<img src="%=static=%img/general/icons/Star.svg" alt="icon" class="ratting-star">
				</div>
				<div class="listing-item__reviews">
					<a href="#" class="reviews-link">
						<span class="review-number">178</span>
						<span class="review-text">отзывов</span>
					</a>
				</div>
				<div class="listing-item__credit">
					<a href="#" class="credit-link">
						<span class="credit-offer-text">Купить в кредит</span>
						<span class="credit-price">1084</span>
						<span class="credit-currency">грн</span>
						<span class="credit-multiplication">x</span>
						<span class="credit-amount">24</span>
						<span class="credit-payment">платеж</span>
					</a>
				</div>
				<div class="listing-item__delivery">
					<p class="delivery-text">Бесплатная доставка</p>
				</div>
				<div class="listing-item__able">
					<img src="%=static=%img/general/icons/checked.svg" alt="icon" class="able-icon">
					<span class="able-text">В наличии</span>
				</div>
				<div class="listing-item__bottom-panel">
					<div class="compare-icon">
						<i class="fa fa-check-circle" aria-hidden="true"></i>
					</div>
					<a href="#" class="buy-button">Купить</a>
				</div>
			</div>
			<div class="listing-item">
				<div class="listing-item__top-panel">
					<span class="top-panel-informer discount">скидка 20%</span>
					<span class="top-panel-informer hit">хит продаж</span>
					<div class="top-panel-colors">
						<span class="color red"></span>
						<span class="color grey"></span>
						<span class="color pink"></span>
						<span class="color blue"></span>
						<span class="color grey"></span>
						<span class="color pink"></span>
						<span class="color white"></span>
						<span class="color blue"></span>
					</div>
				</div>
				<a href="#" class="listing-item__img-container">
					<img src="%=static=%img/general/rolling/offer-tv.png" alt="rolling-image"	class="item-image">
				</a>
				<div class="listing-item__info">
					<a href="#" class="listing-link">
						<p class="info">Ноутбук Del Latitude E6410 14" i5 4GB RAM 160GB</p>
					</a>
					<div class="price">
						<div class="price__not-relevant">
							<span class="numb">14 925</span><span class="currency">грн</span>
						</div>
						<div class="price__relevant">
							<span class="numb">1100 999</span><span class="currency">грн</span>
						</div>
					</div>
					<div class="bonus">
						<img src="%=static=%img/general/icons/grn.svg" alt="rolling-product" class="bonus__icon">
						<span class="bonus__sum">+ 200</span>
						<span class="bonus__currency">грн бонусов</span>
					</div>
				</div>
				<div class="listing-item__ratting">
					<img src="%=static=%img/general/icons/StarFill.svg" alt="icon" class="ratting-star">
					<img src="%=static=%img/general/icons/StarFill.svg" alt="icon" class="ratting-star">
					<img src="%=static=%img/general/icons/StarFill.svg" alt="icon" class="ratting-star">
					<img src="%=static=%img/general/icons/Star.svg" alt="icon" class="ratting-star">
					<img src="%=static=%img/general/icons/Star.svg" alt="icon" class="ratting-star">
				</div>
				<div class="listing-item__reviews">
					<a href="#" class="reviews-link">
						<span class="review-number">178</span>
						<span class="review-text">отзывов</span>
					</a>
				</div>
				<div class="listing-item__credit">
					<a href="#" class="credit-link">
						<span class="credit-offer-text">Купить в кредит</span>
						<span class="credit-price">1084</span>
						<span class="credit-currency">грн</span>
						<span class="credit-multiplication">x</span>
						<span class="credit-amount">24</span>
						<span class="credit-payment">платеж</span>
					</a>
				</div>
				<div class="listing-item__delivery">
					<p class="delivery-text">Бесплатная доставка</p>
				</div>
				<div class="listing-item__able">
					<img src="%=static=%img/general/icons/checked.svg" alt="icon" class="able-icon">
					<span class="able-text">В наличии</span>
				</div>
				<div class="listing-item__bottom-panel">
					<div class="compare-icon">
						<i class="fa fa-check-circle" aria-hidden="true"></i>
					</div>
					<a href="#" class="buy-button">Купить</a>
				</div>
			</div>
			<div class="listing-item">
				<div class="listing-item__top-panel">
					<span class="top-panel-informer discount">скидка 20%</span>
					<span class="top-panel-informer hit">хит продаж</span>
					<div class="top-panel-colors">
						<span class="color red"></span>
						<span class="color grey"></span>
						<span class="color pink"></span>
						<span class="color blue"></span>
						<span class="color grey"></span>
						<span class="color pink"></span>
						<span class="color white"></span>
						<span class="color blue"></span>
					</div>
				</div>
				<a href="#" class="listing-item__img-container">
					<img src="%=static=%img/general/rolling/offer-tv.png" alt="rolling-image"	class="item-image">
				</a>
				<div class="listing-item__info">
					<a href="#" class="listing-link">
						<p class="info">Ноутбук Del Latitude E6410 14" i5 4GB RAM 160GB</p>
					</a>
					<div class="price">
						<div class="price__not-relevant">
							<span class="numb">14 925</span><span class="currency">грн</span>
						</div>
						<div class="price__relevant">
							<span class="numb">1100 999</span><span class="currency">грн</span>
						</div>
					</div>
					<div class="bonus">
						<img src="%=static=%img/general/icons/grn.svg" alt="rolling-product" class="bonus__icon">
						<span class="bonus__sum">+ 200</span>
						<span class="bonus__currency">грн бонусов</span>
					</div>
				</div>
				<div class="listing-item__ratting">
					<img src="%=static=%img/general/icons/StarFill.svg" alt="icon" class="ratting-star">
					<img src="%=static=%img/general/icons/StarFill.svg" alt="icon" class="ratting-star">
					<img src="%=static=%img/general/icons/StarFill.svg" alt="icon" class="ratting-star">
					<img src="%=static=%img/general/icons/Star.svg" alt="icon" class="ratting-star">
					<img src="%=static=%img/general/icons/Star.svg" alt="icon" class="ratting-star">
				</div>
				<div class="listing-item__reviews">
					<a href="#" class="reviews-link">
						<span class="review-number">178</span>
						<span class="review-text">отзывов</span>
					</a>
				</div>
				<div class="listing-item__credit">
					<a href="#" class="credit-link">
						<span class="credit-offer-text">Купить в кредит</span>
						<span class="credit-price">1084</span>
						<span class="credit-currency">грн</span>
						<span class="credit-multiplication">x</span>
						<span class="credit-amount">24</span>
						<span class="credit-payment">платеж</span>
					</a>
				</div>
				<div class="listing-item__delivery">
					<p class="delivery-text">Бесплатная доставка</p>
				</div>
				<div class="listing-item__able">
					<img src="%=static=%img/general/icons/checked.svg" alt="icon" class="able-icon">
					<span class="able-text">В наличии</span>
				</div>
				<div class="listing-item__bottom-panel">
					<div class="compare-icon">
						<i class="fa fa-check-circle" aria-hidden="true"></i>
					</div>
					<a href="#" class="buy-button">Купить</a>
				</div>
			</div>
		</div>
	</section>

</div>
<div class="show-more">
	<p class="show-more__text">Показать ещё</p>
</div>
{{>pagination/pagination}}
{{> listing/suggestion}}