<div class="product-props">
	<div class="product-props__kind">
		<h2 class="kind-title">Ноутбуки</h2>
	</div>
	<div class="product-props__preferences">
		<ul class="preference-list">
			<li class="preference-list__item">
				<a href="#" class="preference-link">
					<p class="preference-text">Приват банк, оплата частями</p>
				</a>
				<img src="%=static=%img/general/icons/error.svg" alt="" class="preference-close-icon">
			</li>
			<li class="preference-list__item">
				<a href="#" class="preference-link">
					<p class="preference-text">Приват банк, оплата частями</p>
				</a>
				<img src="%=static=%img/general/icons/error.svg" alt="" class="preference-close-icon">
			</li>
			<li class="preference-list__item">
				<a href="#" class="preference-link">
					<p class="preference-text">Intel Celeron</p>
				</a>
				<img src="%=static=%img/general/icons/error.svg" alt="" class="preference-close-icon">
			</li>
			<li class="preference-list__item">
				<a href="#" class="preference-link">
					<p class="preference-text">Приват банк, оплата частями</p>
				</a>
				<img src="%=static=%img/general/icons/error.svg" alt="" class="preference-close-icon">
			</li>
			<li class="preference-list__item">
				<a href="#" class="preference-link">
					<p class="preference-text">Intel Celeron</p>
				</a>
				<img src="%=static=%img/general/icons/error.svg" alt="" class="preference-close-icon">
			</li>
			<li class="preference-list__item">
				<a href="#" class="preference-link">
					<p class="preference-text">Intel Celeron</p>
				</a>
				<img src="%=static=%img/general/icons/error.svg" alt="" class="preference-close-icon">
			</li>
			<li class="preference-list__item">
				<a href="#" class="preference-link">
					<p class="preference-text">Приват банк, оплата частями</p>
				</a>
				<img src="%=static=%img/general/icons/error.svg" alt="" class="preference-close-icon">
			</li>
			<li class="preference-list__item">
				<a href="#" class="preference-link">
					<p class="preference-text">Intel Celeron</p>
				</a>
				<img src="%=static=%img/general/icons/error.svg" alt="" class="preference-close-icon">
			</li>
			<li class="preference-list__item">
				<a href="#" class="preference-link">
					<p class="preference-text">Intel Celeron</p>
				</a>
				<img src="%=static=%img/general/icons/error.svg" alt="" class="preference-close-icon">
			</li>
			<li class="preference-list__item">
				<a href="#" class="preference-link">
					<p class="preference-text">Приват банк, оплата частями</p>
				</a>
				<img src="%=static=%img/general/icons/error.svg" alt="" class="preference-close-icon">
			</li>
			<li class="preference-list__item">
				<a href="#" class="preference-link">
					<p class="preference-text">Intel Celeron</p>
				</a>
				<img src="%=static=%img/general/icons/error.svg" alt="" class="preference-close-icon">
			</li>
		</ul>
	</div>
	<div class="product-props__sort">
		<div class="sort-wrapper">
			<p class="sort-title">Сортировка</p>
			<div class="sort-elected">
				<p class="sort-elected__text"></p>
				<img src="%=static=%img/general/icons/arrow-down.png" alt="" class="sort-elected__icon">
			</div>
			<ul class="sort-dropdown">
				<li class="sort-dropdown__item">
					<span class="dropdown-text">От дешевых к дорогим</span>
					<img src="%=static=%img/general/icons/checked.svg" alt="icon" class="dropdown-icon">
				</li>
				<li class="sort-dropdown__item">
					<span class="dropdown-text">От дорогих к дешевым</span>
					<img src="%=static=%img/general/icons/checked.svg" alt="icon" class="dropdown-icon">
				</li>
				<li class="sort-dropdown__item active">
					<span class="dropdown-text">Популянрые</span>
					<img src="%=static=%img/general/icons/checked.svg" alt="icon" class="dropdown-icon">
				</li>
				<li class="sort-dropdown__item">
					<span class="dropdown-text">Новинки</span>
					<img src="%=static=%img/general/icons/checked.svg" alt="icon" class="dropdown-icon">
				</li>
				<li class="sort-dropdown__item">
					<span class="dropdown-text">По рейтингу</span>
					<img src="%=static=%img/general/icons/checked.svg" alt="icon" class="dropdown-icon">
				</li>
			</ul>
		</div>
		<div class="filter-block">
			<span class="filter-text">Фильтр</span>
			<img src="%=static=%img/general/icons/filter.svg" alt="" class="filter-image">
		</div>
	</div>
</div>
<script>
$(document).ready(function() {
	var sidebar = $(".listing-content .sidebar");
	var filterToggler = $(".filter-block .filter-text, .filter-block .filter-image");

	filterToggler.click(function() {
		$(".product-listing, .footer-wrapper").hide();
		sidebar.wrap("<div class='sidebar-wrapper'></div>");
		sidebar.toggle();
		$(window).resize(function() {
			if (window.innerWidth > 768) {
				sidebar.show();
				$(".product-listing, .footer-wrapper").show();
			} else if (window.innerWidth <= 768) {
				$(".product-listing, .footer-wrapper").hide();
				sidebar.show();
			}
		});
	});

	$(".sidebar .close-icon").click(function() {
		sidebar.unwrap();
		sidebar.hide();
		$(".product-listing, .footer-wrapper").show();

		$(window).resize(function() {
			if (window.innerWidth > 768) {
				sidebar.show();
			} else if (window.innerWidth <= 768) {
				sidebar.hide();
				$(".product-listing, .footer-wrapper").show();
			}
		});
	});
});
</script>
<script>
	/* product-props dropdown js */
$(document).ready(function(){
	/* product-props icon js */
	$(".preference-list__item").click(function(e){
		if (e.target.classList.contains("preference-close-icon") ){
			$(this).hide();
		} else {
			return;
		}
	});

	var electedText = $(".sort-elected__text").text();
	$(".sort-elected").click(function(){
		$(".sort-dropdown").toggleClass("visible");
		$(".sort-elected__icon").toggleClass("rotate");

		if (window.innerWidth <= 768) {
			$(".mask").toggleClass("full");
			$(".mask").click(function() {
				$(".sort-dropdown").removeClass("visible");
				$(".sort-elected__icon").removeClass("rotate");
				$(".mask").removeClass("full");
			});
		}
	});
	//insert elected text to the field
	var originText = $(".sort-dropdown__item.active").find(".dropdown-text").text();
	$(".sort-elected__text").text(originText);

	// click event on dropdown item
	$(".sort-dropdown__item").click(function(){
		var textPattern = $(this).find(".dropdown-text").text();

		if (window.innerWidth <= 768) {
			setTimeout(function() {
				$(".mask").removeClass("full");
			}, 300);
		}

		$(".sort-dropdown__item").removeClass("active");
		$(this).addClass("active");

		$(".sort-elected__text").text(textPattern);
		setTimeout(function(){
			$(".sort-dropdown").toggleClass("visible");
			$(".sort-elected__icon").toggleClass("rotate");
		}, 300);
	});
});
</script>