<div class="suggestions">
	<a href="#" class="suggestions__variant">Ноутбуки</a>
	<a href="#" class="suggestions__variant">Техника</a>
	<a href="#" class="suggestions__variant">Видеокарты</a>
	<a href="#" class="suggestions__variant">Ноутбуки</a>
	<a href="#" class="suggestions__variant">Техника</a>
	<a href="#" class="suggestions__variant">Видеокарты</a>
	<a href="#" class="suggestions__variant">Ноутбуки</a>
	<a href="#" class="suggestions__variant">Техника</a>
	<a href="#" class="suggestions__variant">Видеокарты</a>
	<a href="#" class="suggestions__variant">Ноутбуки</a>
	<a href="#" class="suggestions__variant">Техника</a>
	<a href="#" class="suggestions__variant">Видеокарты</a>
	<a href="#" class="suggestions__variant">Ноутбуки</a>
	<a href="#" class="suggestions__variant">Техника</a>
	<a href="#" class="suggestions__variant">Видеокарты</a>
	<a href="#" class="suggestions__variant">Ноутбуки</a>
	<a href="#" class="suggestions__variant">Техника</a>
	<a href="#" class="suggestions__variant">Видеокарты</a>
	<a href="#" class="suggestions__variant">Ноутбуки</a>
	<a href="#" class="suggestions__variant">Техника</a>
	<a href="#" class="suggestions__variant">Видеокарты</a>
	<a href="#" class="suggestions__variant">Ноутбуки</a>
	<a href="#" class="suggestions__variant">Техника</a>
	<a href="#" class="suggestions__variant">Видеокарты</a>
	<a href="#" class="suggestions__variant">Ноутбуки</a>
	<a href="#" class="suggestions__variant">Техника</a>
	<a href="#" class="suggestions__variant">Видеокарты</a>
	<a href="#" class="suggestions__variant">Ноутбуки</a>
	<a href="#" class="suggestions__variant">Техника</a>
	<a href="#" class="suggestions__variant">Видеокарты</a>
	<a href="#" class="suggestions__variant">Ноутбуки</a>
	<a href="#" class="suggestions__variant">Техника</a>
	<a href="#" class="suggestions__variant">Видеокарты</a>
	<a href="#" class="suggestions__variant">Ноутбуки</a>
	<a href="#" class="suggestions__variant">Техника</a>
	<a href="#" class="suggestions__variant">Видеокарты</a>
</div>
