 <div class="feedback-in container">
 	<h2>Оформление заказа</h2>
 	<div class="feedback-in__block">
 		<p>Возникли вопросы, есть замечания или предложения, нужна квалифицированная консультация специалиста? - Заполните форму, приведенную ниже или воспользуйтесь адресом электронной почты info@foxtrot.com.ua. Эта страничка предусмотрена не только для общения с Вами, но и для возможности помочь Вам. Мы приложим максимум усилий, чтобы оперативно и в полном объеме Вам помочь.</p>
 		<div class="feedback-in__block_info">
 			<p>Обращаем Ваше внимание! Перед тем как задать вопрос, предлагаем Вам посетить раздел сайта под названием «<a href="#"> Гид покупателя </a>». Возможно, ответ на Ваш вопрос находится именно здесь.</p>
 		</div>
 		<div class="feedback-in__form_row">
	        <label>Город:</label>
	        <select class="js-example-basic-single js-states form-control">
		        <option></option>
		        <option value="AL">Alabama</option>
		        <option value="WY">Wyoming</option>
	        </select>
	    </div>
	    <div class="feedback-in__form_row">
	        <label>Адрес:</label>
	        <select class="js-example-basic-single js-states form-control">
		        <option></option>
		        <option value="AL">Alabama</option>
		        <option value="WY">Wyoming</option>
	        </select>
	    </div>
	    <div class="feedback-in__form_row">
	        <label>Типология запроса:</label>
	        <select class="js-example-basic-single js-states form-control">
		        <option></option>
		        <option value="AL">Alabama</option>
		        <option value="WY">Wyoming</option>
	        </select>
	    </div>
	    <script type="text/javascript">
	    	$(document).ready(function() {
			    $('.js-example-basic-single').select2({
			      placeholder: "В какой город отправить ваш заказ?"
			    });
			});
	    </script>
	    <div class="feedback-in__form_credit_radio">
	    	<p>Консультация</p>
	        <div class="input-radio">
	          <input class="styled-radio js-radio1" id="zapb1" type="radio" name="contact2" value="Паспорт" checked="checked">
	          <label class="clearfix" for="zapb1"><span>Наличие и стоимость техники в розничном магазине </span></label>
	        </div>
	        <div class="input-radio">
	          <input class="styled-radio js-radio2" id="zapb2" type="radio" name="contact2" value="ID паспорт">
	          <label class="clearfix" for="zapb2"><span>Механика акций и специальных предложений</span></label>
	        </div>

	        <div class="input-radio">
	          <input class="styled-radio js-radio2" id="zapb3" type="radio" name="contact2" value="ID паспорт">
	          <label class="clearfix" for="zapb3"><span>Адрес сервисного центра</span></label>
	        </div>
	        <div class="input-radio">
	          <input class="styled-radio js-radio2" id="zapb4" type="radio" name="contact2" value="ID паспорт">
	          <label class="clearfix" for="zapb4"><span>Запрос инструкции по эксплуатации</span></label>
	        </div>
	        <div class="input-radio">
	          <input class="styled-radio js-radio2" id="zapb5" type="radio" name="contact2" value="ID паспорт">
	          <label class="clearfix" for="zapb5"><span>Заказ товара в Интернет магазине</span></label>
	        </div>
	        <div class="input-radio">
	          <input class="styled-radio js-radio2" id="zapb6" type="radio" name="contact2" value="ID паспорт">
	          <label class="clearfix" for="zapb6"><span>Коммерческое предложение</span></label>
	        </div>
	        <div class="input-radio">
	          <input class="styled-radio js-radio2" id="zapb7" type="radio" name="contact2" value="ID паспорт">
	          <label class="clearfix" for="zapb7"><span>По работе сайта</span></label>
	        </div>
	        <div class="input-radio">
	          <input class="styled-radio js-radio2" id="zapb8" type="radio" name="contact2" value="ID паспорт">
	          <label class="clearfix" for="zapb8"><span>По услугам Компании («Extra-сервис», «Технозахист», установка крупнобытовой техники)</span></label>
	        </div>
	        <div class="input-radio">
	          <input class="styled-radio js-radio2" id="zapb9" type="radio" name="contact2" value="ID паспорт">
	          <label class="clearfix" for="zapb9"><span>По условиям доставки техники</span></label>
	        </div>
	        <div class="input-radio">
	          <input class="styled-radio js-radio2" id="zapb10" type="radio" name="contact2" value="ID паспорт">
	          <label class="clearfix" for="zapb10"><span>По подарочным сертификатам</span></label>
	        </div>
	        <div class="input-radio">
	          <input class="styled-radio js-radio2" id="zapb11" type="radio" name="contact2" value="ID паспорт">
	          <label class="clearfix" for="zapb11"><span>Исключить номер из получателей рассылки sms</span></label>
	        </div>
	        <div class="input-radio">
	          <input class="styled-radio js-radio2" id="zapb12" type="radio" name="contact2" value="ID паспорт">
	          <label class="clearfix" for="zapb12"><span>Добавить номер в список получателей рассылки sms</span></label>
	        </div>
	        <div class="input-radio">
	          <input class="styled-radio js-radio2" id="zapb12" type="radio" name="contact2" value="ID паспорт">
	          <label class="clearfix" for="zapb12"><span>Другое</span></label>
	        </div>
        </div>

        <div class="feedback-in__form_coment">
        	<p>Описание:</p>
          <div class="feedback-in__form_coment_block js-coment-textarea">
            <textarea></textarea>
          </div>
        </div>

        <div class="feedback-in__form_block">
        	<div class="feedback-in__form_coment_block_row">
        		<div class="feedback-in__form_row">
	                <label>Фамилия:</label>
	                <input type="text" >
	             </div>
        		<div class="feedback-in__form_row">
	                <label>Имя</label>
	                <input type="text" >
              </div>
        	</div>
        </div>
        <div class="feedback-in__form_block">
        	<div class="feedback-in__form_coment_block_row">
        		<div class="feedback-in__form_row">
	                <label>Контактный телефон</label>
	                <input type="text" >
	             </div>
        		<div class="feedback-in__form_row">
	                <label>Электронная почта</label>
	                <input type="text" >
              </div>
        	</div>
        </div>
        <div class="feedback-in__form_block-button">
        	<button class="btn">Отправить</button>
        </div>

 	</div>
    
</div>