<script>
	$(document).ready(function() {
		var dropCheckbox = $(".sidebar__head .drop");
		var checkbox = $(".sidebar .dropdown-list input[type='checkbox']");

		dropCheckbox.click(function() {
			checkbox.prop('checked', false);
			$(".dropdown-list__item").find("span").removeClass("checked");
		});
	});
</script>
<script>
/* sidebar for listing page js */
$(document).ready(function(){
	//dropdowns js
	$(".sidebar__dropdown").each(function(index){
		if (window.innerWidth > 768) {
			if (index < 5){
				$(this).children(".dropdown-head-container").children(".arrow-icon").toggleClass("rotate");
				$(this).children(".dropdown-main-container").addClass("visible");
			}
		}
		if (window.innerWidth <= 768) {
			if (index < 3){
				$(this).children(".dropdown-head-container").children(".arrow-icon").toggleClass("rotate");
				$(this).children(".dropdown-main-container").addClass("visible");
			}
		}
	});

	$(".sidebar__dropdown").click(function(event){
		if (event.target.classList.contains("arrow-icon") || event.target.classList.contains("title") ){
			$(this).children(".dropdown-main-container").slideToggle();
			$(this).children(".dropdown-head-container").children(".arrow-icon").toggleClass("rotate");
			countVisibleItems();
		} else {
			return;
		}
	});

	// dropdown attributes js
	let inputElem = $(".sidebar .checked-block > input[type='checkbox'], .sidebar .checked-block > input[type='radio']");
	let labelElem = $(".sidebar .checked-block > label");
	inputElem.each(function(index, value){
		$(this).attr("id", "sidebar-check-input-" + index);
	});
	labelElem.each(function(index, value){
		$(this).attr("for", "sidebar-check-input-" + index);
	});

	// change font of the checked field
	$(".dropdown-list__item").each(function(i) {
		$(this).find("label").click(function() {
			$(".dropdown-list__item").eq(i).find("span").toggleClass("checked");
		});
	});

	// code for the 'more' dropdown toggler

	let moreDDToggler = $(".sidebar .more-item");
	let dDown = $(".sidebar__dropdown");

	// configuration for the 'more' dropdown toggler
	dDown.each(function(i) {

		if (dDown.eq(i).find(".checked-block").length <= 4) {

			$(this).find(".more-item").hide();
		} else {

			var aboutWrapper = $(".sidebar .dropdown-list");
			var aboutWrapperHide = $(".dropdown-list.overflow");

			aboutWrapper.toggleClass("overflow");

			dDown.eq(i).find(".more-item").click(function() {
				$(this).children(".more__icon").toggleClass("rotate");

				aboutWrapper.eq(i).toggleClass("overflow");

				$(this).children(".more__text.opened").toggle();
				$(this).children(".more__text.closed").toggle();
				aboutWrapper.eq(i).removeAttr("style");
				countVisibleItems();
			});

		}

	});

	//count visible items

	function countVisibleItems() {
		var ddList = $(".sidebar .dropdown-list");
		var itemCount = 4;

		ddList.each(function(i) {
			if (ddList.eq(i).hasClass("overflow") ) {

				var ddItems = ddList.eq(i).find(".dropdown-list__item");
				var arr = [];

				ddItems.each(function(j) {

					if (j < itemCount) {

						arr.push(ddItems.eq(j).outerHeight(true) );
					}
				});

				var sum = 0;
				$.each(arr, function(ind, it) {
					sum = sum + it;
				});

				ddList.eq(i).css({
					"height": sum + "px",
			});
			}
		});
	}
	countVisibleItems();

	$(window).resize(countVisibleItems);


	/* slider range js */
	$( function() {
	$( ".slider-range" ).slider({
		range: true,
		min: 0,
		max: 50000,
		values: [ 10000, 30000 ],
		slide: function( event, ui ) {
		$( ".amount-1" ).val( ui.values[ 0 ] );
		$( ".amount-2" ).val( ui.values[ 1 ] );
		}
	});
	$( ".amount-1" ).val( $( ".slider-range" ).slider( "values", 0 ) );
	$( ".amount-2" ).val( $( ".slider-range" ).slider( "values", 1 ) );
	} );
});
</script>