<script>
/* sidebar for listing page js */
$(document).ready(function(){
	//dropdowns js
	$(".sidebar__dropdown").each(function(index){
		if (window.innerWidth > 768) {
			if (index < 5){
				$(this).children(".dropdown-head-container").children(".arrow-icon").toggleClass("rotate");
				$(this).children(".dropdown-main-container").addClass("visible");
			}
		}
		if (window.innerWidth <= 768) {
			if (index < 3){
				$(this).children(".dropdown-head-container").children(".arrow-icon").toggleClass("rotate");
				$(this).children(".dropdown-main-container").addClass("visible");
			}
		}
	});

	$(".sidebar__dropdown").click(function(event){
		if (event.target.classList.contains("arrow-icon") || event.target.classList.contains("title") ){
			$(this).children(".dropdown-main-container").slideToggle();
			$(this).children(".dropdown-head-container").children(".arrow-icon").toggleClass("rotate");
		} else {
			return;
		}
	});

	// dropdown attributes js
	let inputElem = $(".checked-block > input[type='checkbox']");
	let labelElem = $(".checked-block > label");
	inputElem.each(function(index, value){
		$(this).attr("id", "sidebar-check-input-" + index);
	});
	labelElem.each(function(index, value){
		$(this).attr("for", "sidebar-check-input-" + index);
	});

	// change font of the checked field
	$(".dropdown-list__item").each(function(i) {
		$(this).find("label").click(function() {
			$(".dropdown-list__item").eq(i).find("span").toggleClass("checked");
		});
	});

	// code for the 'more' dropdown toggler

	let moreDDToggler = $(".sidebar .more-item");
	let dDown = $(".sidebar__dropdown");

	// configuration for the 'more' dropdown toggler
	dDown.each(function(i) {

		if (dDown.eq(i).find(".checked-block").length <= 4) {

			$(this).find(".more-item").hide();
		} else {
			// old
			var aboutWrapper = $(".sidebar .dropdown-list");

			aboutWrapper.toggleClass("overflow");

			dDown.eq(i).find(".more-item").click(function() {
				$(this).children(".more__icon").toggleClass("rotate");

				aboutWrapper.eq(i).toggleClass("overflow");

				$(this).children(".more__text.opened").toggle();
				$(this).children(".more__text.closed").toggle();
			});
			//old
		}
	});

	/* slider range js */
	$( function() {
	$( ".slider-range" ).slider({
		range: true,
		min: 0,
		max: 50000,
		values: [ 10000, 30000 ],
		slide: function( event, ui ) {
		$( ".amount-1" ).val( ui.values[ 0 ] );
		$( ".amount-2" ).val( ui.values[ 1 ] );
		}
	});
	$( ".amount-1" ).val( $( ".slider-range" ).slider( "values", 0 ) );
	$( ".amount-2" ).val( $( ".slider-range" ).slider( "values", 1 ) );
	} );
});
</script>