<script>
document.addEventListener( 'DOMContentLoaded' , function() {
    // scroll hide/show navigation panel
    let didScroll;
    let lastScrollTop = 0;
    let delta = 5;
    let navbarHeight = $('.navigation').outerHeight();

    $(window).scroll(function(){
        didScroll = true;
    });

    setInterval(function() {
        if (didScroll) {
            hasScrolled();
            didScroll = false;
        }
    }, 400);

    function hasScrolled() {
        let st = $(this).scrollTop();

        if(Math.abs(lastScrollTop - st) <= delta)
            return;
        
        if (st > lastScrollTop && st > navbarHeight && !$('.mobile-menu').hasClass('active') ){
            $('.navigation').addClass('nav-up');
            $('.mask').removeClass('full');
            $('.navigation .catalog-submenu-wrapper').removeClass('toggle');
            $(".catalog-submenu .submenu-item").find(".category-menu-wrapper").removeClass("visible");
        } else {

            if(st + $(window).height() < $(document).height()) {
                $('.navigation').removeClass('nav-up');
            }
        }

        lastScrollTop = st;
    }
});
</script>
<script>
document.addEventListener( 'DOMContentLoaded' , function() {
    let navigationPanel = document.querySelector('.navigation');
    let navigationDropDown = document.querySelector('.catalog-submenu-wrapper');
    window.onscroll = function(){

        if ( navigationPanel.classList.contains('nav-up') ) {
            navigationDropDown.classList.add('slide-up');
         } else {
            navigationDropDown.classList.remove('slide-up');
        }

        if ( navigationDropDown.classList.contains('slide-up') && navigationDropDown.classList.contains('toggle') ){
            document.querySelector('.mask').classList.remove('full');
        } else if ( navigationDropDown.classList.contains('toggle') ){
            document.querySelector('.mask').classList.add('full');
        }
    }
});
</script>
<script>
    $(document).ready(function(){
        //mask js
        $('.mask').click(function(){
            $(this).removeClass('full');
            $('.catalog-submenu-wrapper').removeClass('toggle');
        });
    });
</script>
<script>
$(document).ready(function(){

    function megaMenuDropDown() {
        $('.navigation .catalog-submenu-wrapper').toggleClass('toggle');

        if ( $('.navigation .catalog-submenu-wrapper').hasClass('toggle') && window.innerWidth > 768 ) {
            $('.mask').addClass('full');
        } else if (!$('.navigation .catalog-submenu-wrapper').hasClass('toggle') && window.innerWidth > 768 ) {
            $('.mask').removeClass('full');
            $('.mobile-menu').removeClass('active');
        }
    }

    $('.navigation__catalog .megamenu-toggler').click(function(e){

        if ($("body").hasClass("home-page") ){
            var categoryBottom = $(".category-container").get(0).getBoundingClientRect().bottom;
            var buffersHeight = $(".navigation-buffer").outerHeight(true) + $(".header-buffer").outerHeight(true);

            if (categoryBottom <= buffersHeight) {
                megaMenuDropDown();
            }

        } else if (!$("body").hasClass("home-page")) {

            megaMenuDropDown();
        }
    });

    function hoverNavCatalog() {
        $('.navigation .catalog-submenu-wrapper').addClass('toggle');

        if ( $('.navigation .catalog-submenu-wrapper').hasClass('toggle') && window.innerWidth > 768 ) {
            $('.mask').addClass('full');
        }
    }
    $('.navigation__catalog .megamenu-toggler').mouseenter(function(e){

        if ($("body").hasClass("home-page") ){
            var categoryBottom = $(".category-container").get(0).getBoundingClientRect().bottom;
            var buffersHeight = $(".navigation-buffer").outerHeight(true) + $(".header-buffer").outerHeight(true);

            if (categoryBottom <= buffersHeight) {
                hoverNavCatalog();
            }

        } else if (!$("body").hasClass("home-page")) {

            hoverNavCatalog();
        }
    });

    function leaveNavCatalog() {
        $('.navigation .catalog-submenu-wrapper').removeClass('toggle');

        if ( !$('.navigation .catalog-submenu-wrapper').hasClass('toggle') && window.innerWidth > 768 ) {
            $('.mask').removeClass('full');
        }
    }

    $('.navigation__catalog').mouseleave(function(e){

        if ($("body").hasClass("home-page") ){
            var categoryBottom = $(".category-container").get(0).getBoundingClientRect().bottom;
            var buffersHeight = $(".navigation-buffer").outerHeight(true) + $(".header-buffer").outerHeight(true);

            if (categoryBottom <= buffersHeight) {
                leaveNavCatalog();
            }

        } else if (!$("body").hasClass("home-page")) {

            leaveNavCatalog();
        }
    });

    var catalogItem = $(".catalog-submenu .submenu-item");

    catalogItem.each(function(i) {

        catalogItem.eq(i).mouseenter(function() {
            catalogItem.find(".category-menu-wrapper").removeClass("visible");
            $(this).find(".category-menu-wrapper").addClass("visible");
                $(".mask").addClass("full");
        });
        catalogItem.eq(i).mouseleave(function() {
            $(this).find(".category-menu-wrapper").removeClass("visible");
        });
    });
});
</script>