<script>
document.addEventListener( 'DOMContentLoaded', function() {
    // vertical slider js
    var getStyle = getComputedStyle(document.querySelector('.category-widgets-item'));
    var marginTopSlideElem = +getStyle.marginTop.match(/\d/)*2;

    var slideElemHeight = document.getElementsByClassName('category-widgets-item')[0].offsetHeight + marginTopSlideElem;
    var lis = document.getElementsByClassName('category-widgets-item');
    for (var i = 0; i < lis.length; i++) {
      lis[i].style.position = 'relative';
      var span = document.createElement('span');
      span.style.cssText = 'position:absolute;left:0;top:0';
      span.innerHTML = i + 1;
      lis[i].appendChild(span);
    }
    var height = slideElemHeight;
    var count = 1;

    var carousel = document.querySelector('.category-widgets');
    var list = document.querySelector('.widget-carousel');
    var listElems = carousel.querySelectorAll('li');

    var position = 0;
    carousel.querySelector('.prev').onclick = function() {
      position = Math.min(position + height * count, 0)
      list.style.marginTop = position + 'px';
    };
 
    carousel.querySelector('.next').onclick = function() {
      position = Math.max(position - height * count, -height * (listElems.length - count));
      list.style.marginTop = position + 'px';
    };
});
</script>